In [1]:
n="vinod KUMAR is my name"
n.swapcase()

'VINOD kumar IS MY NAME'

check palindrome :

In [1]:
def palindrome():
    n = input("give some data to check palindrome : ")
    if n == n[::-1]:
        print("it is  palindrome")
    else:
        print("not palindrome")
        
palindrome()

give some data to check palindrome : malayalam
it is  palindrome

Reverse a string without usig reverse function :

In [3]:
i = input("give some data to reverse your data : ")
s = i[::-1]
print("your reverse data is : ",s)

give some data to reverse your data : vinod kumar
your reverse data is :  ramuk doniv

In [3]:
a="we are all a part of full stack"
a.upper()

'WE ARE ALL A PART OF FULL STACK'

In [4]:
a.lower()

'we are all a part of full stack'

In [7]:
a.count("a")

5

In [13]:
a.find("a")

3

In [14]:
a.replace("a", "i")

'we ire ill i pirt of full stick'

In [26]:
a.split()

['we', 'are', 'all', 'a', 'part', 'of', 'full', 'stack']

In [27]:
v=list(a)

In [28]:
print(v,end="")

['w', 'e', ' ', 'a', 'r', 'e', ' ', 'a', 'l', 'l', ' ', 'a', ' ', 'p', 'a', 'r', 't', ' ', 'o', 'f', ' ', 'f', 'u', 'l', 'l', ' ', 's', 't', 'a', 'c', 'k']

In [29]:
n

'vinod kumar is my name'

In [33]:
vowels = "AaEeIiOoUu"
for i in n:
    if i in vowels:
        print("{} is vowel.".format(i))
    else:
        print("{} is not".format(i))

v is not
i is vowel.
n is not
o is vowel.
d is not
  is not
k is not
u is vowel.
m is not
a is vowel.
r is not
  is not
i is vowel.
s is not
  is not
m is not
y is not
  is not
n is not
a is vowel.
m is not
e is vowel.

In [38]:
a=input("enter data : ")
a1 = a[::-1]
if a == a1:
    print("it is same or palindrome")
else:
    print("it is not same or palindrome.")

enter data : dad
it is same or palindrome

In [45]:
a

'dad'

In [1]:
lst=[1,3,6,8,9,4,5,2]

In [2]:
lst

[1, 3, 6, 8, 9, 4, 5, 2]

In [4]:
lst.sort()

In [5]:
lst

[1, 2, 3, 4, 5, 6, 8, 9]

In [6]:
lst.reverse()

In [7]:
lst

[9, 8, 6, 5, 4, 3, 2, 1]

In [9]:
t=()

In [10]:
type(t)

tuple

In [3]:
l=[1,2,3,4,5,6,6,4,3,5,2,3,1]

In [4]:
set(l)

{1, 2, 3, 4, 5, 6}

In [6]:
l.index(3) ##this number position is in 2nd index

2

In [7]:
v={2,3,4}

In [8]:
type(v)

set

In [33]:
a=input("enter the data : ")

enter the data : enter the data : this si a just simple paragrpah i have written now and thats it enough bye

In [38]:
a1 = a.split() ##converts to list
a1

['enter',
 'the',
 'data',
 ':',
 'this',
 'si',
 'a',
 'just',
 'simple',
 'paragrpah',
 'i',
 'have',
 'written',
 'now',
 'and',
 'thats',
 'it',
 'enough',
 'bye']

In [40]:
a2=set(a1)
a2  ## remove duplicates

{':',
 'a',
 'and',
 'bye',
 'data',
 'enough',
 'enter',
 'have',
 'i',
 'it',
 'just',
 'now',
 'paragrpah',
 'si',
 'simple',
 'thats',
 'the',
 'this',
 'written'}

In [42]:
a3={}
for i in a2:
    a3[i]="vinod"
a3   ## for keys we give values as our name

{'have': 'vinod',
 'thats': 'vinod',
 'simple': 'vinod',
 'now': 'vinod',
 ':': 'vinod',
 'written': 'vinod',
 'the': 'vinod',
 'i': 'vinod',
 'this': 'vinod',
 'just': 'vinod',
 'it': 'vinod',
 'a': 'vinod',
 'data': 'vinod',
 'paragrpah': 'vinod',
 'enough': 'vinod',
 'si': 'vinod',
 'enter': 'vinod',
 'and': 'vinod',
 'bye': 'vinod'}

In [54]:
t1=tuple(a3.keys()) ##gives all values in key format.

In [55]:
t1

('have',
 'thats',
 'simple',
 'now',
 ':',
 'written',
 'the',
 'i',
 'this',
 'just',
 'it',
 'a',
 'data',
 'paragrpah',
 'enough',
 'si',
 'enter',
 'and',
 'bye')

In [56]:
s={1,2,3,4}

In [57]:
type(s)

set

In [60]:
dict={'name':'vinod'}

In [61]:
type(dict)

dict

In [6]:
spam=int(input("ENTER THE SPAM BETWEEN 1 TO 9 : "))
if spam == 1:
    print("Hello")
elif spam == 2:
    print("Howdy")
else:
    print("Greetings!")

ENTER THE SPAM BETWEEN 1 TO 9 : 3
Greetings!

In [16]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [10]:
def test(n,m):
    return n*2, m*4, m+n

In [21]:
test(2,4)

(4, 16, 6)

In [22]:
c,x,_ =test(2,2)

In [23]:
c

4

In [24]:
x

8

In [25]:
_

4

In [26]:
def test1(n,m=10):
    return n+m

In [27]:
test1(20)

30

In [29]:
def test2(n:10,m):
    return m+n

In [22]:
def d1(*args):
    dt={}
    for i in args:
        if type(i) in dt:
            dt[type(i)].append(i)
        else:
            dt[type(i)] = [i]
    return dt

In [24]:
d1(1,2,3,True,6+7j,"false",5.6)

{int: [1, 2, 3], bool: [True], complex: [(6+7j)], str: ['false'], float: [5.6]}

In [4]:
def fun(*args):
    dt={}
    for i in args:
        if type(i) in dt:
            dt[type(i)].append(i)
        else:
            dt[type(i)] = [i]
    return dt

fun(1,2,3,True,6+7j,"false",5.6)

{int: [1, 2, 3], bool: [True], complex: [(6+7j)], str: ['false'], float: [5.6]}

In [26]:
v=lambda a,b,c,d : a+b-c*d

In [30]:
v(4,3,2,1)

5

In [32]:
help(v)

Help on function <lambda> in module __main__:

<lambda> lambda a, b, c, d

In [6]:
a=10
next(a) # it can't store value one after other posiions

TypeError: 'int' object is not an iterator

In [14]:
a1="vinod"
for i in a1:  
    print(i)      ## it can store values one after other positions

v
i
n
o
d

In [15]:
v=iter(i)   ## we can iter string data

In [16]:
next(v)    ## we can get data one after another

'd'

In [11]:
iter(a)

TypeError: 'int' object is not iterable

In [17]:
a=(1,2,3,4,5)
a0=iter(a)

In [18]:
next(a0)

1

In [23]:
a={'x':'vinod','b':'kumar'}
a1=iter(a.values())

In [25]:
next(a1)

'kumar'

In [28]:
def fun(n):
    l=[]
    for i in range(n):
        l.append(i)
    return l

In [29]:
fun(6)

[0, 1, 2, 3, 4, 5]

In [3]:
def genfib(n):
    a=1
    b=1
    l=[]
    for i in range(n):
        l.append(a)
        a,b=b,a+b
    return l

In [4]:
genfib(6)

[1, 1, 2, 3, 5, 8]

In [9]:
def genfib(n):
    a=1
    b=1
    l=[]
    for i in range(n):
        yield a
        a,b=b,a+b

In [10]:
genfib(8)
## it stores data

In [11]:
for i in genfib(8):
    print(i)  ## using for loop we can retreive the data

1
1
2
3
5
8
13
21

In [5]:
# print one number with your name
a=input("enter the value : ")
b=input("enter the name : ")
c=a+b
print (c, end =" ")  # end do nothing here

enter the value : 7
enter the name : vinod
7vinod

In [20]:
a="vinod kumar"

In [21]:

a.center(2) # acts as a padding

'vinod kumar'

In [22]:
b="VINOD KUMAR"
b.casefold() #converts string everything into small letters

'vinod kumar'

In [28]:
b.lower()

'vinod kumar'

In [34]:
a.zfill(12)

'0vinod kumar'

# os.commands

In [1]:
import os

In [5]:
os.getcwd()

'C:\\Users\\Dell'

In [10]:
pwd

'C:\\Users\\Dell'

In [11]:
os.getcwd()

'C:\\Users\\Dell'

In [12]:
os.chdir("c:\\users")

In [13]:
pwd

'c:\\users'

In [14]:
os.chdir('C:\\Users\\Dell')

In [15]:
pwd

'C:\\Users\\Dell'

In [16]:
os.mkdir("file.01")

In [17]:
pwd

'C:\\Users\\Dell'

In [19]:
os.chdir("c:\\users\\dell\\downloads")  #change running dir

In [20]:
pwd

'c:\\users\\dell\\downloads'

In [29]:

os.remove("test.log")
#os.close("logging")

PermissionError: [WinError 32] The process cannot access the file because it is being used by another process: 'test.log'

In [8]:
pwd

'C:\\Users\\Dell'

# logging and debugging

In [1]:
import logging as lg

In [2]:
import os
os.mkdir("logging")

In [3]:
# move inside the file
os.chdir(os.getcwd() + '/' + 'logging')

In [10]:
lg.basicConfig(filename = "test.log.", level = lg.INFO, 
               format = '%(asctime)s %(message)s')

In [11]:
lg.info("I started  writing code")  #

In [12]:
pwd

'C:\\Users\\Dell\\logging'

In [13]:
lg.warning("this is warning command")

In [14]:
lg.error("this is error command")

In [15]:
lg.basicConfig(filename = "test.log.", level = lg.ERROR, 
               format = '%(asctime)s %(message)s')

In [16]:
 def test(a,b):
        div=a/b
        return div

In [17]:
test(4,0)  # it didn't recoed the error so, try

ZeroDivisionError: division by zero

In [22]:
 def test(a,b):
        try:
            div=a/b
            return div
        except Exception as e:
            print("fail to execute")
            lg.exception(str(e))

In [23]:
test(4,0)

fail to execute

In [1]:
import os

In [2]:
pwd

'C:\\Users\\Dell'

In [3]:
os.chdir(os.getcwd() + '\\' + 'logging')

In [4]:
pwd

'C:\\Users\\Dell\\logging'

# logging to print logg info in console itself

In [2]:
import logging as lg
lg.basicConfig(filename = "test1.log.", level = lg.DEBUG, 
               format = '%(asctime)s %(name)s %(levelname)s %(message)s')
console_log = lg.StreamHandler()
console_log.setLevel(lg.DEBUG)
format = lg.Formatter('%(asctime)s %(message)s')
console_log.setFormatter(format)
lg.getLogger('').addHandler(console_log)
lg.info('this is starting code')
logger1 = lg.getLogger('user1 : ')
logger2 = lg.getLogger('user2 : ')
logger1.info('user 1 info')
logger2.info('user 2 info')
logger1.info('user 1 info 11')
logger2.info('user 2 info 22 ')

2022-07-01 22:09:32,023 this is starting code
2022-07-01 22:09:32,031 user 1 info
2022-07-01 22:09:32,034 user 2 info
2022-07-01 22:09:32,037 user 1 info 11
2022-07-01 22:09:32,040 user 2 info 22

In [3]:
!pip install ipdb

Requirement already satisfied: ipdb in c:\users\dell\anaconda3\lib\site-packages (0.13.9)
Requirement already satisfied: setuptools in c:\users\dell\anaconda3\lib\site-packages (from ipdb) (58.0.4)
Requirement already satisfied: decorator in c:\users\dell\anaconda3\lib\site-packages (from ipdb) (5.1.1)
Requirement already satisfied: ipython>=7.17.0 in c:\users\dell\anaconda3\lib\site-packages (from ipdb) (8.1.1)
Requirement already satisfied: toml>=0.10.2 in c:\users\dell\anaconda3\lib\site-packages (from ipdb) (0.10.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\dell\anaconda3\lib\site-packages (from ipython>=7.17.0->ipdb) (3.0.20)
Requirement already satisfied: pickleshare in c:\users\dell\anaconda3\lib\site-packages (from ipython>=7.17.0->ipdb) (0.7.5)
Requirement already satisfied: jedi>=0.16 in c:\users\dell\anaconda3\lib\site-packages (from ipython>=7.17.0->ipdb) (0.18.1)
Requirement already satisfied: stack-data in c:\users\dell\anaconda3\lib\site-packages (from ipython>=7.17.0->ipdb) (0.2.0)
Requirement already satisfied: matplotlib-inline in c:\users\dell\anaconda3\lib\site-packages (from ipython>=7.17.0->ipdb) (0.1.2)
Requirement already satisfied: backcall in c:\users\dell\anaconda3\lib\site-packages (from ipython>=7.17.0->ipdb) (0.2.0)
Requirement already satisfied: pygments>=2.4.0 in c:\users\dell\anaconda3\lib\site-packages (from ipython>=7.17.0->ipdb) (2.11.2)
Requirement already satisfied: colorama in c:\users\dell\anaconda3\lib\site-packages (from ipython>=7.17.0->ipdb) (0.4.4)
Requirement already satisfied: traitlets>=5 in c:\users\dell\anaconda3\lib\site-packages (from ipython>=7.17.0->ipdb) (5.1.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\dell\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=7.17.0->ipdb) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\dell\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=7.17.0->ipdb) (0.2.5)
Requirement already satisfied: executing in c:\users\dell\anaconda3\lib\site-packages (from stack-data->ipython>=7.17.0->ipdb) (0.8.3)
Requirement already satisfied: pure-eval in c:\users\dell\anaconda3\lib\site-packages (from stack-data->ipython>=7.17.0->ipdb) (0.2.2)
Requirement already satisfied: asttokens in c:\users\dell\anaconda3\lib\site-packages (from stack-data->ipython>=7.17.0->ipdb) (2.0.5)
Requirement already satisfied: six in c:\users\dell\anaconda3\lib\site-packages (from asttokens->stack-data->ipython>=7.17.0->ipdb) (1.16.0)

In [8]:
# you  neeed to install befor , use -> 'pip install ipdb' .. for conda -> 'conda install -c conda-forge ipdb'
import ipdb  # ipdb is a jupyter notebook debugger(i=notation for jupyter notebook, p=python, db=debugger)

In [13]:
def test():
    l=[]
    for i in range(1,11):
        l.append(i)
        if i == 5:
            continue
    return l

In [14]:
test()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
def test1():
    ipdb.set_trace() #
    l=[]
    for i in range(1,11):
        l.append(i)
        if i == 5:
            continue
    return l

In [17]:
test1()

> c:\users\dell\appdata\local\temp\ipykernel_11164\700016323.py(3)test1()

ipdb> 1
1
ipdb> 12
12
ipdb> 13
13
ipdb> 1,2,3,4,5
(1, 2, 3, 4, 5)
--KeyboardInterrupt--

KeyboardInterrupt: Interrupted by user

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

ipdb> 1

# module creation

In [6]:
#you can create u r own module, first u hv to create .py file in pwd
# then import that file name don't use extension like .py

import test1

In [5]:
import test1

In [6]:
#u can fetch the data only once, for fetch multiple times

import imp
imp.reload(test1)

In [7]:
import imp
imp.reload(test1)

# Exception handling

In [8]:
a = open('test.txt','r') # creating error

FileNotFoundError: [Errno 2] No such file or directory: 'test.txt'

In [9]:
try:
    a = open('test.txt','r') # only try wont help you to overcome from an error

SyntaxError: unexpected EOF while parsing (1995002676.py, line 2)

In [12]:
try:
    a = open('test.txt','r') # write mode will create file if not exists, but r will only read the file
except:
    print("error detected and handling done")

error detected and handling done

In [13]:
try:
    a = 5/0
except:
    print("error detected and handling done")

error detected and handling done

In [14]:
try:
    a = 5/0
except IOError:  #IOError will not handle this a=5/0
    print("error detected and handling done")

ZeroDivisionError: division by zero

In [15]:
# for particular error
try:
    a = 5/0
except ArithmeticError:  # this can handle a=5/0
    print("error detected and handling done")

error detected and handling done

In [24]:
try:
    a = 5/0
except ArithmeticError as e:  #will tell that what is the error
    print("error detected and handling done :",e)

error detected and handling done : division by zero

In [25]:
try:
    a = 5/4 # no error , using else block
except ArithmeticError as e:  # e will tell that what is the error
    print("error detected and handling done :",e)
else:
    print("fine with the code")
    
#  if try block doesn't give error then else block will be executed. or else exception executed.

fine with the code

In [8]:
try:
    a = 5/4 # no error , uses else block
except ArithmeticError as e:  # e will tell that what is the error
    print("error detected and handling done :",e)
else:
    print("fine with the code")
    try:
        a = open('test.txt','r') # exception handling inside else block
    except:
        print('not found file')

fine with the code
not found file

In [30]:
try:
    f = 5/0
finally:
    print("executed finally") # however finally executed

executed finally

ZeroDivisionError: division by zero

In [34]:
try:
    f = 5/0
except:
    pass
finally:
    print("executed finally")
    l=[1,2,3,4,5,6]
    print(l[5])

executed finally
6

In [5]:
def here():  #  created a function 
    while True: # once you enter into loop, you can't get out of loop untill you enter the integer.
        try:
            a=int(input("enter only integer : ")) 
        except Exception as e:
            print("not an integer dude, " , e)
        else:
            print("you entered an integer. Hurray!! ")
            break
        finally:
            print('done dude!!')

In [6]:
here()

enter only integer : f
not an integer dude,  invalid literal for int() with base 10: 'f'
done dude!!
enter only integer : g
not an integer dude,  invalid literal for int() with base 10: 'g'
done dude!!
enter only integer : j
not an integer dude,  invalid literal for int() with base 10: 'j'
done dude!!
enter only integer : 3
you entered an integer. Hurray!!
done dude!!

In [3]:
def here():  #  created a function 
    while True: # once you enter into loop, you can't get out of loop untill you enter the integer >0.
        try:
            a=int(input("enter only integer : ")) 
            d=8/a
        except Exception as e:
            print("not an integer dude, " , e)
        else:
            print("you entered an integer. Hurray!! ")
            break
        finally:
            print('done dude!!')

In [4]:
here() # divided by zero will still keep you in while loop until you enter >0

enter only integer : 0
not an integer dude,  division by zero
done dude!!
enter only integer : 4
you entered an integer. Hurray!!
done dude!!

In [1]:
def ddd(a):
    a==6
    raise Exception(a)

In [2]:
ddd(3) # you are saying to raise error if 6==6 is correct

Exception: 3

In [4]:
def d1(a):
    if a == 7:
        raise Exception("error is ",a)
    else:
        print("not 7")

In [5]:
d1(7)  # raises exception.

Exception: ('error is ', 7)

In [3]:
d1(6) # !=7, so it prints else part.

not 7

In [9]:
#I want to handle the above error
try:
    d1(7)
except Exception as e:
    print("error occured ",e)

error occured  ('error is ', 7)

In [19]:
# create file and then inside create a text file with .py extension
# write a function to print user input number of even numbers.
# then create a ipynb file in same file
# try to import function in that file and can handle the error.

def even_num():
    try:
        n=int(input("enter how many numbers you want to check even : "))
        for i in range(n):
            if i%2 == 0:
                print("even are : ", i)
    except Exception as e:
        print('error occured and excepted -> ',e)

In [20]:
even_num() # i want upto 20

enter how many numbers you want to check even : f
error occured and excepted ->  invalid literal for int() with base 10: 'f'

In [21]:
even_num() # i'm ableto handle error if i do any wrong

enter how many numbers you want to check even : f
error occured and excepted

In [22]:
even_num()

enter how many numbers you want to check even : @#pk
error occured and excepted

In [15]:
# less code
def even(n):
    n=int(input("enter how many numbers you want to check even : "))
    a=[ i for i in range (n) if i%2 == 0]
    return a

In [16]:
even(n)

enter how many numbers you want to check even : 20

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

# oops concept :

# class and object

In [31]:
class car():
    pass

In [32]:
audi = car() # first class

In [33]:
audi.model= 22
audi.year = 2022
audi.make= 500
audi.milage= 80

In [34]:
audi.model

22

In [35]:
nano = car()  # second class

In [36]:
nano.milage = 80
nano.year = 2021
nano.make = 250
nano.model = 'vk'
nano.engine = 343256566

In [37]:
# give year of both nano and audi
print(audi.year,nano.year)

2022 2021

In [38]:
# good way of writing code: 
class car :
    def __init__(self, milage,year,model,make):   # instead of self u can give any name
        self.milage = milage   # your argument formilage store into carname.milage
        self.year = year
        self.model = model
        self.make =make

In [39]:
nano1 = car(80,2022,'vks','ddsd')
honda = car(70,2021,'kks','sdsd')
hyper = car(60,2002,'vvk','dddd')  
dudon = car(90,2023,'vvv','ssss')
# some data into class

In [40]:
nano1.milage

80

In [41]:
hyper.year

2002

In [1]:
class car :
    def __init__(a, milage,year,model,make):  # you can give self / a anything
        a.milage = milage
        a.year = year
        a.model = model
        a.make =make
    def age(b,cur_year):
        return cur_year - b.year  # current year - car year

In [2]:
nano1 = car(80,2022,'vks','ddsd')

In [3]:
def __str__(d):
    print('this is class car')

In [4]:
nano1.age(2025)  # pass current year

3

In [5]:
class car :
    def __init__(a, milage,year,model,make):
        a.milage = milage
        a.year = year
        a.model = model
        a.make =make
        
    def age(b,cur_year):
        return cur_year - b.year
    
    def mil(c):
        print('print milage of car is : ',c.milage)
    
    def __str__(d):
        return'this is class car'

In [6]:
nano1 = car(80,2022,'vks','ddsd')

In [7]:
nano1.mil()

print milage of car is :  80

In [8]:
nano1

In [9]:
print(nano1)

this is class car

In [54]:
class student:
    
    def __init__(a,name,rollno,joining,topic):
        a.name = name
        a.rollno = rollno
        a.joining = joining
        a.topic = topic
        
    def name_pars(self):
        if type(self.name) == list:
            for i in self.name:
                print(i)
        elif type(self.name) == tuple:
            for i in self.name:
                print(i)
        elif type(self.name) == dict:
            print(self.name.items())
        else:
            print(i)
    
    def c_rollno(b):
        if type(b.rollno) == str:
            raise Exception("enter only int or intvar")  # it will rsaise error 
        else:
            return str(b.rollno)
        
    def cur_year(d,cur_year):
        return 'gap is :',cur_year - d.joining
    
    def __str__(e):
        return "this is a student class."

In [63]:
vinod = student('vinod','697',2020,'python')
sai = student('sai',568,2019,'data science')
kumar = student('vinod',697,2020,'python')

In [64]:
vinod.c_rollno()

Exception: enter only int or intvar

In [65]:
kumar.c_rollno()

'697'

In [66]:
vinod.cur_year(2022)

('gap is :', 2)

In [67]:
abhi = student(['vinod1','sai1','abhi1','shreyas1'],22,45,2022)
abhi.name_pars()

vinod1
sai1
abhi1
shreyas1

In [68]:
abhi = student(('vinod1','sai1','abhi1','shreyas1'),22,45,2022)
abhi.name_pars()

vinod1
sai1
abhi1
shreyas1

In [69]:
abhi = student({'a':'vinod1','b':'sai1','c':'abhi1','d':'shreyas1'},22,45,2022)
abhi.name_pars()

dict_items([('a', 'vinod1'), ('b', 'sai1'), ('c', 'abhi1'), ('d', 'shreyas1')])

In [13]:
#create a data lass, add init, create a file, read a file, append something into file

class data :
    
    def __init__(a,filename,filetype,date,size):
        a.filename = filename
        a.filetype = filetype
        a.date = date
        a.size = size
    
    def file_open(b):
        if type(b.filename) == list:
            for i in b.filename:
                f = open(b.filename,'w+')
                f.write("i have written in this file , completed")
                f.close()
        elif type(b.filename) == tuple:
            for i in b.filename:
                f = open(b.filenmae,'w+')
                f.write("i have written in this file , completed")
                f.close()
        else:
            f = open(b.filename,'w+')
            f.write("i have written in this file , completed")
            f.close()
    
    
    def file_read(c):
        d = open(c.filename,'r')
        print(d.read())
        
    def file_append(e):
        f = open(e.filename,'a')
        f.write(" added xtra data into this :)")
        f.close()

In [2]:
vinod = data('vinod','text.txt',20,'20kb')

In [3]:
vinod.file_open()

In [4]:
#vinod = data(['vinod','abhi','sai','shreyas'],'text.txt',20,'20kb')

In [5]:
#vinod.file_open()

In [6]:
vinod.file_read()

i have written in this file , completed

In [11]:
vinod.file_append()

In [12]:
vinod.file_read()

i have written in this file , completedadded xtra data into this :)added xtra data into this :)

In [1]:
import logging as lg
lg.basicConfig(filename = 'oops.log',level = lg.INFO)


class data :
    
    def __init__(a,filename,filetype,date,size):
        a.filename = filename
        a.filetype = filetype
        a.date = date
        a.size = size
    
    def file_open(b):
        try : 
            if type(b.filename) == list:
                for i in b.filename:
                    f = open(b.filename,'w+')
                    f.write("i have written in this file , completed")
                    f.close()
                
            elif type(b.filename) == tuple:
                for i in b.filename:
                    f = open(b.filenmae,'w+')
                    f.write("i have written in this file , completed")
                    f.close()
                    
            else:
                f = open(b.filename,'w+')
                f.write("i have written in this file , completed")
                f.close()
        except Exception as e:
            b.logging(e)
    
    def file_read(c):
        try:
            d = open(c.filename,'r')
            print(d.read())
        except Exception as e:
            c.logging(e)
        
    def file_append(g):
        try:
            f = open(g.filename,'a')
            f.write(" added xtra data into this :)")
            f.close()
        except Exception as e:
            g.logging(e)
            
        
    def logging(c,log):
        lg.INFO(log)

In [2]:
vinod = data('vinod','text.txt',20,'20kb')

In [3]:
vinod.file_open()

In [4]:
vinod.file_read()

i have written in this file , completed

In [5]:
vinod.file_append()

In [6]:
vinod.file_read()

i have written in this file , completed added xtra data into this :)

In [8]:
class function:
    def __init__(self,d):
        self.d = d
    
    def dict_keys(self):
        if type(self.d) == dict:
            print(self.d.keys())
        else:
            raise Exception ('only dictionary values will be taken.')
    
    def dict_values(self):
        if type(self.d) == dict:
            print(self.d.values())
        else:
            raise Exception (' only dictionary values will be taken.')

    def user(self):
        self.f={}
        k = input("enter only the key : ")
        v = input("enter only the value : ")
        self.f[k]=v
        print("now entered is : ",self.f)
        self.d[k]=v
        
    def add(g,k,v):
        g.d[k]=v
        
    def show(self):
        print(self.d)

In [9]:
now = function({'a':'vinod','b':'kumar','c':'sai'})

In [10]:
now.dict_keys()

dict_keys(['a', 'b', 'c'])

In [11]:
now.dict_values()

dict_values(['vinod', 'kumar', 'sai'])

In [12]:
now.add('e','abhi')

In [13]:
now.show()

{'a': 'vinod', 'b': 'kumar', 'c': 'sai', 'e': 'abhi'}

In [14]:
now.user()

enter only the key : f
enter only the value : abhi
now entered is :  {'f': 'abhi'}

In [15]:
now.show()

{'a': 'vinod', 'b': 'kumar', 'c': 'sai', 'e': 'abhi', 'f': 'abhi'}

 # class Inheritence :

In [1]:
# first create a class and then create another class and apply inheritence : 

class xyz :
    def __init__(self, a, b, c):
        self.a = a
        self.b = b
        self.c = c
    
    def test(self):
        print("this is test in parent class")
    
    def test1(self):
        print("this is test1 in parent class")
        
    def test2(self):
        print("this is test2 in parent class")

In [2]:
p = xyz(1,2,3)

In [3]:
p.a

1

In [4]:
p.test()

this is test in parent class

In [5]:
#create another :
class xyz1(xyz):
    def test(self):
        print("this is test from child class")

In [6]:
q = xyz1(4,5,6) # stored in xyz, but its is child class from parent class.

In [7]:
q.a

4

In [8]:
q.test()  # overwrite on parent class

this is test from child class

In [9]:
p.test()

this is test in parent class

# multipule inheritence

In [2]:
# multiclasss inheritence
class xyz :
    def __init__(self, a, b, c):
        self.a = a
        self.b = b
        self.c = c
    
    def test(self):
        print("this is test in parent class")

# second class :        

class xyz1():
    
    def test(self):
        print("this is test from second class")
    
    def test1(self):
        print('test1 from second class')
        
# inherit two classes into this :
class child(xyz,xyz1):  # the first class is your main class(adding data)
    pass

In [3]:
n = child(1,2,3)

In [ ]:
n.a

In [11]:
n.test1() # operations you can perform but data here you insterted to xyz class

test1 from second class

In [12]:
class child2(xyz1,xyz):  # i mentioned second class as my main class from passind g data
    pass

In [13]:
m = child2(4,5,6)

In [14]:
m.a

4

# multiple inheritence

Should give both classes values:

In [19]:
# first class:

class xyz :
    
    def __init__(self, a, b, c):
        self.a = a
        self.b = b
        self.c = c
    
    def test(self):
        print("this is test in parent class")

# second class :        

class xyz1:
    
    def __init__(self, p, q, r):
        self.p = p
        self.q = q
        self.r = r
    
    def test1(self):
        print('test1 from second class')
        
# inherit two classes into this : 

class child(xyz1,xyz):  # it should take data and return both class data or operations
    
    def __init__(self, *args): # data added into any one class but print all values.
        xyz.__init__(self, *args) # try to store same data into xyz.
        xyz1.__init__(self, *args) # try to store same data into xyz1

In [20]:
n = child(4,5,6)

In [21]:
n.p

4

In [22]:
n.a

4

Should insert both classes values and return values of the class members:

In [33]:
# first class :

class xyz :
    
    def __init__(self, a, b, c):
        self.a = a
        self.b = b
        self.c = c
    
    def test(self):
        print("this is test in parent class")

# second class :        

class xyz1:
    
    def __init__(self, p, q, r):
        self.p = p
        self.q = q
        self.r = r
    
    def test1(self):
        print('test1 from second class')
        
# inherit two classes into this : 

class child(xyz1,xyz):  # it should take data and return both class data or operations
    
    def __init__(self, *args, **kwargs): # data added into class n print all values.
        xyz.__init__(self, *args) # try to store data into xyz.
        xyz1.__init__(self, **kwargs) # store kwargs into xyz1

In [34]:
m = child(1,2,3,p = 4,q = 5,r = 6)

In [35]:
m.a

1

In [36]:
m.p

4

In [37]:
n.test1()

test1 from second class

# multilevel inheritance :

In [1]:
# first class :

class xyz :
    
    def __init__(self, a, b, c):
        self.a = a
        self.b = b
        self.c = c
    
    def test(self):
        print("this is test in parent class")

# second class :        

class xyz1:
    
    def __init__(self, p, q, r):
        self.p = p
        self.q = q
        self.r = r
    
    def test1(self):
        print('test1 from second class')
        
# child class :

class xyz2(xyz1):
    
    def test2(self):
        prin('this is from child class')
        
        
#i din't inherit xyz1 to xyz, so it is showing p,q,r as inserting data.

In [2]:
v = xyz2(2,4,6)

In [3]:
v.p

2

In [6]:
# first class :

class xyz :
    
    def __init__(self, a, b, c):
        self.a = a
        self.b = b
        self.c = c
    
    def test(self):
        print("this is test in parent class")

# second class :        

class xyz1(xyz):
    
    def test1(self):
        print('test1 from second class')
        
# child class :

class xyz2(xyz1):
    
    def test2(self):
        prin('this is from child class')
        
# If I inherit xyz1 from xyz I'll get a,b,c values.

In [7]:
v = xyz2(1,3,5)

In [8]:
v.a

1

In [2]:
class file :
    def __init__(self, filename):
        self.filename = filename
        
    def file_read(self):
        f = open(self.filename,'r')
        f1=f.read()
        print(f1)
    
    def file_write(self):
        f2 = open(self.filename,'a')
        v = input('enter you want to write ino file :')
        f2.write(v)

class here(file):
    print('inserted data : ' ) 
    

d = file('vinod')    
d.file_write()
d.file_read()

inserted data :
enter you want to write ino file :.. third time checking
vinod kumar.. this is my name.. second time chacking.. third time checking

In [2]:
d = file('vinod')

In [3]:
d.file_read()

vinod kumar.. this is my name.. second time chacking.. third time checking

# Access modifiers

protected :

In [1]:
class test:
    def __init__(self):
        self._a = 4
    
class test1:
    def __init__(self):
        self._a = 7

u = test()

In [2]:
u._a

4

In [3]:
v=test1()

In [4]:
v._a

7

In [5]:
class test:
    def __init__(self):
        self.__a = 4
    
class test1:
    def __init__(self):
        self.__a = 7

u = test()

In [6]:
u.__a   # i'm not able to get

AttributeError: 'test' object has no attribute '__a'

In [21]:
# accessing directly : 
# super class

class student :
    
    # protected data :
    _name = None
    _rollno = None
    _branch = None
    
    # constructor
    def __init__(self, name, rollno, branch):
        self.name = name
        self.rollno = rollno
        self.branch = branch
    
    # protected member function 
    def displayrollbranch(self):
        print("roll no : ", self.rollno)
        print('branch : ', self.branch)

# derived class

class out(student):
    
    # constructor
    def __init__(self, name, rollno, branch):
        student.__init__(self, name, rollno, branch)
    
    #public member function
    def displaydetails(self):
        print("student name : ",self.name)
        self.displayrollbranch()
        
        
# creating details :

u = out('vinod',69,'bca')

u.displaydetails()

student name :  vinod
roll no :  69
branch :  bca

In [27]:
# accessing protected data : 

# super class

class student :
    
    # protected data :
    _name = None
    _rollno = None
    _branch = None
    
    # constructor
    def __init__(self, name, rollno, branch):
        self._name = name
        self._rollno = rollno   # You'll overwrite the data on None into _rollno
        self._branch = branch
    
    # protected member function 
    def displayrollbranch(self):
        print("roll no : ", self._rollno)
        print('branch : ', self._branch)

# derived class

class out(student):
    
    # constructor
    def __init__(self, name, rollno, branch):
        student.__init__(self, name, rollno, branch)
    
    #public member function
    def displaydetails(self):
        print("student name : ",self._name)
        self.displayrollbranch()
        
        
# creating details :

u = out('vinod',69,'bca')

u.displaydetails()

student name :  vinod
roll no :  69
branch :  bca

private : (_ _ [double underscore])

to access private : instance._class-name_ _ private attribute.

In [29]:
class test:
    def __init__(self,a,b,c):
        self._a = a
        self.__b = b
        self.c = c

f = test(1,2,3)
# protected
x = f._a
# private : 
y = f._test__b

print('protected : ',x)
print('private : ',y)

protected :  1
private :  2

In [5]:
class test:
    def __init__(self,a,b,c):
        self.__a = a
        self.__b = b
        self.__c = c
        
    def here(self):
        print('a value is : ',self.__a)
        print('b value is : ',self.__b)
        print('c value is : ',self.__c)
        
# you can access like this inside a class, ca'nt access __b outside of a class
# if you want to access use u._classname__a/b/c        
u = test(1,2,3)

u.here()

a value is :  1
b value is :  2
c value is :  3

In [22]:
# accessing private data

class student:
    
     # private members
     __name = None
     __roll = None
     __branch = None
 
     # constructor
     def __init__(self, name, roll, branch): 
          self.__name = name
          self.__roll = roll
          self.__branch = branch
 
     # private member function 
     def details(self):
           
           # accessing private data members
           print("Name: ", self.__name)
           print("Roll: ", self.__roll)
           print("Branch: ", self.__branch)
    
     # public member function
     def Private(self):
            
           # accessing private member function
           self.details() 
 
# creating object   
c = student('vinod', 96, 'bca regular')
 
# calling public member function of the class
c.Private()


# private can access only within the classs, can't access child class

Name:  vinod
Roll:  96
Branch:  bca regular

In [1]:
# private within a class : 

class employee:
    def __init__(self,empid, emprating):
        self.empid = empid
        self.emprating = emprating
        self.__empforratingA = '70%'
        self.__empforratingB = '80%'
        self.__empforratingc = '90%'
        
    def bonus(self):
        if self.emprating == 'A':
            bonus = self.__empforratingA
            return 'bonus for 1st emp -> ',bonus
        elif self.emprating == 'B':
            bonus = self.__empforratingB
            return 'bonus for 2nd emp -> ',bonus
        else:
            bonus = self.__empforratingc
            return 'bonus for 3rd emp -> ',bonus
        
x = employee(101 , 'A')
y = employee(102 , 'B')
z = employee(103 , 'C')

f = x.bonus()
g = y.bonus()
h = z.bonus()

print("x emp : ",f)
print('y emp : ',g)
print('z emp : ',h)

x emp :  ('bonus for 1st emp -> ', '70%')
y emp :  ('bonus for 2nd emp -> ', '80%')
z emp :  ('bonus for 3rd emp -> ', '90%')

In [2]:
x.empid = 201
x.empid  # it will overwrite the empid

201

In [3]:
y.emprating = 'A'  # initially it is B
y.emprating  # it will change

# public var can chnage easily

'A'

In [4]:
# if i try to change private , it wo'nt work, it will take the value but give original value.
# x emprating is A that is 70%

x.__empforratingA = '100%'
x.bonus()
# stil it give the first assigned value.

# you can't change the private values

('bonus for 1st emp -> ', '70%')

In [6]:
x._employee__empratingA = '100%'

In [7]:
x._employee__empratingA  # now it is changed

'100%'

In [10]:
x.bonus() # not in class

('bonus for 1st emp -> ', '70%')

public : access from any class from anywhere
    
protected : acess inside the class and inside sub-class
    
private : Access within the class, and we can find scope of var in main class,  can't find scope of var in child class

# multilevel inheritence :

In [3]:
class grandfather:
    def __init__(self, grandfathername):
        self.grandfathername = grandfathername
    
class father(grandfather):
    def __init__(self, fathername, grandfathername):
        self.fathername = fathername
        grandfather.__init__(self, grandfathername)
        
        
class son(father):
    def __init__(self, sonname ,fathername, grandfathername):
        self.sonname = sonname
        
        father.__init__(self, fathername, grandfathername)
        
    def give(self):
        print('grand father name : ',self.grandfathername)
        print('father name is : ',self.fathername)
        print('son name is : ',self.sonname)
        

c = son('vinod', 'ramesh', 'venkatappa')
c.give()

grand father name :  venkatappa
father name is :  ramesh
son name is :  vinod

# multiple inheritence :

In [2]:
class mother :
    mothername = ''
    def mother(self):
        print(self.mother)
        
class father : 
    fathername = ''
    def father(self):
        print(self.father)
        
class child(father , mother) :
    def give(self):
        print('mother name is : ',self.mothername)
        print("father name is : ",self.fathername)
        
c = child()
c.mothername = 'rathna'
c.fathername = 'ramesh'
c.give()

mother name is :  rathna
father name is :  ramesh

# Inheritence : (Polymorphism)

In [20]:
class insta :
    def share_story(self):
        print('this is insta story.')
        
class facebook :
    def share_story(self):
        print("this is a facebook story.")

In [25]:
def share(app):
    app.share_story()

In [26]:
i = insta()
f = facebook()

In [27]:
share(i)

this is insta story.

In [28]:
share(f)

this is a facebook story.

# creating your own Exception class :

In [7]:
class test(Exception):
    def __init__(self, msg):
        self.msg = msg

In [14]:
try:
    raise(test("this is my error i created."))
except Exception as e:
    print(e)

this is my error i created.

Task :
1. create your own class to acheive multiple, multilevel inheritence.
2. create your own class to represet polymorphism.
3. create your own class for custom exception.
4. create your own class to acheive encapsulation.
5. create your own class to acheive method of overloading and overriding

In [13]:
# 1 question(multiple):
class grandpa:
    def __init__(self, grandpaname):
        self.grandpaname = grandpaname
        
class father:
    def __init__(self,fathername):
        self.fathername = fathername

class sun(grandpa,father):
    
    def __init__(self,grandpaname,fathername):
        grandpa.__init__(self,grandpaname)
        father.__init__(self,fathername)
    
    def out(self):
        print("grandapa is : ",self.grandpaname)
        print("father is : ",self.fathername)
        
        
# giving data : 

x = sun('venkatappa','ramesh')
x.out()

grandapa is :  venkatappa
father is :  ramesh

In [14]:
# 1st question (multilevel)

class grandfather:
    def __init__(self, grandfathername):
        self.grandfathername = grandfathername
    
class father(grandfather):
    def __init__(self, fathername, grandfathername):
        self.fathername = fathername
        grandfather.__init__(self, grandfathername)
        
        
class son(father):
    def __init__(self, sonname ,fathername, grandfathername):
        self.sonname = sonname
        
        father.__init__(self, fathername, grandfathername)
        
    def give(self):
        print('grand father name : ',self.grandfathername)
        print('father name is : ',self.fathername)
        print('son name is : ',self.sonname)
        

c = son('vinod', 'ramesh', 'venkatappa')
c.give()

grand father name :  venkatappa
father name is :  ramesh
son name is :  vinod

In [15]:
# 2 question(polymorphism) :

class one:
    def fun(self):
        print("India is my country,")
        
class two:
    def fun(self):
        print("all indians are good,")

class three:
    def fun(self):
        print("Indians are cool n rude,")
    
class four:
    def fun(self):
        print("that's all rey.")
        
# inserting data :

f = one()
g = two()
h = three()
i = four()
for d in(f,g,h,i):
    d.fun()

India is my country,
all indians are good,
Indians are cool n rude,
that's all rey.

In [15]:
 # 3rd question(exception) :
    
class test(Exception):
    def __init__(self,e):
        self.e = e
    
class exct:
    def __init__(self, a, b):
        self.a = a
        self.b = b
    def fun(self):
        try :
            c = self.a/self.b
            print(c)
        except Exception as e:
            print(test(e))

y = exct(0,'a')            
y.fun()

unsupported operand type(s) for /: 'int' and 'str'

## encapsualtion : self._name is encapsulation( _ is used)

In [17]:
# 4th question(encapsulation) :

class student:
    def __init__(self,name,age,sex):
        self.name = name
        self.__age = age
        self._sex = sex
        
    def det(self):
        print("age is : ", self.__age)
        print("sex is : ", self._sex)
        
class out(student):
    def __init__(self,name,age,sex):
        student.__init__(self,name,age,sex)
        
    def details(self):
        print('name is : ',self.name)
        self.det()
        # if you try to print the age n sex directly here u won't ge data, coz they are protected n private

x = out('vinod',22,'male')
x.details()

name is :  vinod
age is :  22
sex is :  male

In [ ]:
# 5th question :

class

# Static method :

In [1]:
class name:
    student_name = ''
    def studentname(self):
        print('student name is : ',self.student_name)
        
class rollno:
    student_rollno = ''
    def studentrollno(self):
        print('student rollno : ',self.student_rollno)
        
class final(name,rollno):
    def here(self):
        print('student name is : ',self.student_name)
        print('student rollno : ',self.student_rollno)
        
c = final()
c.student_name = 'vinod'
c.student_rollno = '69'
c.here()

student name is :  vinod
student rollno :  69

# Decorators for above example :

In [3]:
class name:
    student_name = ''
    
    
    # def studentname(self):
        # print('student name is : ',self.student_name)
    
    @staticmethod
    def studentname():
        print('student name is : ',student_name)
    
    
class rollno:
    student_rollno = ''
    
    # def studentrollno(self):
        # print('student rollno : ',self.student_rollno)
        # here you dont need to use self keyword, when your using decoratore
        
    @staticmethod
    def studentrollno():
        print('student rollno : ',student_rollno)
    
        
class final(name,rollno):
    def here(self):
        print('student name is : ',self.student_name)
        print('student rollno : ',self.student_rollno)
        
c = final()
c.student_name = 'vinod'
c.student_rollno = '69'
c.here()

student name is :  vinod
student rollno :  69

In [1]:
 class accountdetail:
        account_no = '27494726484'
        def __init__(self,amount):
            self.amount = amount
            
        def show_balance(self, deduction):
            self.amount = self.amount - deduction
            return self.amount,self.account_no
        
        
y = accountdetail(1000)
y.show_balance(100)

(900, '27494726484')

In [1]:
 print(" I have pushed this file intomy github")

 I have pushed this file intomy github

# Abstraction : Hiding a data(abstact class is a blue print of a class)

In [2]:
class test:  
    def function1(self):
        pass
    def function2(self):
        pass
    def function3(self):
        pass
    def function4(self):
        pass
    def function5(self):
        pass
    def function6(self):
        pass
    def function7(self):
        pass
    def function8(self):
        pass

In [4]:
class output(test):
    pass # class output have a blueprint of class test.

In [3]:
# decorators using in abstract class

from abc import ABC, abstractmethod
 
class Polygon(ABC):
 
    @abstractmethod
    def noofsides(self):
        pass
 
class Triangle(Polygon):
 
    # overriding abstract method
    def noofsides(self):
        print("I have 3 sides")
 
class Pentagon(Polygon):
 
    # overriding abstract method
    def noofsides(self):
        print("I have 5 sides")
 
class Hexagon(Polygon):
 
    # overriding abstract method
    def noofsides(self):
        print("I have 6 sides")
 
class Quadrilateral(Polygon):
 
    # overriding abstract method
    def noofsides(self):
        print("I have 4 sides")
 
# Driver code
R = Triangle()
R.noofsides()
 
K = Quadrilateral()
K.noofsides()
 
R = Pentagon()
R.noofsides()
 
K = Hexagon()
K.noofsides()

I have 3 sides
I have 4 sides
I have 5 sides
I have 6 sides

In [3]:
# operator overloading

class A:
    def __init__(self, a):
        self.a = a
  
    # adding two objects 
    def __add__(self, o):
        return self.a + o.a 
ob1 = A(1)
ob2 = A(2)
ob3 = A("vinod ")
ob4 = A("For")
  
print(ob1 + ob2)
print(ob3 + ob4)

3
vinod For

1. In the method overloading, methods or functions must have the same name and different signatures. 

2. Whereas in the method overriding, methods or functions must have the same name and same signatures. 

. Method overloading is a example of compile time polymorphism.

In [13]:
# example 3 overloading

def dt(*args):
    return args  # it will return the first given data

dt(1,2,3,4,3)

(1, 2, 3, 4, 3)

In [15]:
# if i pass again another it will again load
dt(44,55,66,'vinod')

(44, 55, 66, 'vinod')

In [16]:
dt("dgb",'dfrs',2222,4444,5555,'vfdnavf')

('dgb', 'dfrs', 2222, 4444, 5555, 'vfdnavf')

In [17]:
# this is overloading.

In [20]:
# example 04 for overriding :
class test:
    def __init__(self,a,b,c):
        self.a = a
        self.b = b
        self.c = c
    def __str__(self):
        print("this is a class statement")
        
    def fun1(self):
        print("this is a statemnt from test class")
        
class test1(test):
    def fun1(self):
        print("this is from test1 class")

In [21]:
x = test(1,2,3)
y = test1(4,5,6)

In [22]:
x.fun1()

this is a statemnt from test class

In [23]:
y.fun1()

this is from test1 class

In [25]:
# here the function name is same but ouput is different,we are trying to override for class 2(test2)

# connecting python to MYSQL

In [1]:
# command to install connecter for python n mysql

! pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\dell\anaconda3\lib\site-packages (8.0.30)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\dell\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.1)

import mysql connector

In [1]:
import mysql.connector as con  # importing mysql.connector

storing connection into mydb

In [2]:
mydb = con.connect(host = 'localhost', user = 'root', passwd = 'Vinod@123')  # connecting the sql server in jupyter notebook and storing into mydb

In [3]:
mydb

cursor is like a pointer, helps in write

In [4]:
c = mydb.cursor()  # cursor helps to read or write the data into localhost

to view databases

In [5]:
c.execute("SHOW DATABASES")  # you are writing the "SHOW DATABASES" inot localhost

fetch data from above code

In [6]:
c.fetchall()  # fetch all the databases

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('world',)]

create database

In [7]:
c.execute("CREATE DATABASE vinod1")  # creating a vinod1 database
c.execute("SHOW DATABASES")  # command to show databases names
c.fetchall()  # vinod database is created

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('vinod1',),
 ('world',)]

we try to use vinod1 db to perform all actions

In [8]:
c.execute('USE vinod1')  # use vinod1 database

creating a table

In [9]:
tables = ('CREATE TABLE Information(Student_ID INT(30), First_name VARCHAR(40), Last_name VARCHAR(40), Reg_ID INT(40))') # creating a table information in vinod1
c.execute(tables)  # executing tables(creating a table)
c.execute('SHOW TABLES')  # show the table names
c.fetchall()  # fetch the above command(show tables)

[('information',)]

inserting values into a table

In [10]:
# adding values into the table:

info = ('INSERT INTO Information VALUES (20069,"Vinod","kumar",00069)')
c.execute(info)
c.execute('SELECT * FROM INFORMATION')  # fetch the values inside information table
c.fetchall()

[(20069, 'Vinod', 'kumar', 69)]

In [11]:
info1 = ('INSERT INTO Information VALUES (20050,"Vinodh","kumarrr",000669)')
c.execute(info1)
c.execute('SELECT * FROM INFORMATION')  # fetch the values inside information table
c.fetchall()

[(20069, 'Vinod', 'kumar', 69), (20050, 'Vinodh', 'kumarrr', 669)]

In [12]:
info2 = ('INSERT INTO Information VALUES (250,"Nandhamuri ","Rama Rao",30669)')
c.execute(info2)
# to commit this inserting values use commit
mydb.commit()
c.execute('SELECT * FROM INFORMATION')  # fetch the values inside information table
c.fetchall()

[(20069, 'Vinod', 'kumar', 69),
 (20050, 'Vinodh', 'kumarrr', 669),
 (250, 'Nandhamuri ', 'Rama Rao', 30669)]

importing CSV(Comma Seperated Values) : used to store tabular data, such as a spreadsheet or database

In [1]:
import csv

In [2]:
file = open('glass.data' , 'r')
file .read()

'1,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.00,0.00,1\n2,1.51761,13.89,3.60,1.36,72.73,0.48,7.83,0.00,0.00,1\n3,1.51618,13.53,3.55,1.54,72.99,0.39,7.78,0.00,0.00,1\n4,1.51766,13.21,3.69,1.29,72.61,0.57,8.22,0.00,0.00,1\n5,1.51742,13.27,3.62,1.24,73.08,0.55,8.07,0.00,0.00,1\n6,1.51596,12.79,3.61,1.62,72.97,0.64,8.07,0.00,0.26,1\n7,1.51743,13.30,3.60,1.14,73.09,0.58,8.17,0.00,0.00,1\n8,1.51756,13.15,3.61,1.05,73.24,0.57,8.24,0.00,0.00,1\n9,1.51918,14.04,3.58,1.37,72.08,0.56,8.30,0.00,0.00,1\n10,1.51755,13.00,3.60,1.36,72.99,0.57,8.40,0.00,0.11,1\n11,1.51571,12.72,3.46,1.56,73.20,0.67,8.09,0.00,0.24,1\n12,1.51763,12.80,3.66,1.27,73.01,0.60,8.56,0.00,0.00,1\n13,1.51589,12.88,3.43,1.40,73.28,0.69,8.05,0.00,0.24,1\n14,1.51748,12.86,3.56,1.27,73.21,0.54,8.38,0.00,0.17,1\n15,1.51763,12.61,3.59,1.31,73.29,0.58,8.50,0.00,0.00,1\n16,1.51761,12.81,3.54,1.23,73.24,0.58,8.39,0.00,0.00,1\n17,1.51784,12.68,3.67,1.16,73.11,0.61,8.70,0.00,0.00,1\n18,1.52196,14.36,3.85,0.89,71.36,0.15,9.15,0.00,0.00,1\n19,1.51911,13.90,3.73,1.18,72.12,0.06,8.89,0.00,0.00,1\n20,1.51735,13.02,3.54,1.69,72.73,0.54,8.44,0.00,0.07,1\n21,1.51750,12.82,3.55,1.49,72.75,0.54,8.52,0.00,0.19,1\n22,1.51966,14.77,3.75,0.29,72.02,0.03,9.00,0.00,0.00,1\n23,1.51736,12.78,3.62,1.29,72.79,0.59,8.70,0.00,0.00,1\n24,1.51751,12.81,3.57,1.35,73.02,0.62,8.59,0.00,0.00,1\n25,1.51720,13.38,3.50,1.15,72.85,0.50,8.43,0.00,0.00,1\n26,1.51764,12.98,3.54,1.21,73.00,0.65,8.53,0.00,0.00,1\n27,1.51793,13.21,3.48,1.41,72.64,0.59,8.43,0.00,0.00,1\n28,1.51721,12.87,3.48,1.33,73.04,0.56,8.43,0.00,0.00,1\n29,1.51768,12.56,3.52,1.43,73.15,0.57,8.54,0.00,0.00,1\n30,1.51784,13.08,3.49,1.28,72.86,0.60,8.49,0.00,0.00,1\n31,1.51768,12.65,3.56,1.30,73.08,0.61,8.69,0.00,0.14,1\n32,1.51747,12.84,3.50,1.14,73.27,0.56,8.55,0.00,0.00,1\n33,1.51775,12.85,3.48,1.23,72.97,0.61,8.56,0.09,0.22,1\n34,1.51753,12.57,3.47,1.38,73.39,0.60,8.55,0.00,0.06,1\n35,1.51783,12.69,3.54,1.34,72.95,0.57,8.75,0.00,0.00,1\n36,1.51567,13.29,3.45,1.21,72.74,0.56,8.57,0.00,0.00,1\n37,1.51909,13.89,3.53,1.32,71.81,0.51,8.78,0.11,0.00,1\n38,1.51797,12.74,3.48,1.35,72.96,0.64,8.68,0.00,0.00,1\n39,1.52213,14.21,3.82,0.47,71.77,0.11,9.57,0.00,0.00,1\n40,1.52213,14.21,3.82,0.47,71.77,0.11,9.57,0.00,0.00,1\n41,1.51793,12.79,3.50,1.12,73.03,0.64,8.77,0.00,0.00,1\n42,1.51755,12.71,3.42,1.20,73.20,0.59,8.64,0.00,0.00,1\n43,1.51779,13.21,3.39,1.33,72.76,0.59,8.59,0.00,0.00,1\n44,1.52210,13.73,3.84,0.72,71.76,0.17,9.74,0.00,0.00,1\n45,1.51786,12.73,3.43,1.19,72.95,0.62,8.76,0.00,0.30,1\n46,1.51900,13.49,3.48,1.35,71.95,0.55,9.00,0.00,0.00,1\n47,1.51869,13.19,3.37,1.18,72.72,0.57,8.83,0.00,0.16,1\n48,1.52667,13.99,3.70,0.71,71.57,0.02,9.82,0.00,0.10,1\n49,1.52223,13.21,3.77,0.79,71.99,0.13,10.02,0.00,0.00,1\n50,1.51898,13.58,3.35,1.23,72.08,0.59,8.91,0.00,0.00,1\n51,1.52320,13.72,3.72,0.51,71.75,0.09,10.06,0.00,0.16,1\n52,1.51926,13.20,3.33,1.28,72.36,0.60,9.14,0.00,0.11,1\n53,1.51808,13.43,2.87,1.19,72.84,0.55,9.03,0.00,0.00,1\n54,1.51837,13.14,2.84,1.28,72.85,0.55,9.07,0.00,0.00,1\n55,1.51778,13.21,2.81,1.29,72.98,0.51,9.02,0.00,0.09,1\n56,1.51769,12.45,2.71,1.29,73.70,0.56,9.06,0.00,0.24,1\n57,1.51215,12.99,3.47,1.12,72.98,0.62,8.35,0.00,0.31,1\n58,1.51824,12.87,3.48,1.29,72.95,0.60,8.43,0.00,0.00,1\n59,1.51754,13.48,3.74,1.17,72.99,0.59,8.03,0.00,0.00,1\n60,1.51754,13.39,3.66,1.19,72.79,0.57,8.27,0.00,0.11,1\n61,1.51905,13.60,3.62,1.11,72.64,0.14,8.76,0.00,0.00,1\n62,1.51977,13.81,3.58,1.32,71.72,0.12,8.67,0.69,0.00,1\n63,1.52172,13.51,3.86,0.88,71.79,0.23,9.54,0.00,0.11,1\n64,1.52227,14.17,3.81,0.78,71.35,0.00,9.69,0.00,0.00,1\n65,1.52172,13.48,3.74,0.90,72.01,0.18,9.61,0.00,0.07,1\n66,1.52099,13.69,3.59,1.12,71.96,0.09,9.40,0.00,0.00,1\n67,1.52152,13.05,3.65,0.87,72.22,0.19,9.85,0.00,0.17,1\n68,1.52152,13.05,3.65,0.87,72.32,0.19,9.85,0.00,0.17,1\n69,1.52152,13.12,3.58,0.90,72.20,0.23,9.82,0.00,0.16,1\n70,1.52300,13.31,3.58,0.82,71.99,0.12,10.17,0.00,0.03,1\n71,1.51574,14.86,3.67,1.74,71.87,0.16,7.36,0.00,0.12,2\n72,1.51848,13.64,3.87,1.27,71.96,0.54,8.32,0.00,0.32,2\n73,1.51593,13.09,3.59,1.52,73.10,0.67,7.83,0.00,0.00,2\n74,1.51631,13.34,3.57,1.57,72.87,0.61,7.89,0.00,0.00,2\n75,1.51596,13.02,3.56,1.54,73.11,0.72,7.90,0.00,0.00,2\n76,1.51590,13.02,3.58,1.51,73.12,0.69,7.96,0.00,0.00,2\n77,1.51645,13.44,3.61,1.54,72.39,0.66,8.03,0.00,0.00,2\n78,1.51627,13.00,3.58,1.54,72.83,0.61,8.04,0.00,0.00,2\n79,1.51613,13.92,3.52,1.25,72.88,0.37,7.94,0.00,0.14,2\n80,1.51590,12.82,3.52,1.90,72.86,0.69,7.97,0.00,0.00,2\n81,1.51592,12.86,3.52,2.12,72.66,0.69,7.97,0.00,0.00,2\n82,1.51593,13.25,3.45,1.43,73.17,0.61,7.86,0.00,0.00,2\n83,1.51646,13.41,3.55,1.25,72.81,0.68,8.10,0.00,0.00,2\n84,1.51594,13.09,3.52,1.55,72.87,0.68,8.05,0.00,0.09,2\n85,1.51409,14.25,3.09,2.08,72.28,1.10,7.08,0.00,0.00,2\n86,1.51625,13.36,3.58,1.49,72.72,0.45,8.21,0.00,0.00,2\n87,1.51569,13.24,3.49,1.47,73.25,0.38,8.03,0.00,0.00,2\n88,1.51645,13.40,3.49,1.52,72.65,0.67,8.08,0.00,0.10,2\n89,1.51618,13.01,3.50,1.48,72.89,0.60,8.12,0.00,0.00,2\n90,1.51640,12.55,3.48,1.87,73.23,0.63,8.08,0.00,0.09,2\n91,1.51841,12.93,3.74,1.11,72.28,0.64,8.96,0.00,0.22,2\n92,1.51605,12.90,3.44,1.45,73.06,0.44,8.27,0.00,0.00,2\n93,1.51588,13.12,3.41,1.58,73.26,0.07,8.39,0.00,0.19,2\n94,1.51590,13.24,3.34,1.47,73.10,0.39,8.22,0.00,0.00,2\n95,1.51629,12.71,3.33,1.49,73.28,0.67,8.24,0.00,0.00,2\n96,1.51860,13.36,3.43,1.43,72.26,0.51,8.60,0.00,0.00,2\n97,1.51841,13.02,3.62,1.06,72.34,0.64,9.13,0.00,0.15,2\n98,1.51743,12.20,3.25,1.16,73.55,0.62,8.90,0.00,0.24,2\n99,1.51689,12.67,2.88,1.71,73.21,0.73,8.54,0.00,0.00,2\n100,1.51811,12.96,2.96,1.43,72.92,0.60,8.79,0.14,0.00,2\n101,1.51655,12.75,2.85,1.44,73.27,0.57,8.79,0.11,0.22,2\n102,1.51730,12.35,2.72,1.63,72.87,0.70,9.23,0.00,0.00,2\n103,1.51820,12.62,2.76,0.83,73.81,0.35,9.42,0.00,0.20,2\n104,1.52725,13.80,3.15,0.66,70.57,0.08,11.64,0.00,0.00,2\n105,1.52410,13.83,2.90,1.17,71.15,0.08,10.79,0.00,0.00,2\n106,1.52475,11.45,0.00,1.88,72.19,0.81,13.24,0.00,0.34,2\n107,1.53125,10.73,0.00,2.10,69.81,0.58,13.30,3.15,0.28,2\n108,1.53393,12.30,0.00,1.00,70.16,0.12,16.19,0.00,0.24,2\n109,1.52222,14.43,0.00,1.00,72.67,0.10,11.52,0.00,0.08,2\n110,1.51818,13.72,0.00,0.56,74.45,0.00,10.99,0.00,0.00,2\n111,1.52664,11.23,0.00,0.77,73.21,0.00,14.68,0.00,0.00,2\n112,1.52739,11.02,0.00,0.75,73.08,0.00,14.96,0.00,0.00,2\n113,1.52777,12.64,0.00,0.67,72.02,0.06,14.40,0.00,0.00,2\n114,1.51892,13.46,3.83,1.26,72.55,0.57,8.21,0.00,0.14,2\n115,1.51847,13.10,3.97,1.19,72.44,0.60,8.43,0.00,0.00,2\n116,1.51846,13.41,3.89,1.33,72.38,0.51,8.28,0.00,0.00,2\n117,1.51829,13.24,3.90,1.41,72.33,0.55,8.31,0.00,0.10,2\n118,1.51708,13.72,3.68,1.81,72.06,0.64,7.88,0.00,0.00,2\n119,1.51673,13.30,3.64,1.53,72.53,0.65,8.03,0.00,0.29,2\n120,1.51652,13.56,3.57,1.47,72.45,0.64,7.96,0.00,0.00,2\n121,1.51844,13.25,3.76,1.32,72.40,0.58,8.42,0.00,0.00,2\n122,1.51663,12.93,3.54,1.62,72.96,0.64,8.03,0.00,0.21,2\n123,1.51687,13.23,3.54,1.48,72.84,0.56,8.10,0.00,0.00,2\n124,1.51707,13.48,3.48,1.71,72.52,0.62,7.99,0.00,0.00,2\n125,1.52177,13.20,3.68,1.15,72.75,0.54,8.52,0.00,0.00,2\n126,1.51872,12.93,3.66,1.56,72.51,0.58,8.55,0.00,0.12,2\n127,1.51667,12.94,3.61,1.26,72.75,0.56,8.60,0.00,0.00,2\n128,1.52081,13.78,2.28,1.43,71.99,0.49,9.85,0.00,0.17,2\n129,1.52068,13.55,2.09,1.67,72.18,0.53,9.57,0.27,0.17,2\n130,1.52020,13.98,1.35,1.63,71.76,0.39,10.56,0.00,0.18,2\n131,1.52177,13.75,1.01,1.36,72.19,0.33,11.14,0.00,0.00,2\n132,1.52614,13.70,0.00,1.36,71.24,0.19,13.44,0.00,0.10,2\n133,1.51813,13.43,3.98,1.18,72.49,0.58,8.15,0.00,0.00,2\n134,1.51800,13.71,3.93,1.54,71.81,0.54,8.21,0.00,0.15,2\n135,1.51811,13.33,3.85,1.25,72.78,0.52,8.12,0.00,0.00,2\n136,1.51789,13.19,3.90,1.30,72.33,0.55,8.44,0.00,0.28,2\n137,1.51806,13.00,3.80,1.08,73.07,0.56,8.38,0.00,0.12,2\n138,1.51711,12.89,3.62,1.57,72.96,0.61,8.11,0.00,0.00,2\n139,1.51674,12.79,3.52,1.54,73.36,0.66,7.90,0.00,0.00,2\n140,1.51674,12.87,3.56,1.64,73.14,0.65,7.99,0.00,0.00,2\n141,1.51690,13.33,3.54,1.61,72.54,0.68,8.11,0.00,0.00,2\n142,1.51851,13.20,3.63,1.07,72.83,0.57,8.41,0.09,0.17,2\n143,1.51662,12.85,3.51,1.44,73.01,0.68,8.23,0.06,0.25,2\n144,1.51709,13.00,3.47,1.79,72.72,0.66,8.18,0.00,0.00,2\n145,1.51660,12.99,3.18,1.23,72.97,0.58,8.81,0.00,0.24,2\n146,1.51839,12.85,3.67,1.24,72.57,0.62,8.68,0.00,0.35,2\n147,1.51769,13.65,3.66,1.11,72.77,0.11,8.60,0.00,0.00,3\n148,1.51610,13.33,3.53,1.34,72.67,0.56,8.33,0.00,0.00,3\n149,1.51670,13.24,3.57,1.38,72.70,0.56,8.44,0.00,0.10,3\n150,1.51643,12.16,3.52,1.35,72.89,0.57,8.53,0.00,0.00,3\n151,1.51665,13.14,3.45,1.76,72.48,0.60,8.38,0.00,0.17,3\n152,1.52127,14.32,3.90,0.83,71.50,0.00,9.49,0.00,0.00,3\n153,1.51779,13.64,3.65,0.65,73.00,0.06,8.93,0.00,0.00,3\n154,1.51610,13.42,3.40,1.22,72.69,0.59,8.32,0.00,0.00,3\n155,1.51694,12.86,3.58,1.31,72.61,0.61,8.79,0.00,0.00,3\n156,1.51646,13.04,3.40,1.26,73.01,0.52,8.58,0.00,0.00,3\n157,1.51655,13.41,3.39,1.28,72.64,0.52,8.65,0.00,0.00,3\n158,1.52121,14.03,3.76,0.58,71.79,0.11,9.65,0.00,0.00,3\n159,1.51776,13.53,3.41,1.52,72.04,0.58,8.79,0.00,0.00,3\n160,1.51796,13.50,3.36,1.63,71.94,0.57,8.81,0.00,0.09,3\n161,1.51832,13.33,3.34,1.54,72.14,0.56,8.99,0.00,0.00,3\n162,1.51934,13.64,3.54,0.75,72.65,0.16,8.89,0.15,0.24,3\n163,1.52211,14.19,3.78,0.91,71.36,0.23,9.14,0.00,0.37,3\n164,1.51514,14.01,2.68,3.50,69.89,1.68,5.87,2.20,0.00,5\n165,1.51915,12.73,1.85,1.86,72.69,0.60,10.09,0.00,0.00,5\n166,1.52171,11.56,1.88,1.56,72.86,0.47,11.41,0.00,0.00,5\n167,1.52151,11.03,1.71,1.56,73.44,0.58,11.62,0.00,0.00,5\n168,1.51969,12.64,0.00,1.65,73.75,0.38,11.53,0.00,0.00,5\n169,1.51666,12.86,0.00,1.83,73.88,0.97,10.17,0.00,0.00,5\n170,1.51994,13.27,0.00,1.76,73.03,0.47,11.32,0.00,0.00,5\n171,1.52369,13.44,0.00,1.58,72.22,0.32,12.24,0.00,0.00,5\n172,1.51316,13.02,0.00,3.04,70.48,6.21,6.96,0.00,0.00,5\n173,1.51321,13.00,0.00,3.02,70.70,6.21,6.93,0.00,0.00,5\n174,1.52043,13.38,0.00,1.40,72.25,0.33,12.50,0.00,0.00,5\n175,1.52058,12.85,1.61,2.17,72.18,0.76,9.70,0.24,0.51,5\n176,1.52119,12.97,0.33,1.51,73.39,0.13,11.27,0.00,0.28,5\n177,1.51905,14.00,2.39,1.56,72.37,0.00,9.57,0.00,0.00,6\n178,1.51937,13.79,2.41,1.19,72.76,0.00,9.77,0.00,0.00,6\n179,1.51829,14.46,2.24,1.62,72.38,0.00,9.26,0.00,0.00,6\n180,1.51852,14.09,2.19,1.66,72.67,0.00,9.32,0.00,0.00,6\n181,1.51299,14.40,1.74,1.54,74.55,0.00,7.59,0.00,0.00,6\n182,1.51888,14.99,0.78,1.74,72.50,0.00,9.95,0.00,0.00,6\n183,1.51916,14.15,0.00,2.09,72.74,0.00,10.88,0.00,0.00,6\n184,1.51969,14.56,0.00,0.56,73.48,0.00,11.22,0.00,0.00,6\n185,1.51115,17.38,0.00,0.34,75.41,0.00,6.65,0.00,0.00,6\n186,1.51131,13.69,3.20,1.81,72.81,1.76,5.43,1.19,0.00,7\n187,1.51838,14.32,3.26,2.22,71.25,1.46,5.79,1.63,0.00,7\n188,1.52315,13.44,3.34,1.23,72.38,0.60,8.83,0.00,0.00,7\n189,1.52247,14.86,2.20,2.06,70.26,0.76,9.76,0.00,0.00,7\n190,1.52365,15.79,1.83,1.31,70.43,0.31,8.61,1.68,0.00,7\n191,1.51613,13.88,1.78,1.79,73.10,0.00,8.67,0.76,0.00,7\n192,1.51602,14.85,0.00,2.38,73.28,0.00,8.76,0.64,0.09,7\n193,1.51623,14.20,0.00,2.79,73.46,0.04,9.04,0.40,0.09,7\n194,1.51719,14.75,0.00,2.00,73.02,0.00,8.53,1.59,0.08,7\n195,1.51683,14.56,0.00,1.98,73.29,0.00,8.52,1.57,0.07,7\n196,1.51545,14.14,0.00,2.68,73.39,0.08,9.07,0.61,0.05,7\n197,1.51556,13.87,0.00,2.54,73.23,0.14,9.41,0.81,0.01,7\n198,1.51727,14.70,0.00,2.34,73.28,0.00,8.95,0.66,0.00,7\n199,1.51531,14.38,0.00,2.66,73.10,0.04,9.08,0.64,0.00,7\n200,1.51609,15.01,0.00,2.51,73.05,0.05,8.83,0.53,0.00,7\n201,1.51508,15.15,0.00,2.25,73.50,0.00,8.34,0.63,0.00,7\n202,1.51653,11.95,0.00,1.19,75.18,2.70,8.93,0.00,0.00,7\n203,1.51514,14.85,0.00,2.42,73.72,0.00,8.39,0.56,0.00,7\n204,1.51658,14.80,0.00,1.99,73.11,0.00,8.28,1.71,0.00,7\n205,1.51617,14.95,0.00,2.27,73.30,0.00,8.71,0.67,0.00,7\n206,1.51732,14.95,0.00,1.80,72.99,0.00,8.61,1.55,0.00,7\n207,1.51645,14.94,0.00,1.87,73.11,0.00,8.67,1.38,0.00,7\n208,1.51831,14.39,0.00,1.82,72.86,1.41,6.47,2.88,0.00,7\n209,1.51640,14.37,0.00,2.74,72.85,0.00,9.45,0.54,0.00,7\n210,1.51623,14.14,0.00,2.88,72.61,0.08,9.18,1.06,0.00,7\n211,1.51685,14.92,0.00,1.99,73.06,0.00,8.40,1.59,0.00,7\n212,1.52065,14.36,0.00,2.02,73.42,0.00,8.44,1.64,0.00,7\n213,1.51651,14.38,0.00,1.94,73.61,0.00,8.48,1.57,0.00,7\n214,1.51711,14.23,0.00,2.08,73.36,0.00,8.62,1.67,0.00,7\n'

In [3]:
with open('glass.data' , 'r') as f:
    glass_data = csv.reader(f, delimiter = '\n')
    for i in glass_data:
        print(i)

['1', '1.52101', '13.64', '4.49', '1.10', '71.78', '0.06', '8.75', '0.00', '0.00', '1']
['2', '1.51761', '13.89', '3.60', '1.36', '72.73', '0.48', '7.83', '0.00', '0.00', '1']
['3', '1.51618', '13.53', '3.55', '1.54', '72.99', '0.39', '7.78', '0.00', '0.00', '1']
['4', '1.51766', '13.21', '3.69', '1.29', '72.61', '0.57', '8.22', '0.00', '0.00', '1']
['5', '1.51742', '13.27', '3.62', '1.24', '73.08', '0.55', '8.07', '0.00', '0.00', '1']
['6', '1.51596', '12.79', '3.61', '1.62', '72.97', '0.64', '8.07', '0.00', '0.26', '1']
['7', '1.51743', '13.30', '3.60', '1.14', '73.09', '0.58', '8.17', '0.00', '0.00', '1']
['8', '1.51756', '13.15', '3.61', '1.05', '73.24', '0.57', '8.24', '0.00', '0.00', '1']
['9', '1.51918', '14.04', '3.58', '1.37', '72.08', '0.56', '8.30', '0.00', '0.00', '1']
['10', '1.51755', '13.00', '3.60', '1.36', '72.99', '0.57', '8.40', '0.00', '0.11', '1']
['11', '1.51571', '12.72', '3.46', '1.56', '73.20', '0.67', '8.09', '0.00', '0.24', '1']
['12', '1.51763', '12.80', '3.66', '1.27', '73.01', '0.60', '8.56', '0.00', '0.00', '1']
['13', '1.51589', '12.88', '3.43', '1.40', '73.28', '0.69', '8.05', '0.00', '0.24', '1']
['14', '1.51748', '12.86', '3.56', '1.27', '73.21', '0.54', '8.38', '0.00', '0.17', '1']
['15', '1.51763', '12.61', '3.59', '1.31', '73.29', '0.58', '8.50', '0.00', '0.00', '1']
['16', '1.51761', '12.81', '3.54', '1.23', '73.24', '0.58', '8.39', '0.00', '0.00', '1']
['17', '1.51784', '12.68', '3.67', '1.16', '73.11', '0.61', '8.70', '0.00', '0.00', '1']
['18', '1.52196', '14.36', '3.85', '0.89', '71.36', '0.15', '9.15', '0.00', '0.00', '1']
['19', '1.51911', '13.90', '3.73', '1.18', '72.12', '0.06', '8.89', '0.00', '0.00', '1']
['20', '1.51735', '13.02', '3.54', '1.69', '72.73', '0.54', '8.44', '0.00', '0.07', '1']
['21', '1.51750', '12.82', '3.55', '1.49', '72.75', '0.54', '8.52', '0.00', '0.19', '1']
['22', '1.51966', '14.77', '3.75', '0.29', '72.02', '0.03', '9.00', '0.00', '0.00', '1']
['23', '1.51736', '12.78', '3.62', '1.29', '72.79', '0.59', '8.70', '0.00', '0.00', '1']
['24', '1.51751', '12.81', '3.57', '1.35', '73.02', '0.62', '8.59', '0.00', '0.00', '1']
['25', '1.51720', '13.38', '3.50', '1.15', '72.85', '0.50', '8.43', '0.00', '0.00', '1']
['26', '1.51764', '12.98', '3.54', '1.21', '73.00', '0.65', '8.53', '0.00', '0.00', '1']
['27', '1.51793', '13.21', '3.48', '1.41', '72.64', '0.59', '8.43', '0.00', '0.00', '1']
['28', '1.51721', '12.87', '3.48', '1.33', '73.04', '0.56', '8.43', '0.00', '0.00', '1']
['29', '1.51768', '12.56', '3.52', '1.43', '73.15', '0.57', '8.54', '0.00', '0.00', '1']
['30', '1.51784', '13.08', '3.49', '1.28', '72.86', '0.60', '8.49', '0.00', '0.00', '1']
['31', '1.51768', '12.65', '3.56', '1.30', '73.08', '0.61', '8.69', '0.00', '0.14', '1']
['32', '1.51747', '12.84', '3.50', '1.14', '73.27', '0.56', '8.55', '0.00', '0.00', '1']
['33', '1.51775', '12.85', '3.48', '1.23', '72.97', '0.61', '8.56', '0.09', '0.22', '1']
['34', '1.51753', '12.57', '3.47', '1.38', '73.39', '0.60', '8.55', '0.00', '0.06', '1']
['35', '1.51783', '12.69', '3.54', '1.34', '72.95', '0.57', '8.75', '0.00', '0.00', '1']
['36', '1.51567', '13.29', '3.45', '1.21', '72.74', '0.56', '8.57', '0.00', '0.00', '1']
['37', '1.51909', '13.89', '3.53', '1.32', '71.81', '0.51', '8.78', '0.11', '0.00', '1']
['38', '1.51797', '12.74', '3.48', '1.35', '72.96', '0.64', '8.68', '0.00', '0.00', '1']
['39', '1.52213', '14.21', '3.82', '0.47', '71.77', '0.11', '9.57', '0.00', '0.00', '1']
['40', '1.52213', '14.21', '3.82', '0.47', '71.77', '0.11', '9.57', '0.00', '0.00', '1']
['41', '1.51793', '12.79', '3.50', '1.12', '73.03', '0.64', '8.77', '0.00', '0.00', '1']
['42', '1.51755', '12.71', '3.42', '1.20', '73.20', '0.59', '8.64', '0.00', '0.00', '1']
['43', '1.51779', '13.21', '3.39', '1.33', '72.76', '0.59', '8.59', '0.00', '0.00', '1']
['44', '1.52210', '13.73', '3.84', '0.72', '71.76', '0.17', '9.74', '0.00', '0.00', '1']
['45', '1.51786', '12.73', '3.43', '1.19', '72.95', '0.62', '8.76', '0.00', '0.30', '1']
['46', '1.51900', '13.49', '3.48', '1.35', '71.95', '0.55', '9.00', '0.00', '0.00', '1']
['47', '1.51869', '13.19', '3.37', '1.18', '72.72', '0.57', '8.83', '0.00', '0.16', '1']
['48', '1.52667', '13.99', '3.70', '0.71', '71.57', '0.02', '9.82', '0.00', '0.10', '1']
['49', '1.52223', '13.21', '3.77', '0.79', '71.99', '0.13', '10.02', '0.00', '0.00', '1']
['50', '1.51898', '13.58', '3.35', '1.23', '72.08', '0.59', '8.91', '0.00', '0.00', '1']
['51', '1.52320', '13.72', '3.72', '0.51', '71.75', '0.09', '10.06', '0.00', '0.16', '1']
['52', '1.51926', '13.20', '3.33', '1.28', '72.36', '0.60', '9.14', '0.00', '0.11', '1']
['53', '1.51808', '13.43', '2.87', '1.19', '72.84', '0.55', '9.03', '0.00', '0.00', '1']
['54', '1.51837', '13.14', '2.84', '1.28', '72.85', '0.55', '9.07', '0.00', '0.00', '1']
['55', '1.51778', '13.21', '2.81', '1.29', '72.98', '0.51', '9.02', '0.00', '0.09', '1']
['56', '1.51769', '12.45', '2.71', '1.29', '73.70', '0.56', '9.06', '0.00', '0.24', '1']
['57', '1.51215', '12.99', '3.47', '1.12', '72.98', '0.62', '8.35', '0.00', '0.31', '1']
['58', '1.51824', '12.87', '3.48', '1.29', '72.95', '0.60', '8.43', '0.00', '0.00', '1']
['59', '1.51754', '13.48', '3.74', '1.17', '72.99', '0.59', '8.03', '0.00', '0.00', '1']
['60', '1.51754', '13.39', '3.66', '1.19', '72.79', '0.57', '8.27', '0.00', '0.11', '1']
['61', '1.51905', '13.60', '3.62', '1.11', '72.64', '0.14', '8.76', '0.00', '0.00', '1']
['62', '1.51977', '13.81', '3.58', '1.32', '71.72', '0.12', '8.67', '0.69', '0.00', '1']
['63', '1.52172', '13.51', '3.86', '0.88', '71.79', '0.23', '9.54', '0.00', '0.11', '1']
['64', '1.52227', '14.17', '3.81', '0.78', '71.35', '0.00', '9.69', '0.00', '0.00', '1']
['65', '1.52172', '13.48', '3.74', '0.90', '72.01', '0.18', '9.61', '0.00', '0.07', '1']
['66', '1.52099', '13.69', '3.59', '1.12', '71.96', '0.09', '9.40', '0.00', '0.00', '1']
['67', '1.52152', '13.05', '3.65', '0.87', '72.22', '0.19', '9.85', '0.00', '0.17', '1']
['68', '1.52152', '13.05', '3.65', '0.87', '72.32', '0.19', '9.85', '0.00', '0.17', '1']
['69', '1.52152', '13.12', '3.58', '0.90', '72.20', '0.23', '9.82', '0.00', '0.16', '1']
['70', '1.52300', '13.31', '3.58', '0.82', '71.99', '0.12', '10.17', '0.00', '0.03', '1']
['71', '1.51574', '14.86', '3.67', '1.74', '71.87', '0.16', '7.36', '0.00', '0.12', '2']
['72', '1.51848', '13.64', '3.87', '1.27', '71.96', '0.54', '8.32', '0.00', '0.32', '2']
['73', '1.51593', '13.09', '3.59', '1.52', '73.10', '0.67', '7.83', '0.00', '0.00', '2']
['74', '1.51631', '13.34', '3.57', '1.57', '72.87', '0.61', '7.89', '0.00', '0.00', '2']
['75', '1.51596', '13.02', '3.56', '1.54', '73.11', '0.72', '7.90', '0.00', '0.00', '2']
['76', '1.51590', '13.02', '3.58', '1.51', '73.12', '0.69', '7.96', '0.00', '0.00', '2']
['77', '1.51645', '13.44', '3.61', '1.54', '72.39', '0.66', '8.03', '0.00', '0.00', '2']
['78', '1.51627', '13.00', '3.58', '1.54', '72.83', '0.61', '8.04', '0.00', '0.00', '2']
['79', '1.51613', '13.92', '3.52', '1.25', '72.88', '0.37', '7.94', '0.00', '0.14', '2']
['80', '1.51590', '12.82', '3.52', '1.90', '72.86', '0.69', '7.97', '0.00', '0.00', '2']
['81', '1.51592', '12.86', '3.52', '2.12', '72.66', '0.69', '7.97', '0.00', '0.00', '2']
['82', '1.51593', '13.25', '3.45', '1.43', '73.17', '0.61', '7.86', '0.00', '0.00', '2']
['83', '1.51646', '13.41', '3.55', '1.25', '72.81', '0.68', '8.10', '0.00', '0.00', '2']
['84', '1.51594', '13.09', '3.52', '1.55', '72.87', '0.68', '8.05', '0.00', '0.09', '2']
['85', '1.51409', '14.25', '3.09', '2.08', '72.28', '1.10', '7.08', '0.00', '0.00', '2']
['86', '1.51625', '13.36', '3.58', '1.49', '72.72', '0.45', '8.21', '0.00', '0.00', '2']
['87', '1.51569', '13.24', '3.49', '1.47', '73.25', '0.38', '8.03', '0.00', '0.00', '2']
['88', '1.51645', '13.40', '3.49', '1.52', '72.65', '0.67', '8.08', '0.00', '0.10', '2']
['89', '1.51618', '13.01', '3.50', '1.48', '72.89', '0.60', '8.12', '0.00', '0.00', '2']
['90', '1.51640', '12.55', '3.48', '1.87', '73.23', '0.63', '8.08', '0.00', '0.09', '2']
['91', '1.51841', '12.93', '3.74', '1.11', '72.28', '0.64', '8.96', '0.00', '0.22', '2']
['92', '1.51605', '12.90', '3.44', '1.45', '73.06', '0.44', '8.27', '0.00', '0.00', '2']
['93', '1.51588', '13.12', '3.41', '1.58', '73.26', '0.07', '8.39', '0.00', '0.19', '2']
['94', '1.51590', '13.24', '3.34', '1.47', '73.10', '0.39', '8.22', '0.00', '0.00', '2']
['95', '1.51629', '12.71', '3.33', '1.49', '73.28', '0.67', '8.24', '0.00', '0.00', '2']
['96', '1.51860', '13.36', '3.43', '1.43', '72.26', '0.51', '8.60', '0.00', '0.00', '2']
['97', '1.51841', '13.02', '3.62', '1.06', '72.34', '0.64', '9.13', '0.00', '0.15', '2']
['98', '1.51743', '12.20', '3.25', '1.16', '73.55', '0.62', '8.90', '0.00', '0.24', '2']
['99', '1.51689', '12.67', '2.88', '1.71', '73.21', '0.73', '8.54', '0.00', '0.00', '2']
['100', '1.51811', '12.96', '2.96', '1.43', '72.92', '0.60', '8.79', '0.14', '0.00', '2']
['101', '1.51655', '12.75', '2.85', '1.44', '73.27', '0.57', '8.79', '0.11', '0.22', '2']
['102', '1.51730', '12.35', '2.72', '1.63', '72.87', '0.70', '9.23', '0.00', '0.00', '2']
['103', '1.51820', '12.62', '2.76', '0.83', '73.81', '0.35', '9.42', '0.00', '0.20', '2']
['104', '1.52725', '13.80', '3.15', '0.66', '70.57', '0.08', '11.64', '0.00', '0.00', '2']
['105', '1.52410', '13.83', '2.90', '1.17', '71.15', '0.08', '10.79', '0.00', '0.00', '2']
['106', '1.52475', '11.45', '0.00', '1.88', '72.19', '0.81', '13.24', '0.00', '0.34', '2']
['107', '1.53125', '10.73', '0.00', '2.10', '69.81', '0.58', '13.30', '3.15', '0.28', '2']
['108', '1.53393', '12.30', '0.00', '1.00', '70.16', '0.12', '16.19', '0.00', '0.24', '2']
['109', '1.52222', '14.43', '0.00', '1.00', '72.67', '0.10', '11.52', '0.00', '0.08', '2']
['110', '1.51818', '13.72', '0.00', '0.56', '74.45', '0.00', '10.99', '0.00', '0.00', '2']
['111', '1.52664', '11.23', '0.00', '0.77', '73.21', '0.00', '14.68', '0.00', '0.00', '2']
['112', '1.52739', '11.02', '0.00', '0.75', '73.08', '0.00', '14.96', '0.00', '0.00', '2']
['113', '1.52777', '12.64', '0.00', '0.67', '72.02', '0.06', '14.40', '0.00', '0.00', '2']
['114', '1.51892', '13.46', '3.83', '1.26', '72.55', '0.57', '8.21', '0.00', '0.14', '2']
['115', '1.51847', '13.10', '3.97', '1.19', '72.44', '0.60', '8.43', '0.00', '0.00', '2']
['116', '1.51846', '13.41', '3.89', '1.33', '72.38', '0.51', '8.28', '0.00', '0.00', '2']
['117', '1.51829', '13.24', '3.90', '1.41', '72.33', '0.55', '8.31', '0.00', '0.10', '2']
['118', '1.51708', '13.72', '3.68', '1.81', '72.06', '0.64', '7.88', '0.00', '0.00', '2']
['119', '1.51673', '13.30', '3.64', '1.53', '72.53', '0.65', '8.03', '0.00', '0.29', '2']
['120', '1.51652', '13.56', '3.57', '1.47', '72.45', '0.64', '7.96', '0.00', '0.00', '2']
['121', '1.51844', '13.25', '3.76', '1.32', '72.40', '0.58', '8.42', '0.00', '0.00', '2']
['122', '1.51663', '12.93', '3.54', '1.62', '72.96', '0.64', '8.03', '0.00', '0.21', '2']
['123', '1.51687', '13.23', '3.54', '1.48', '72.84', '0.56', '8.10', '0.00', '0.00', '2']
['124', '1.51707', '13.48', '3.48', '1.71', '72.52', '0.62', '7.99', '0.00', '0.00', '2']
['125', '1.52177', '13.20', '3.68', '1.15', '72.75', '0.54', '8.52', '0.00', '0.00', '2']
['126', '1.51872', '12.93', '3.66', '1.56', '72.51', '0.58', '8.55', '0.00', '0.12', '2']
['127', '1.51667', '12.94', '3.61', '1.26', '72.75', '0.56', '8.60', '0.00', '0.00', '2']
['128', '1.52081', '13.78', '2.28', '1.43', '71.99', '0.49', '9.85', '0.00', '0.17', '2']
['129', '1.52068', '13.55', '2.09', '1.67', '72.18', '0.53', '9.57', '0.27', '0.17', '2']
['130', '1.52020', '13.98', '1.35', '1.63', '71.76', '0.39', '10.56', '0.00', '0.18', '2']
['131', '1.52177', '13.75', '1.01', '1.36', '72.19', '0.33', '11.14', '0.00', '0.00', '2']
['132', '1.52614', '13.70', '0.00', '1.36', '71.24', '0.19', '13.44', '0.00', '0.10', '2']
['133', '1.51813', '13.43', '3.98', '1.18', '72.49', '0.58', '8.15', '0.00', '0.00', '2']
['134', '1.51800', '13.71', '3.93', '1.54', '71.81', '0.54', '8.21', '0.00', '0.15', '2']
['135', '1.51811', '13.33', '3.85', '1.25', '72.78', '0.52', '8.12', '0.00', '0.00', '2']
['136', '1.51789', '13.19', '3.90', '1.30', '72.33', '0.55', '8.44', '0.00', '0.28', '2']
['137', '1.51806', '13.00', '3.80', '1.08', '73.07', '0.56', '8.38', '0.00', '0.12', '2']
['138', '1.51711', '12.89', '3.62', '1.57', '72.96', '0.61', '8.11', '0.00', '0.00', '2']
['139', '1.51674', '12.79', '3.52', '1.54', '73.36', '0.66', '7.90', '0.00', '0.00', '2']
['140', '1.51674', '12.87', '3.56', '1.64', '73.14', '0.65', '7.99', '0.00', '0.00', '2']
['141', '1.51690', '13.33', '3.54', '1.61', '72.54', '0.68', '8.11', '0.00', '0.00', '2']
['142', '1.51851', '13.20', '3.63', '1.07', '72.83', '0.57', '8.41', '0.09', '0.17', '2']
['143', '1.51662', '12.85', '3.51', '1.44', '73.01', '0.68', '8.23', '0.06', '0.25', '2']
['144', '1.51709', '13.00', '3.47', '1.79', '72.72', '0.66', '8.18', '0.00', '0.00', '2']
['145', '1.51660', '12.99', '3.18', '1.23', '72.97', '0.58', '8.81', '0.00', '0.24', '2']
['146', '1.51839', '12.85', '3.67', '1.24', '72.57', '0.62', '8.68', '0.00', '0.35', '2']
['147', '1.51769', '13.65', '3.66', '1.11', '72.77', '0.11', '8.60', '0.00', '0.00', '3']
['148', '1.51610', '13.33', '3.53', '1.34', '72.67', '0.56', '8.33', '0.00', '0.00', '3']
['149', '1.51670', '13.24', '3.57', '1.38', '72.70', '0.56', '8.44', '0.00', '0.10', '3']
['150', '1.51643', '12.16', '3.52', '1.35', '72.89', '0.57', '8.53', '0.00', '0.00', '3']
['151', '1.51665', '13.14', '3.45', '1.76', '72.48', '0.60', '8.38', '0.00', '0.17', '3']
['152', '1.52127', '14.32', '3.90', '0.83', '71.50', '0.00', '9.49', '0.00', '0.00', '3']
['153', '1.51779', '13.64', '3.65', '0.65', '73.00', '0.06', '8.93', '0.00', '0.00', '3']
['154', '1.51610', '13.42', '3.40', '1.22', '72.69', '0.59', '8.32', '0.00', '0.00', '3']
['155', '1.51694', '12.86', '3.58', '1.31', '72.61', '0.61', '8.79', '0.00', '0.00', '3']
['156', '1.51646', '13.04', '3.40', '1.26', '73.01', '0.52', '8.58', '0.00', '0.00', '3']
['157', '1.51655', '13.41', '3.39', '1.28', '72.64', '0.52', '8.65', '0.00', '0.00', '3']
['158', '1.52121', '14.03', '3.76', '0.58', '71.79', '0.11', '9.65', '0.00', '0.00', '3']
['159', '1.51776', '13.53', '3.41', '1.52', '72.04', '0.58', '8.79', '0.00', '0.00', '3']
['160', '1.51796', '13.50', '3.36', '1.63', '71.94', '0.57', '8.81', '0.00', '0.09', '3']
['161', '1.51832', '13.33', '3.34', '1.54', '72.14', '0.56', '8.99', '0.00', '0.00', '3']
['162', '1.51934', '13.64', '3.54', '0.75', '72.65', '0.16', '8.89', '0.15', '0.24', '3']
['163', '1.52211', '14.19', '3.78', '0.91', '71.36', '0.23', '9.14', '0.00', '0.37', '3']
['164', '1.51514', '14.01', '2.68', '3.50', '69.89', '1.68', '5.87', '2.20', '0.00', '5']
['165', '1.51915', '12.73', '1.85', '1.86', '72.69', '0.60', '10.09', '0.00', '0.00', '5']
['166', '1.52171', '11.56', '1.88', '1.56', '72.86', '0.47', '11.41', '0.00', '0.00', '5']
['167', '1.52151', '11.03', '1.71', '1.56', '73.44', '0.58', '11.62', '0.00', '0.00', '5']
['168', '1.51969', '12.64', '0.00', '1.65', '73.75', '0.38', '11.53', '0.00', '0.00', '5']
['169', '1.51666', '12.86', '0.00', '1.83', '73.88', '0.97', '10.17', '0.00', '0.00', '5']
['170', '1.51994', '13.27', '0.00', '1.76', '73.03', '0.47', '11.32', '0.00', '0.00', '5']
['171', '1.52369', '13.44', '0.00', '1.58', '72.22', '0.32', '12.24', '0.00', '0.00', '5']
['172', '1.51316', '13.02', '0.00', '3.04', '70.48', '6.21', '6.96', '0.00', '0.00', '5']
['173', '1.51321', '13.00', '0.00', '3.02', '70.70', '6.21', '6.93', '0.00', '0.00', '5']
['174', '1.52043', '13.38', '0.00', '1.40', '72.25', '0.33', '12.50', '0.00', '0.00', '5']
['175', '1.52058', '12.85', '1.61', '2.17', '72.18', '0.76', '9.70', '0.24', '0.51', '5']
['176', '1.52119', '12.97', '0.33', '1.51', '73.39', '0.13', '11.27', '0.00', '0.28', '5']
['177', '1.51905', '14.00', '2.39', '1.56', '72.37', '0.00', '9.57', '0.00', '0.00', '6']
['178', '1.51937', '13.79', '2.41', '1.19', '72.76', '0.00', '9.77', '0.00', '0.00', '6']
['179', '1.51829', '14.46', '2.24', '1.62', '72.38', '0.00', '9.26', '0.00', '0.00', '6']
['180', '1.51852', '14.09', '2.19', '1.66', '72.67', '0.00', '9.32', '0.00', '0.00', '6']
['181', '1.51299', '14.40', '1.74', '1.54', '74.55', '0.00', '7.59', '0.00', '0.00', '6']
['182', '1.51888', '14.99', '0.78', '1.74', '72.50', '0.00', '9.95', '0.00', '0.00', '6']
['183', '1.51916', '14.15', '0.00', '2.09', '72.74', '0.00', '10.88', '0.00', '0.00', '6']
['184', '1.51969', '14.56', '0.00', '0.56', '73.48', '0.00', '11.22', '0.00', '0.00', '6']
['185', '1.51115', '17.38', '0.00', '0.34', '75.41', '0.00', '6.65', '0.00', '0.00', '6']
['186', '1.51131', '13.69', '3.20', '1.81', '72.81', '1.76', '5.43', '1.19', '0.00', '7']
['187', '1.51838', '14.32', '3.26', '2.22', '71.25', '1.46', '5.79', '1.63', '0.00', '7']
['188', '1.52315', '13.44', '3.34', '1.23', '72.38', '0.60', '8.83', '0.00', '0.00', '7']
['189', '1.52247', '14.86', '2.20', '2.06', '70.26', '0.76', '9.76', '0.00', '0.00', '7']
['190', '1.52365', '15.79', '1.83', '1.31', '70.43', '0.31', '8.61', '1.68', '0.00', '7']
['191', '1.51613', '13.88', '1.78', '1.79', '73.10', '0.00', '8.67', '0.76', '0.00', '7']
['192', '1.51602', '14.85', '0.00', '2.38', '73.28', '0.00', '8.76', '0.64', '0.09', '7']
['193', '1.51623', '14.20', '0.00', '2.79', '73.46', '0.04', '9.04', '0.40', '0.09', '7']
['194', '1.51719', '14.75', '0.00', '2.00', '73.02', '0.00', '8.53', '1.59', '0.08', '7']
['195', '1.51683', '14.56', '0.00', '1.98', '73.29', '0.00', '8.52', '1.57', '0.07', '7']
['196', '1.51545', '14.14', '0.00', '2.68', '73.39', '0.08', '9.07', '0.61', '0.05', '7']
['197', '1.51556', '13.87', '0.00', '2.54', '73.23', '0.14', '9.41', '0.81', '0.01', '7']
['198', '1.51727', '14.70', '0.00', '2.34', '73.28', '0.00', '8.95', '0.66', '0.00', '7']
['199', '1.51531', '14.38', '0.00', '2.66', '73.10', '0.04', '9.08', '0.64', '0.00', '7']
['200', '1.51609', '15.01', '0.00', '2.51', '73.05', '0.05', '8.83', '0.53', '0.00', '7']
['201', '1.51508', '15.15', '0.00', '2.25', '73.50', '0.00', '8.34', '0.63', '0.00', '7']
['202', '1.51653', '11.95', '0.00', '1.19', '75.18', '2.70', '8.93', '0.00', '0.00', '7']
['203', '1.51514', '14.85', '0.00', '2.42', '73.72', '0.00', '8.39', '0.56', '0.00', '7']
['204', '1.51658', '14.80', '0.00', '1.99', '73.11', '0.00', '8.28', '1.71', '0.00', '7']
['205', '1.51617', '14.95', '0.00', '2.27', '73.30', '0.00', '8.71', '0.67', '0.00', '7']
['206', '1.51732', '14.95', '0.00', '1.80', '72.99', '0.00', '8.61', '1.55', '0.00', '7']
['207', '1.51645', '14.94', '0.00', '1.87', '73.11', '0.00', '8.67', '1.38', '0.00', '7']
['208', '1.51831', '14.39', '0.00', '1.82', '72.86', '1.41', '6.47', '2.88', '0.00', '7']
['209', '1.51640', '14.37', '0.00', '2.74', '72.85', '0.00', '9.45', '0.54', '0.00', '7']
['210', '1.51623', '14.14', '0.00', '2.88', '72.61', '0.08', '9.18', '1.06', '0.00', '7']
['211', '1.51685', '14.92', '0.00', '1.99', '73.06', '0.00', '8.40', '1.59', '0.00', '7']
['212', '1.52065', '14.36', '0.00', '2.02', '73.42', '0.00', '8.44', '1.64', '0.00', '7']
['213', '1.51651', '14.38', '0.00', '1.94', '73.61', '0.00', '8.48', '1.57', '0.00', '7']
['214', '1.51711', '14.23', '0.00', '2.08', '73.36', '0.00', '8.62', '1.67', '0.00', '7']

In [16]:
another = ('CREATE TABLE glass (col1 INT(10), col2 FLOAT(10,6), col3 FLOAT(10,6), col4 FLOAT(10,5), col5 FLOAT(10,6), col6 FLOAT(10,6), col7 FLOAT(10,6), col8 FLOAT(10,6), col9 FLOAT(10,6), col10 FLOAT(10,6), col11 INT(10))')
c.execute(another)
c.execute('SHOW TABLES')
c.fetchall()

[('glass',), ('information',)]

In [17]:
c.execute('SELECT * FROM information')
c.fetchall()

[(20069, 'Vinod', 'kumar', 69),
 (20050, 'Vinodh', 'kumarrr', 669),
 (250, 'Nandhamuri ', 'Rama Rao', 30669)]

we are committing all the changes we have done(all changes done in sql database)

In [18]:
mydb.commit()

inserting every single vlalue into the db(delimiter means divide values on the basis of ',' in this data)

In [19]:
with open('glass.data' , 'r') as f:
    glass_data = csv.reader(f, delimiter = '\n')
    for i in glass_data:
        print(f'INSERT INTO glass VALUES ({str(i[0])})')
        c.execute('INSERT INTO vinod1.glass VALUES({values})'.format(values = ((i[0]))))

INSERT INTO glass VALUES (1,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.00,0.00,1)
INSERT INTO glass VALUES (2,1.51761,13.89,3.60,1.36,72.73,0.48,7.83,0.00,0.00,1)
INSERT INTO glass VALUES (3,1.51618,13.53,3.55,1.54,72.99,0.39,7.78,0.00,0.00,1)
INSERT INTO glass VALUES (4,1.51766,13.21,3.69,1.29,72.61,0.57,8.22,0.00,0.00,1)
INSERT INTO glass VALUES (5,1.51742,13.27,3.62,1.24,73.08,0.55,8.07,0.00,0.00,1)
INSERT INTO glass VALUES (6,1.51596,12.79,3.61,1.62,72.97,0.64,8.07,0.00,0.26,1)
INSERT INTO glass VALUES (7,1.51743,13.30,3.60,1.14,73.09,0.58,8.17,0.00,0.00,1)
INSERT INTO glass VALUES (8,1.51756,13.15,3.61,1.05,73.24,0.57,8.24,0.00,0.00,1)
INSERT INTO glass VALUES (9,1.51918,14.04,3.58,1.37,72.08,0.56,8.30,0.00,0.00,1)
INSERT INTO glass VALUES (10,1.51755,13.00,3.60,1.36,72.99,0.57,8.40,0.00,0.11,1)
INSERT INTO glass VALUES (11,1.51571,12.72,3.46,1.56,73.20,0.67,8.09,0.00,0.24,1)
INSERT INTO glass VALUES (12,1.51763,12.80,3.66,1.27,73.01,0.60,8.56,0.00,0.00,1)
INSERT INTO glass VALUES (13,1.51589,12.88,3.43,1.40,73.28,0.69,8.05,0.00,0.24,1)
INSERT INTO glass VALUES (14,1.51748,12.86,3.56,1.27,73.21,0.54,8.38,0.00,0.17,1)
INSERT INTO glass VALUES (15,1.51763,12.61,3.59,1.31,73.29,0.58,8.50,0.00,0.00,1)
INSERT INTO glass VALUES (16,1.51761,12.81,3.54,1.23,73.24,0.58,8.39,0.00,0.00,1)
INSERT INTO glass VALUES (17,1.51784,12.68,3.67,1.16,73.11,0.61,8.70,0.00,0.00,1)
INSERT INTO glass VALUES (18,1.52196,14.36,3.85,0.89,71.36,0.15,9.15,0.00,0.00,1)
INSERT INTO glass VALUES (19,1.51911,13.90,3.73,1.18,72.12,0.06,8.89,0.00,0.00,1)
INSERT INTO glass VALUES (20,1.51735,13.02,3.54,1.69,72.73,0.54,8.44,0.00,0.07,1)
INSERT INTO glass VALUES (21,1.51750,12.82,3.55,1.49,72.75,0.54,8.52,0.00,0.19,1)
INSERT INTO glass VALUES (22,1.51966,14.77,3.75,0.29,72.02,0.03,9.00,0.00,0.00,1)
INSERT INTO glass VALUES (23,1.51736,12.78,3.62,1.29,72.79,0.59,8.70,0.00,0.00,1)
INSERT INTO glass VALUES (24,1.51751,12.81,3.57,1.35,73.02,0.62,8.59,0.00,0.00,1)
INSERT INTO glass VALUES (25,1.51720,13.38,3.50,1.15,72.85,0.50,8.43,0.00,0.00,1)
INSERT INTO glass VALUES (26,1.51764,12.98,3.54,1.21,73.00,0.65,8.53,0.00,0.00,1)
INSERT INTO glass VALUES (27,1.51793,13.21,3.48,1.41,72.64,0.59,8.43,0.00,0.00,1)
INSERT INTO glass VALUES (28,1.51721,12.87,3.48,1.33,73.04,0.56,8.43,0.00,0.00,1)
INSERT INTO glass VALUES (29,1.51768,12.56,3.52,1.43,73.15,0.57,8.54,0.00,0.00,1)
INSERT INTO glass VALUES (30,1.51784,13.08,3.49,1.28,72.86,0.60,8.49,0.00,0.00,1)
INSERT INTO glass VALUES (31,1.51768,12.65,3.56,1.30,73.08,0.61,8.69,0.00,0.14,1)
INSERT INTO glass VALUES (32,1.51747,12.84,3.50,1.14,73.27,0.56,8.55,0.00,0.00,1)
INSERT INTO glass VALUES (33,1.51775,12.85,3.48,1.23,72.97,0.61,8.56,0.09,0.22,1)
INSERT INTO glass VALUES (34,1.51753,12.57,3.47,1.38,73.39,0.60,8.55,0.00,0.06,1)
INSERT INTO glass VALUES (35,1.51783,12.69,3.54,1.34,72.95,0.57,8.75,0.00,0.00,1)
INSERT INTO glass VALUES (36,1.51567,13.29,3.45,1.21,72.74,0.56,8.57,0.00,0.00,1)
INSERT INTO glass VALUES (37,1.51909,13.89,3.53,1.32,71.81,0.51,8.78,0.11,0.00,1)
INSERT INTO glass VALUES (38,1.51797,12.74,3.48,1.35,72.96,0.64,8.68,0.00,0.00,1)
INSERT INTO glass VALUES (39,1.52213,14.21,3.82,0.47,71.77,0.11,9.57,0.00,0.00,1)
INSERT INTO glass VALUES (40,1.52213,14.21,3.82,0.47,71.77,0.11,9.57,0.00,0.00,1)
INSERT INTO glass VALUES (41,1.51793,12.79,3.50,1.12,73.03,0.64,8.77,0.00,0.00,1)
INSERT INTO glass VALUES (42,1.51755,12.71,3.42,1.20,73.20,0.59,8.64,0.00,0.00,1)
INSERT INTO glass VALUES (43,1.51779,13.21,3.39,1.33,72.76,0.59,8.59,0.00,0.00,1)
INSERT INTO glass VALUES (44,1.52210,13.73,3.84,0.72,71.76,0.17,9.74,0.00,0.00,1)
INSERT INTO glass VALUES (45,1.51786,12.73,3.43,1.19,72.95,0.62,8.76,0.00,0.30,1)
INSERT INTO glass VALUES (46,1.51900,13.49,3.48,1.35,71.95,0.55,9.00,0.00,0.00,1)
INSERT INTO glass VALUES (47,1.51869,13.19,3.37,1.18,72.72,0.57,8.83,0.00,0.16,1)
INSERT INTO glass VALUES (48,1.52667,13.99,3.70,0.71,71.57,0.02,9.82,0.00,0.10,1)
INSERT INTO glass VALUES (49,1.52223,13.21,3.77,0.79,71.99,0.13,10.02,0.00,0.00,1)
INSERT INTO glass VALUES (50,1.51898,13.58,3.35,1.23,72.08,0.59,8.91,0.00,0.00,1)
INSERT INTO glass VALUES (51,1.52320,13.72,3.72,0.51,71.75,0.09,10.06,0.00,0.16,1)
INSERT INTO glass VALUES (52,1.51926,13.20,3.33,1.28,72.36,0.60,9.14,0.00,0.11,1)
INSERT INTO glass VALUES (53,1.51808,13.43,2.87,1.19,72.84,0.55,9.03,0.00,0.00,1)
INSERT INTO glass VALUES (54,1.51837,13.14,2.84,1.28,72.85,0.55,9.07,0.00,0.00,1)
INSERT INTO glass VALUES (55,1.51778,13.21,2.81,1.29,72.98,0.51,9.02,0.00,0.09,1)
INSERT INTO glass VALUES (56,1.51769,12.45,2.71,1.29,73.70,0.56,9.06,0.00,0.24,1)
INSERT INTO glass VALUES (57,1.51215,12.99,3.47,1.12,72.98,0.62,8.35,0.00,0.31,1)
INSERT INTO glass VALUES (58,1.51824,12.87,3.48,1.29,72.95,0.60,8.43,0.00,0.00,1)
INSERT INTO glass VALUES (59,1.51754,13.48,3.74,1.17,72.99,0.59,8.03,0.00,0.00,1)
INSERT INTO glass VALUES (60,1.51754,13.39,3.66,1.19,72.79,0.57,8.27,0.00,0.11,1)
INSERT INTO glass VALUES (61,1.51905,13.60,3.62,1.11,72.64,0.14,8.76,0.00,0.00,1)
INSERT INTO glass VALUES (62,1.51977,13.81,3.58,1.32,71.72,0.12,8.67,0.69,0.00,1)
INSERT INTO glass VALUES (63,1.52172,13.51,3.86,0.88,71.79,0.23,9.54,0.00,0.11,1)
INSERT INTO glass VALUES (64,1.52227,14.17,3.81,0.78,71.35,0.00,9.69,0.00,0.00,1)
INSERT INTO glass VALUES (65,1.52172,13.48,3.74,0.90,72.01,0.18,9.61,0.00,0.07,1)
INSERT INTO glass VALUES (66,1.52099,13.69,3.59,1.12,71.96,0.09,9.40,0.00,0.00,1)
INSERT INTO glass VALUES (67,1.52152,13.05,3.65,0.87,72.22,0.19,9.85,0.00,0.17,1)
INSERT INTO glass VALUES (68,1.52152,13.05,3.65,0.87,72.32,0.19,9.85,0.00,0.17,1)
INSERT INTO glass VALUES (69,1.52152,13.12,3.58,0.90,72.20,0.23,9.82,0.00,0.16,1)
INSERT INTO glass VALUES (70,1.52300,13.31,3.58,0.82,71.99,0.12,10.17,0.00,0.03,1)
INSERT INTO glass VALUES (71,1.51574,14.86,3.67,1.74,71.87,0.16,7.36,0.00,0.12,2)
INSERT INTO glass VALUES (72,1.51848,13.64,3.87,1.27,71.96,0.54,8.32,0.00,0.32,2)
INSERT INTO glass VALUES (73,1.51593,13.09,3.59,1.52,73.10,0.67,7.83,0.00,0.00,2)
INSERT INTO glass VALUES (74,1.51631,13.34,3.57,1.57,72.87,0.61,7.89,0.00,0.00,2)
INSERT INTO glass VALUES (75,1.51596,13.02,3.56,1.54,73.11,0.72,7.90,0.00,0.00,2)
INSERT INTO glass VALUES (76,1.51590,13.02,3.58,1.51,73.12,0.69,7.96,0.00,0.00,2)
INSERT INTO glass VALUES (77,1.51645,13.44,3.61,1.54,72.39,0.66,8.03,0.00,0.00,2)
INSERT INTO glass VALUES (78,1.51627,13.00,3.58,1.54,72.83,0.61,8.04,0.00,0.00,2)
INSERT INTO glass VALUES (79,1.51613,13.92,3.52,1.25,72.88,0.37,7.94,0.00,0.14,2)
INSERT INTO glass VALUES (80,1.51590,12.82,3.52,1.90,72.86,0.69,7.97,0.00,0.00,2)
INSERT INTO glass VALUES (81,1.51592,12.86,3.52,2.12,72.66,0.69,7.97,0.00,0.00,2)
INSERT INTO glass VALUES (82,1.51593,13.25,3.45,1.43,73.17,0.61,7.86,0.00,0.00,2)
INSERT INTO glass VALUES (83,1.51646,13.41,3.55,1.25,72.81,0.68,8.10,0.00,0.00,2)
INSERT INTO glass VALUES (84,1.51594,13.09,3.52,1.55,72.87,0.68,8.05,0.00,0.09,2)
INSERT INTO glass VALUES (85,1.51409,14.25,3.09,2.08,72.28,1.10,7.08,0.00,0.00,2)
INSERT INTO glass VALUES (86,1.51625,13.36,3.58,1.49,72.72,0.45,8.21,0.00,0.00,2)
INSERT INTO glass VALUES (87,1.51569,13.24,3.49,1.47,73.25,0.38,8.03,0.00,0.00,2)
INSERT INTO glass VALUES (88,1.51645,13.40,3.49,1.52,72.65,0.67,8.08,0.00,0.10,2)
INSERT INTO glass VALUES (89,1.51618,13.01,3.50,1.48,72.89,0.60,8.12,0.00,0.00,2)
INSERT INTO glass VALUES (90,1.51640,12.55,3.48,1.87,73.23,0.63,8.08,0.00,0.09,2)
INSERT INTO glass VALUES (91,1.51841,12.93,3.74,1.11,72.28,0.64,8.96,0.00,0.22,2)
INSERT INTO glass VALUES (92,1.51605,12.90,3.44,1.45,73.06,0.44,8.27,0.00,0.00,2)
INSERT INTO glass VALUES (93,1.51588,13.12,3.41,1.58,73.26,0.07,8.39,0.00,0.19,2)
INSERT INTO glass VALUES (94,1.51590,13.24,3.34,1.47,73.10,0.39,8.22,0.00,0.00,2)
INSERT INTO glass VALUES (95,1.51629,12.71,3.33,1.49,73.28,0.67,8.24,0.00,0.00,2)
INSERT INTO glass VALUES (96,1.51860,13.36,3.43,1.43,72.26,0.51,8.60,0.00,0.00,2)
INSERT INTO glass VALUES (97,1.51841,13.02,3.62,1.06,72.34,0.64,9.13,0.00,0.15,2)
INSERT INTO glass VALUES (98,1.51743,12.20,3.25,1.16,73.55,0.62,8.90,0.00,0.24,2)
INSERT INTO glass VALUES (99,1.51689,12.67,2.88,1.71,73.21,0.73,8.54,0.00,0.00,2)
INSERT INTO glass VALUES (100,1.51811,12.96,2.96,1.43,72.92,0.60,8.79,0.14,0.00,2)
INSERT INTO glass VALUES (101,1.51655,12.75,2.85,1.44,73.27,0.57,8.79,0.11,0.22,2)
INSERT INTO glass VALUES (102,1.51730,12.35,2.72,1.63,72.87,0.70,9.23,0.00,0.00,2)
INSERT INTO glass VALUES (103,1.51820,12.62,2.76,0.83,73.81,0.35,9.42,0.00,0.20,2)
INSERT INTO glass VALUES (104,1.52725,13.80,3.15,0.66,70.57,0.08,11.64,0.00,0.00,2)
INSERT INTO glass VALUES (105,1.52410,13.83,2.90,1.17,71.15,0.08,10.79,0.00,0.00,2)
INSERT INTO glass VALUES (106,1.52475,11.45,0.00,1.88,72.19,0.81,13.24,0.00,0.34,2)
INSERT INTO glass VALUES (107,1.53125,10.73,0.00,2.10,69.81,0.58,13.30,3.15,0.28,2)
INSERT INTO glass VALUES (108,1.53393,12.30,0.00,1.00,70.16,0.12,16.19,0.00,0.24,2)
INSERT INTO glass VALUES (109,1.52222,14.43,0.00,1.00,72.67,0.10,11.52,0.00,0.08,2)
INSERT INTO glass VALUES (110,1.51818,13.72,0.00,0.56,74.45,0.00,10.99,0.00,0.00,2)
INSERT INTO glass VALUES (111,1.52664,11.23,0.00,0.77,73.21,0.00,14.68,0.00,0.00,2)
INSERT INTO glass VALUES (112,1.52739,11.02,0.00,0.75,73.08,0.00,14.96,0.00,0.00,2)
INSERT INTO glass VALUES (113,1.52777,12.64,0.00,0.67,72.02,0.06,14.40,0.00,0.00,2)
INSERT INTO glass VALUES (114,1.51892,13.46,3.83,1.26,72.55,0.57,8.21,0.00,0.14,2)
INSERT INTO glass VALUES (115,1.51847,13.10,3.97,1.19,72.44,0.60,8.43,0.00,0.00,2)
INSERT INTO glass VALUES (116,1.51846,13.41,3.89,1.33,72.38,0.51,8.28,0.00,0.00,2)
INSERT INTO glass VALUES (117,1.51829,13.24,3.90,1.41,72.33,0.55,8.31,0.00,0.10,2)
INSERT INTO glass VALUES (118,1.51708,13.72,3.68,1.81,72.06,0.64,7.88,0.00,0.00,2)
INSERT INTO glass VALUES (119,1.51673,13.30,3.64,1.53,72.53,0.65,8.03,0.00,0.29,2)
INSERT INTO glass VALUES (120,1.51652,13.56,3.57,1.47,72.45,0.64,7.96,0.00,0.00,2)
INSERT INTO glass VALUES (121,1.51844,13.25,3.76,1.32,72.40,0.58,8.42,0.00,0.00,2)
INSERT INTO glass VALUES (122,1.51663,12.93,3.54,1.62,72.96,0.64,8.03,0.00,0.21,2)
INSERT INTO glass VALUES (123,1.51687,13.23,3.54,1.48,72.84,0.56,8.10,0.00,0.00,2)
INSERT INTO glass VALUES (124,1.51707,13.48,3.48,1.71,72.52,0.62,7.99,0.00,0.00,2)
INSERT INTO glass VALUES (125,1.52177,13.20,3.68,1.15,72.75,0.54,8.52,0.00,0.00,2)
INSERT INTO glass VALUES (126,1.51872,12.93,3.66,1.56,72.51,0.58,8.55,0.00,0.12,2)
INSERT INTO glass VALUES (127,1.51667,12.94,3.61,1.26,72.75,0.56,8.60,0.00,0.00,2)
INSERT INTO glass VALUES (128,1.52081,13.78,2.28,1.43,71.99,0.49,9.85,0.00,0.17,2)
INSERT INTO glass VALUES (129,1.52068,13.55,2.09,1.67,72.18,0.53,9.57,0.27,0.17,2)
INSERT INTO glass VALUES (130,1.52020,13.98,1.35,1.63,71.76,0.39,10.56,0.00,0.18,2)
INSERT INTO glass VALUES (131,1.52177,13.75,1.01,1.36,72.19,0.33,11.14,0.00,0.00,2)
INSERT INTO glass VALUES (132,1.52614,13.70,0.00,1.36,71.24,0.19,13.44,0.00,0.10,2)
INSERT INTO glass VALUES (133,1.51813,13.43,3.98,1.18,72.49,0.58,8.15,0.00,0.00,2)
INSERT INTO glass VALUES (134,1.51800,13.71,3.93,1.54,71.81,0.54,8.21,0.00,0.15,2)
INSERT INTO glass VALUES (135,1.51811,13.33,3.85,1.25,72.78,0.52,8.12,0.00,0.00,2)
INSERT INTO glass VALUES (136,1.51789,13.19,3.90,1.30,72.33,0.55,8.44,0.00,0.28,2)
INSERT INTO glass VALUES (137,1.51806,13.00,3.80,1.08,73.07,0.56,8.38,0.00,0.12,2)
INSERT INTO glass VALUES (138,1.51711,12.89,3.62,1.57,72.96,0.61,8.11,0.00,0.00,2)
INSERT INTO glass VALUES (139,1.51674,12.79,3.52,1.54,73.36,0.66,7.90,0.00,0.00,2)
INSERT INTO glass VALUES (140,1.51674,12.87,3.56,1.64,73.14,0.65,7.99,0.00,0.00,2)
INSERT INTO glass VALUES (141,1.51690,13.33,3.54,1.61,72.54,0.68,8.11,0.00,0.00,2)
INSERT INTO glass VALUES (142,1.51851,13.20,3.63,1.07,72.83,0.57,8.41,0.09,0.17,2)
INSERT INTO glass VALUES (143,1.51662,12.85,3.51,1.44,73.01,0.68,8.23,0.06,0.25,2)
INSERT INTO glass VALUES (144,1.51709,13.00,3.47,1.79,72.72,0.66,8.18,0.00,0.00,2)
INSERT INTO glass VALUES (145,1.51660,12.99,3.18,1.23,72.97,0.58,8.81,0.00,0.24,2)
INSERT INTO glass VALUES (146,1.51839,12.85,3.67,1.24,72.57,0.62,8.68,0.00,0.35,2)
INSERT INTO glass VALUES (147,1.51769,13.65,3.66,1.11,72.77,0.11,8.60,0.00,0.00,3)
INSERT INTO glass VALUES (148,1.51610,13.33,3.53,1.34,72.67,0.56,8.33,0.00,0.00,3)
INSERT INTO glass VALUES (149,1.51670,13.24,3.57,1.38,72.70,0.56,8.44,0.00,0.10,3)
INSERT INTO glass VALUES (150,1.51643,12.16,3.52,1.35,72.89,0.57,8.53,0.00,0.00,3)
INSERT INTO glass VALUES (151,1.51665,13.14,3.45,1.76,72.48,0.60,8.38,0.00,0.17,3)
INSERT INTO glass VALUES (152,1.52127,14.32,3.90,0.83,71.50,0.00,9.49,0.00,0.00,3)
INSERT INTO glass VALUES (153,1.51779,13.64,3.65,0.65,73.00,0.06,8.93,0.00,0.00,3)
INSERT INTO glass VALUES (154,1.51610,13.42,3.40,1.22,72.69,0.59,8.32,0.00,0.00,3)
INSERT INTO glass VALUES (155,1.51694,12.86,3.58,1.31,72.61,0.61,8.79,0.00,0.00,3)
INSERT INTO glass VALUES (156,1.51646,13.04,3.40,1.26,73.01,0.52,8.58,0.00,0.00,3)
INSERT INTO glass VALUES (157,1.51655,13.41,3.39,1.28,72.64,0.52,8.65,0.00,0.00,3)
INSERT INTO glass VALUES (158,1.52121,14.03,3.76,0.58,71.79,0.11,9.65,0.00,0.00,3)
INSERT INTO glass VALUES (159,1.51776,13.53,3.41,1.52,72.04,0.58,8.79,0.00,0.00,3)
INSERT INTO glass VALUES (160,1.51796,13.50,3.36,1.63,71.94,0.57,8.81,0.00,0.09,3)
INSERT INTO glass VALUES (161,1.51832,13.33,3.34,1.54,72.14,0.56,8.99,0.00,0.00,3)
INSERT INTO glass VALUES (162,1.51934,13.64,3.54,0.75,72.65,0.16,8.89,0.15,0.24,3)
INSERT INTO glass VALUES (163,1.52211,14.19,3.78,0.91,71.36,0.23,9.14,0.00,0.37,3)
INSERT INTO glass VALUES (164,1.51514,14.01,2.68,3.50,69.89,1.68,5.87,2.20,0.00,5)
INSERT INTO glass VALUES (165,1.51915,12.73,1.85,1.86,72.69,0.60,10.09,0.00,0.00,5)
INSERT INTO glass VALUES (166,1.52171,11.56,1.88,1.56,72.86,0.47,11.41,0.00,0.00,5)
INSERT INTO glass VALUES (167,1.52151,11.03,1.71,1.56,73.44,0.58,11.62,0.00,0.00,5)
INSERT INTO glass VALUES (168,1.51969,12.64,0.00,1.65,73.75,0.38,11.53,0.00,0.00,5)
INSERT INTO glass VALUES (169,1.51666,12.86,0.00,1.83,73.88,0.97,10.17,0.00,0.00,5)
INSERT INTO glass VALUES (170,1.51994,13.27,0.00,1.76,73.03,0.47,11.32,0.00,0.00,5)
INSERT INTO glass VALUES (171,1.52369,13.44,0.00,1.58,72.22,0.32,12.24,0.00,0.00,5)
INSERT INTO glass VALUES (172,1.51316,13.02,0.00,3.04,70.48,6.21,6.96,0.00,0.00,5)
INSERT INTO glass VALUES (173,1.51321,13.00,0.00,3.02,70.70,6.21,6.93,0.00,0.00,5)
INSERT INTO glass VALUES (174,1.52043,13.38,0.00,1.40,72.25,0.33,12.50,0.00,0.00,5)
INSERT INTO glass VALUES (175,1.52058,12.85,1.61,2.17,72.18,0.76,9.70,0.24,0.51,5)
INSERT INTO glass VALUES (176,1.52119,12.97,0.33,1.51,73.39,0.13,11.27,0.00,0.28,5)
INSERT INTO glass VALUES (177,1.51905,14.00,2.39,1.56,72.37,0.00,9.57,0.00,0.00,6)
INSERT INTO glass VALUES (178,1.51937,13.79,2.41,1.19,72.76,0.00,9.77,0.00,0.00,6)
INSERT INTO glass VALUES (179,1.51829,14.46,2.24,1.62,72.38,0.00,9.26,0.00,0.00,6)
INSERT INTO glass VALUES (180,1.51852,14.09,2.19,1.66,72.67,0.00,9.32,0.00,0.00,6)
INSERT INTO glass VALUES (181,1.51299,14.40,1.74,1.54,74.55,0.00,7.59,0.00,0.00,6)
INSERT INTO glass VALUES (182,1.51888,14.99,0.78,1.74,72.50,0.00,9.95,0.00,0.00,6)
INSERT INTO glass VALUES (183,1.51916,14.15,0.00,2.09,72.74,0.00,10.88,0.00,0.00,6)
INSERT INTO glass VALUES (184,1.51969,14.56,0.00,0.56,73.48,0.00,11.22,0.00,0.00,6)
INSERT INTO glass VALUES (185,1.51115,17.38,0.00,0.34,75.41,0.00,6.65,0.00,0.00,6)
INSERT INTO glass VALUES (186,1.51131,13.69,3.20,1.81,72.81,1.76,5.43,1.19,0.00,7)
INSERT INTO glass VALUES (187,1.51838,14.32,3.26,2.22,71.25,1.46,5.79,1.63,0.00,7)
INSERT INTO glass VALUES (188,1.52315,13.44,3.34,1.23,72.38,0.60,8.83,0.00,0.00,7)
INSERT INTO glass VALUES (189,1.52247,14.86,2.20,2.06,70.26,0.76,9.76,0.00,0.00,7)
INSERT INTO glass VALUES (190,1.52365,15.79,1.83,1.31,70.43,0.31,8.61,1.68,0.00,7)
INSERT INTO glass VALUES (191,1.51613,13.88,1.78,1.79,73.10,0.00,8.67,0.76,0.00,7)
INSERT INTO glass VALUES (192,1.51602,14.85,0.00,2.38,73.28,0.00,8.76,0.64,0.09,7)
INSERT INTO glass VALUES (193,1.51623,14.20,0.00,2.79,73.46,0.04,9.04,0.40,0.09,7)
INSERT INTO glass VALUES (194,1.51719,14.75,0.00,2.00,73.02,0.00,8.53,1.59,0.08,7)
INSERT INTO glass VALUES (195,1.51683,14.56,0.00,1.98,73.29,0.00,8.52,1.57,0.07,7)
INSERT INTO glass VALUES (196,1.51545,14.14,0.00,2.68,73.39,0.08,9.07,0.61,0.05,7)
INSERT INTO glass VALUES (197,1.51556,13.87,0.00,2.54,73.23,0.14,9.41,0.81,0.01,7)
INSERT INTO glass VALUES (198,1.51727,14.70,0.00,2.34,73.28,0.00,8.95,0.66,0.00,7)
INSERT INTO glass VALUES (199,1.51531,14.38,0.00,2.66,73.10,0.04,9.08,0.64,0.00,7)
INSERT INTO glass VALUES (200,1.51609,15.01,0.00,2.51,73.05,0.05,8.83,0.53,0.00,7)
INSERT INTO glass VALUES (201,1.51508,15.15,0.00,2.25,73.50,0.00,8.34,0.63,0.00,7)
INSERT INTO glass VALUES (202,1.51653,11.95,0.00,1.19,75.18,2.70,8.93,0.00,0.00,7)
INSERT INTO glass VALUES (203,1.51514,14.85,0.00,2.42,73.72,0.00,8.39,0.56,0.00,7)
INSERT INTO glass VALUES (204,1.51658,14.80,0.00,1.99,73.11,0.00,8.28,1.71,0.00,7)
INSERT INTO glass VALUES (205,1.51617,14.95,0.00,2.27,73.30,0.00,8.71,0.67,0.00,7)
INSERT INTO glass VALUES (206,1.51732,14.95,0.00,1.80,72.99,0.00,8.61,1.55,0.00,7)
INSERT INTO glass VALUES (207,1.51645,14.94,0.00,1.87,73.11,0.00,8.67,1.38,0.00,7)
INSERT INTO glass VALUES (208,1.51831,14.39,0.00,1.82,72.86,1.41,6.47,2.88,0.00,7)
INSERT INTO glass VALUES (209,1.51640,14.37,0.00,2.74,72.85,0.00,9.45,0.54,0.00,7)
INSERT INTO glass VALUES (210,1.51623,14.14,0.00,2.88,72.61,0.08,9.18,1.06,0.00,7)
INSERT INTO glass VALUES (211,1.51685,14.92,0.00,1.99,73.06,0.00,8.40,1.59,0.00,7)
INSERT INTO glass VALUES (212,1.52065,14.36,0.00,2.02,73.42,0.00,8.44,1.64,0.00,7)
INSERT INTO glass VALUES (213,1.51651,14.38,0.00,1.94,73.61,0.00,8.48,1.57,0.00,7)
INSERT INTO glass VALUES (214,1.51711,14.23,0.00,2.08,73.36,0.00,8.62,1.67,0.00,7)

In [20]:
mydb.commit()

In [21]:
c.execute('SELECT * FROM glass')
c.fetchall()

[(1, 1.52101, 13.64, 4.49, 1.1, 71.779999, 0.06, 8.75, 0.0, 0.0, 1),
 (2, 1.51761, 13.89, 3.6, 1.36, 72.730003, 0.48, 7.83, 0.0, 0.0, 1),
 (3, 1.51618, 13.53, 3.55, 1.54, 72.989998, 0.39, 7.78, 0.0, 0.0, 1),
 (4, 1.51766, 13.21, 3.69, 1.29, 72.610001, 0.57, 8.22, 0.0, 0.0, 1),
 (5, 1.51742, 13.27, 3.62, 1.24, 73.080002, 0.55, 8.07, 0.0, 0.0, 1),
 (6, 1.51596, 12.79, 3.61, 1.62, 72.970001, 0.64, 8.07, 0.0, 0.26, 1),
 (7, 1.51743, 13.3, 3.6, 1.14, 73.089996, 0.58, 8.17, 0.0, 0.0, 1),
 (8, 1.51756, 13.15, 3.61, 1.05, 73.239998, 0.57, 8.24, 0.0, 0.0, 1),
 (9, 1.51918, 14.04, 3.58, 1.37, 72.080002, 0.56, 8.3, 0.0, 0.0, 1),
 (10, 1.51755, 13.0, 3.6, 1.36, 72.989998, 0.57, 8.4, 0.0, 0.11, 1),
 (11, 1.51571, 12.72, 3.46, 1.56, 73.199997, 0.67, 8.09, 0.0, 0.24, 1),
 (12, 1.51763, 12.8, 3.66, 1.27, 73.010002, 0.6, 8.56, 0.0, 0.0, 1),
 (13, 1.51589, 12.88, 3.43, 1.4, 73.279999, 0.69, 8.05, 0.0, 0.24, 1),
 (14, 1.51748, 12.86, 3.56, 1.27, 73.209999, 0.54, 8.38, 0.0, 0.17, 1),
 (15, 1.51763, 12.61, 3.59, 1.31, 73.290001, 0.58, 8.5, 0.0, 0.0, 1),
 (16, 1.51761, 12.81, 3.54, 1.23, 73.239998, 0.58, 8.39, 0.0, 0.0, 1),
 (17, 1.51784, 12.68, 3.67, 1.16, 73.110001, 0.61, 8.7, 0.0, 0.0, 1),
 (18, 1.52196, 14.36, 3.85, 0.89, 71.360001, 0.15, 9.15, 0.0, 0.0, 1),
 (19, 1.51911, 13.9, 3.73, 1.18, 72.120003, 0.06, 8.89, 0.0, 0.0, 1),
 (20, 1.51735, 13.02, 3.54, 1.69, 72.730003, 0.54, 8.44, 0.0, 0.07, 1),
 (21, 1.5175, 12.82, 3.55, 1.49, 72.75, 0.54, 8.52, 0.0, 0.19, 1),
 (22, 1.51966, 14.77, 3.75, 0.29, 72.019997, 0.03, 9.0, 0.0, 0.0, 1),
 (23, 1.51736, 12.78, 3.62, 1.29, 72.790001, 0.59, 8.7, 0.0, 0.0, 1),
 (24, 1.51751, 12.81, 3.57, 1.35, 73.019997, 0.62, 8.59, 0.0, 0.0, 1),
 (25, 1.5172, 13.38, 3.5, 1.15, 72.849998, 0.5, 8.43, 0.0, 0.0, 1),
 (26, 1.51764, 12.98, 3.54, 1.21, 73.0, 0.65, 8.53, 0.0, 0.0, 1),
 (27, 1.51793, 13.21, 3.48, 1.41, 72.639999, 0.59, 8.43, 0.0, 0.0, 1),
 (28, 1.51721, 12.87, 3.48, 1.33, 73.040001, 0.56, 8.43, 0.0, 0.0, 1),
 (29, 1.51768, 12.56, 3.52, 1.43, 73.150002, 0.57, 8.54, 0.0, 0.0, 1),
 (30, 1.51784, 13.08, 3.49, 1.28, 72.860001, 0.6, 8.49, 0.0, 0.0, 1),
 (31, 1.51768, 12.65, 3.56, 1.3, 73.080002, 0.61, 8.69, 0.0, 0.14, 1),
 (32, 1.51747, 12.84, 3.5, 1.14, 73.269997, 0.56, 8.55, 0.0, 0.0, 1),
 (33, 1.51775, 12.85, 3.48, 1.23, 72.970001, 0.61, 8.56, 0.09, 0.22, 1),
 (34, 1.51753, 12.57, 3.47, 1.38, 73.389999, 0.6, 8.55, 0.0, 0.06, 1),
 (35, 1.51783, 12.69, 3.54, 1.34, 72.949997, 0.57, 8.75, 0.0, 0.0, 1),
 (36, 1.51567, 13.29, 3.45, 1.21, 72.739998, 0.56, 8.57, 0.0, 0.0, 1),
 (37, 1.51909, 13.89, 3.53, 1.32, 71.809998, 0.51, 8.78, 0.11, 0.0, 1),
 (38, 1.51797, 12.74, 3.48, 1.35, 72.959999, 0.64, 8.68, 0.0, 0.0, 1),
 (39, 1.52213, 14.21, 3.82, 0.47, 71.769997, 0.11, 9.57, 0.0, 0.0, 1),
 (40, 1.52213, 14.21, 3.82, 0.47, 71.769997, 0.11, 9.57, 0.0, 0.0, 1),
 (41, 1.51793, 12.79, 3.5, 1.12, 73.029999, 0.64, 8.77, 0.0, 0.0, 1),
 (42, 1.51755, 12.71, 3.42, 1.2, 73.199997, 0.59, 8.64, 0.0, 0.0, 1),
 (43, 1.51779, 13.21, 3.39, 1.33, 72.760002, 0.59, 8.59, 0.0, 0.0, 1),
 (44, 1.5221, 13.73, 3.84, 0.72, 71.760002, 0.17, 9.74, 0.0, 0.0, 1),
 (45, 1.51786, 12.73, 3.43, 1.19, 72.949997, 0.62, 8.76, 0.0, 0.3, 1),
 (46, 1.519, 13.49, 3.48, 1.35, 71.949997, 0.55, 9.0, 0.0, 0.0, 1),
 (47, 1.51869, 13.19, 3.37, 1.18, 72.720001, 0.57, 8.83, 0.0, 0.16, 1),
 (48, 1.52667, 13.99, 3.7, 0.71, 71.57, 0.02, 9.82, 0.0, 0.1, 1),
 (49, 1.52223, 13.21, 3.77, 0.79, 71.989998, 0.13, 10.02, 0.0, 0.0, 1),
 (50, 1.51898, 13.58, 3.35, 1.23, 72.080002, 0.59, 8.91, 0.0, 0.0, 1),
 (51, 1.5232, 13.72, 3.72, 0.51, 71.75, 0.09, 10.06, 0.0, 0.16, 1),
 (52, 1.51926, 13.2, 3.33, 1.28, 72.360001, 0.6, 9.14, 0.0, 0.11, 1),
 (53, 1.51808, 13.43, 2.87, 1.19, 72.839996, 0.55, 9.03, 0.0, 0.0, 1),
 (54, 1.51837, 13.14, 2.84, 1.28, 72.849998, 0.55, 9.07, 0.0, 0.0, 1),
 (55, 1.51778, 13.21, 2.81, 1.29, 72.980003, 0.51, 9.02, 0.0, 0.09, 1),
 (56, 1.51769, 12.45, 2.71, 1.29, 73.699997, 0.56, 9.06, 0.0, 0.24, 1),
 (57, 1.51215, 12.99, 3.47, 1.12, 72.980003, 0.62, 8.35, 0.0, 0.31, 1),
 (58, 1.51824, 12.87, 3.48, 1.29, 72.949997, 0.6, 8.43, 0.0, 0.0, 1),
 (59, 1.51754, 13.48, 3.74, 1.17, 72.989998, 0.59, 8.03, 0.0, 0.0, 1),
 (60, 1.51754, 13.39, 3.66, 1.19, 72.790001, 0.57, 8.27, 0.0, 0.11, 1),
 (61, 1.51905, 13.6, 3.62, 1.11, 72.639999, 0.14, 8.76, 0.0, 0.0, 1),
 (62, 1.51977, 13.81, 3.58, 1.32, 71.720001, 0.12, 8.67, 0.69, 0.0, 1),
 (63, 1.52172, 13.51, 3.86, 0.88, 71.790001, 0.23, 9.54, 0.0, 0.11, 1),
 (64, 1.52227, 14.17, 3.81, 0.78, 71.349998, 0.0, 9.69, 0.0, 0.0, 1),
 (65, 1.52172, 13.48, 3.74, 0.9, 72.010002, 0.18, 9.61, 0.0, 0.07, 1),
 (66, 1.52099, 13.69, 3.59, 1.12, 71.959999, 0.09, 9.4, 0.0, 0.0, 1),
 (67, 1.52152, 13.05, 3.65, 0.87, 72.220001, 0.19, 9.85, 0.0, 0.17, 1),
 (68, 1.52152, 13.05, 3.65, 0.87, 72.32, 0.19, 9.85, 0.0, 0.17, 1),
 (69, 1.52152, 13.12, 3.58, 0.9, 72.199997, 0.23, 9.82, 0.0, 0.16, 1),
 (70, 1.523, 13.31, 3.58, 0.82, 71.989998, 0.12, 10.17, 0.0, 0.03, 1),
 (71, 1.51574, 14.86, 3.67, 1.74, 71.870003, 0.16, 7.36, 0.0, 0.12, 2),
 (72, 1.51848, 13.64, 3.87, 1.27, 71.959999, 0.54, 8.32, 0.0, 0.32, 2),
 (73, 1.51593, 13.09, 3.59, 1.52, 73.099998, 0.67, 7.83, 0.0, 0.0, 2),
 (74, 1.51631, 13.34, 3.57, 1.57, 72.870003, 0.61, 7.89, 0.0, 0.0, 2),
 (75, 1.51596, 13.02, 3.56, 1.54, 73.110001, 0.72, 7.9, 0.0, 0.0, 2),
 (76, 1.5159, 13.02, 3.58, 1.51, 73.120003, 0.69, 7.96, 0.0, 0.0, 2),
 (77, 1.51645, 13.44, 3.61, 1.54, 72.389999, 0.66, 8.03, 0.0, 0.0, 2),
 (78, 1.51627, 13.0, 3.58, 1.54, 72.830002, 0.61, 8.04, 0.0, 0.0, 2),
 (79, 1.51613, 13.92, 3.52, 1.25, 72.879997, 0.37, 7.94, 0.0, 0.14, 2),
 (80, 1.5159, 12.82, 3.52, 1.9, 72.860001, 0.69, 7.97, 0.0, 0.0, 2),
 (81, 1.51592, 12.86, 3.52, 2.12, 72.660004, 0.69, 7.97, 0.0, 0.0, 2),
 (82, 1.51593, 13.25, 3.45, 1.43, 73.169998, 0.61, 7.86, 0.0, 0.0, 2),
 (83, 1.51646, 13.41, 3.55, 1.25, 72.809998, 0.68, 8.1, 0.0, 0.0, 2),
 (84, 1.51594, 13.09, 3.52, 1.55, 72.870003, 0.68, 8.05, 0.0, 0.09, 2),
 (85, 1.51409, 14.25, 3.09, 2.08, 72.279999, 1.1, 7.08, 0.0, 0.0, 2),
 (86, 1.51625, 13.36, 3.58, 1.49, 72.720001, 0.45, 8.21, 0.0, 0.0, 2),
 (87, 1.51569, 13.24, 3.49, 1.47, 73.25, 0.38, 8.03, 0.0, 0.0, 2),
 (88, 1.51645, 13.4, 3.49, 1.52, 72.650002, 0.67, 8.08, 0.0, 0.1, 2),
 (89, 1.51618, 13.01, 3.5, 1.48, 72.889999, 0.6, 8.12, 0.0, 0.0, 2),
 (90, 1.5164, 12.55, 3.48, 1.87, 73.230003, 0.63, 8.08, 0.0, 0.09, 2),
 (91, 1.51841, 12.93, 3.74, 1.11, 72.279999, 0.64, 8.96, 0.0, 0.22, 2),
 (92, 1.51605, 12.9, 3.44, 1.45, 73.059998, 0.44, 8.27, 0.0, 0.0, 2),
 (93, 1.51588, 13.12, 3.41, 1.58, 73.260002, 0.07, 8.39, 0.0, 0.19, 2),
 (94, 1.5159, 13.24, 3.34, 1.47, 73.099998, 0.39, 8.22, 0.0, 0.0, 2),
 (95, 1.51629, 12.71, 3.33, 1.49, 73.279999, 0.67, 8.24, 0.0, 0.0, 2),
 (96, 1.5186, 13.36, 3.43, 1.43, 72.260002, 0.51, 8.6, 0.0, 0.0, 2),
 (97, 1.51841, 13.02, 3.62, 1.06, 72.339996, 0.64, 9.13, 0.0, 0.15, 2),
 (98, 1.51743, 12.2, 3.25, 1.16, 73.550003, 0.62, 8.9, 0.0, 0.24, 2),
 (99, 1.51689, 12.67, 2.88, 1.71, 73.209999, 0.73, 8.54, 0.0, 0.0, 2),
 (100, 1.51811, 12.96, 2.96, 1.43, 72.919998, 0.6, 8.79, 0.14, 0.0, 2),
 (101, 1.51655, 12.75, 2.85, 1.44, 73.269997, 0.57, 8.79, 0.11, 0.22, 2),
 (102, 1.5173, 12.35, 2.72, 1.63, 72.870003, 0.7, 9.23, 0.0, 0.0, 2),
 (103, 1.5182, 12.62, 2.76, 0.83, 73.809998, 0.35, 9.42, 0.0, 0.2, 2),
 (104, 1.52725, 13.8, 3.15, 0.66, 70.57, 0.08, 11.64, 0.0, 0.0, 2),
 (105, 1.5241, 13.83, 2.9, 1.17, 71.150002, 0.08, 10.79, 0.0, 0.0, 2),
 (106, 1.52475, 11.45, 0.0, 1.88, 72.190002, 0.81, 13.24, 0.0, 0.34, 2),
 (107, 1.53125, 10.73, 0.0, 2.1, 69.809998, 0.58, 13.3, 3.15, 0.28, 2),
 (108, 1.53393, 12.3, 0.0, 1.0, 70.160004, 0.12, 16.190001, 0.0, 0.24, 2),
 (109, 1.52222, 14.43, 0.0, 1.0, 72.669998, 0.1, 11.52, 0.0, 0.08, 2),
 (110, 1.51818, 13.72, 0.0, 0.56, 74.449997, 0.0, 10.99, 0.0, 0.0, 2),
 (111, 1.52664, 11.23, 0.0, 0.77, 73.209999, 0.0, 14.68, 0.0, 0.0, 2),
 (112, 1.52739, 11.02, 0.0, 0.75, 73.080002, 0.0, 14.96, 0.0, 0.0, 2),
 (113, 1.52777, 12.64, 0.0, 0.67, 72.019997, 0.06, 14.4, 0.0, 0.0, 2),
 (114, 1.51892, 13.46, 3.83, 1.26, 72.550003, 0.57, 8.21, 0.0, 0.14, 2),
 (115, 1.51847, 13.1, 3.97, 1.19, 72.440002, 0.6, 8.43, 0.0, 0.0, 2),
 (116, 1.51846, 13.41, 3.89, 1.33, 72.379997, 0.51, 8.28, 0.0, 0.0, 2),
 (117, 1.51829, 13.24, 3.9, 1.41, 72.330002, 0.55, 8.31, 0.0, 0.1, 2),
 (118, 1.51708, 13.72, 3.68, 1.81, 72.059998, 0.64, 7.88, 0.0, 0.0, 2),
 (119, 1.51673, 13.3, 3.64, 1.53, 72.529999, 0.65, 8.03, 0.0, 0.29, 2),
 (120, 1.51652, 13.56, 3.57, 1.47, 72.449997, 0.64, 7.96, 0.0, 0.0, 2),
 (121, 1.51844, 13.25, 3.76, 1.32, 72.400002, 0.58, 8.42, 0.0, 0.0, 2),
 (122, 1.51663, 12.93, 3.54, 1.62, 72.959999, 0.64, 8.03, 0.0, 0.21, 2),
 (123, 1.51687, 13.23, 3.54, 1.48, 72.839996, 0.56, 8.1, 0.0, 0.0, 2),
 (124, 1.51707, 13.48, 3.48, 1.71, 72.519997, 0.62, 7.99, 0.0, 0.0, 2),
 (125, 1.52177, 13.2, 3.68, 1.15, 72.75, 0.54, 8.52, 0.0, 0.0, 2),
 (126, 1.51872, 12.93, 3.66, 1.56, 72.510002, 0.58, 8.55, 0.0, 0.12, 2),
 (127, 1.51667, 12.94, 3.61, 1.26, 72.75, 0.56, 8.6, 0.0, 0.0, 2),
 (128, 1.52081, 13.78, 2.28, 1.43, 71.989998, 0.49, 9.85, 0.0, 0.17, 2),
 (129, 1.52068, 13.55, 2.09, 1.67, 72.18, 0.53, 9.57, 0.27, 0.17, 2),
 (130, 1.5202, 13.98, 1.35, 1.63, 71.760002, 0.39, 10.56, 0.0, 0.18, 2),
 (131, 1.52177, 13.75, 1.01, 1.36, 72.190002, 0.33, 11.14, 0.0, 0.0, 2),
 (132, 1.52614, 13.7, 0.0, 1.36, 71.239998, 0.19, 13.44, 0.0, 0.1, 2),
 (133, 1.51813, 13.43, 3.98, 1.18, 72.489998, 0.58, 8.15, 0.0, 0.0, 2),
 (134, 1.518, 13.71, 3.93, 1.54, 71.809998, 0.54, 8.21, 0.0, 0.15, 2),
 (135, 1.51811, 13.33, 3.85, 1.25, 72.779999, 0.52, 8.12, 0.0, 0.0, 2),
 (136, 1.51789, 13.19, 3.9, 1.3, 72.330002, 0.55, 8.44, 0.0, 0.28, 2),
 (137, 1.51806, 13.0, 3.8, 1.08, 73.07, 0.56, 8.38, 0.0, 0.12, 2),
 (138, 1.51711, 12.89, 3.62, 1.57, 72.959999, 0.61, 8.11, 0.0, 0.0, 2),
 (139, 1.51674, 12.79, 3.52, 1.54, 73.360001, 0.66, 7.9, 0.0, 0.0, 2),
 (140, 1.51674, 12.87, 3.56, 1.64, 73.139999, 0.65, 7.99, 0.0, 0.0, 2),
 (141, 1.5169, 13.33, 3.54, 1.61, 72.540001, 0.68, 8.11, 0.0, 0.0, 2),
 (142, 1.51851, 13.2, 3.63, 1.07, 72.830002, 0.57, 8.41, 0.09, 0.17, 2),
 (143, 1.51662, 12.85, 3.51, 1.44, 73.010002, 0.68, 8.23, 0.06, 0.25, 2),
 (144, 1.51709, 13.0, 3.47, 1.79, 72.720001, 0.66, 8.18, 0.0, 0.0, 2),
 (145, 1.5166, 12.99, 3.18, 1.23, 72.970001, 0.58, 8.81, 0.0, 0.24, 2),
 (146, 1.51839, 12.85, 3.67, 1.24, 72.57, 0.62, 8.68, 0.0, 0.35, 2),
 (147, 1.51769, 13.65, 3.66, 1.11, 72.769997, 0.11, 8.6, 0.0, 0.0, 3),
 (148, 1.5161, 13.33, 3.53, 1.34, 72.669998, 0.56, 8.33, 0.0, 0.0, 3),
 (149, 1.5167, 13.24, 3.57, 1.38, 72.699997, 0.56, 8.44, 0.0, 0.1, 3),
 (150, 1.51643, 12.16, 3.52, 1.35, 72.889999, 0.57, 8.53, 0.0, 0.0, 3),
 (151, 1.51665, 13.14, 3.45, 1.76, 72.480003, 0.6, 8.38, 0.0, 0.17, 3),
 (152, 1.52127, 14.32, 3.9, 0.83, 71.5, 0.0, 9.49, 0.0, 0.0, 3),
 (153, 1.51779, 13.64, 3.65, 0.65, 73.0, 0.06, 8.93, 0.0, 0.0, 3),
 (154, 1.5161, 13.42, 3.4, 1.22, 72.690002, 0.59, 8.32, 0.0, 0.0, 3),
 (155, 1.51694, 12.86, 3.58, 1.31, 72.610001, 0.61, 8.79, 0.0, 0.0, 3),
 (156, 1.51646, 13.04, 3.4, 1.26, 73.010002, 0.52, 8.58, 0.0, 0.0, 3),
 (157, 1.51655, 13.41, 3.39, 1.28, 72.639999, 0.52, 8.65, 0.0, 0.0, 3),
 (158, 1.52121, 14.03, 3.76, 0.58, 71.790001, 0.11, 9.65, 0.0, 0.0, 3),
 (159, 1.51776, 13.53, 3.41, 1.52, 72.040001, 0.58, 8.79, 0.0, 0.0, 3),
 (160, 1.51796, 13.5, 3.36, 1.63, 71.940002, 0.57, 8.81, 0.0, 0.09, 3),
 (161, 1.51832, 13.33, 3.34, 1.54, 72.139999, 0.56, 8.99, 0.0, 0.0, 3),
 (162, 1.51934, 13.64, 3.54, 0.75, 72.650002, 0.16, 8.89, 0.15, 0.24, 3),
 (163, 1.52211, 14.19, 3.78, 0.91, 71.360001, 0.23, 9.14, 0.0, 0.37, 3),
 (164, 1.51514, 14.01, 2.68, 3.5, 69.889999, 1.68, 5.87, 2.2, 0.0, 5),
 (165, 1.51915, 12.73, 1.85, 1.86, 72.690002, 0.6, 10.09, 0.0, 0.0, 5),
 (166, 1.52171, 11.56, 1.88, 1.56, 72.860001, 0.47, 11.41, 0.0, 0.0, 5),
 (167, 1.52151, 11.03, 1.71, 1.56, 73.440002, 0.58, 11.62, 0.0, 0.0, 5),
 (168, 1.51969, 12.64, 0.0, 1.65, 73.75, 0.38, 11.53, 0.0, 0.0, 5),
 (169, 1.51666, 12.86, 0.0, 1.83, 73.879997, 0.97, 10.17, 0.0, 0.0, 5),
 (170, 1.51994, 13.27, 0.0, 1.76, 73.029999, 0.47, 11.32, 0.0, 0.0, 5),
 (171, 1.52369, 13.44, 0.0, 1.58, 72.220001, 0.32, 12.24, 0.0, 0.0, 5),
 (172, 1.51316, 13.02, 0.0, 3.04, 70.480003, 6.21, 6.96, 0.0, 0.0, 5),
 (173, 1.51321, 13.0, 0.0, 3.02, 70.699997, 6.21, 6.93, 0.0, 0.0, 5),
 (174, 1.52043, 13.38, 0.0, 1.4, 72.25, 0.33, 12.5, 0.0, 0.0, 5),
 (175, 1.52058, 12.85, 1.61, 2.17, 72.18, 0.76, 9.7, 0.24, 0.51, 5),
 (176, 1.52119, 12.97, 0.33, 1.51, 73.389999, 0.13, 11.27, 0.0, 0.28, 5),
 (177, 1.51905, 14.0, 2.39, 1.56, 72.370003, 0.0, 9.57, 0.0, 0.0, 6),
 (178, 1.51937, 13.79, 2.41, 1.19, 72.760002, 0.0, 9.77, 0.0, 0.0, 6),
 (179, 1.51829, 14.46, 2.24, 1.62, 72.379997, 0.0, 9.26, 0.0, 0.0, 6),
 (180, 1.51852, 14.09, 2.19, 1.66, 72.669998, 0.0, 9.32, 0.0, 0.0, 6),
 (181, 1.51299, 14.4, 1.74, 1.54, 74.550003, 0.0, 7.59, 0.0, 0.0, 6),
 (182, 1.51888, 14.99, 0.78, 1.74, 72.5, 0.0, 9.95, 0.0, 0.0, 6),
 (183, 1.51916, 14.15, 0.0, 2.09, 72.739998, 0.0, 10.88, 0.0, 0.0, 6),
 (184, 1.51969, 14.56, 0.0, 0.56, 73.480003, 0.0, 11.22, 0.0, 0.0, 6),
 (185, 1.51115, 17.379999, 0.0, 0.34, 75.410004, 0.0, 6.65, 0.0, 0.0, 6),
 (186, 1.51131, 13.69, 3.2, 1.81, 72.809998, 1.76, 5.43, 1.19, 0.0, 7),
 (187, 1.51838, 14.32, 3.26, 2.22, 71.25, 1.46, 5.79, 1.63, 0.0, 7),
 (188, 1.52315, 13.44, 3.34, 1.23, 72.379997, 0.6, 8.83, 0.0, 0.0, 7),
 (189, 1.52247, 14.86, 2.2, 2.06, 70.260002, 0.76, 9.76, 0.0, 0.0, 7),
 (190, 1.52365, 15.79, 1.83, 1.31, 70.43, 0.31, 8.61, 1.68, 0.0, 7),
 (191, 1.51613, 13.88, 1.78, 1.79, 73.099998, 0.0, 8.67, 0.76, 0.0, 7),
 (192, 1.51602, 14.85, 0.0, 2.38, 73.279999, 0.0, 8.76, 0.64, 0.09, 7),
 (193, 1.51623, 14.2, 0.0, 2.79, 73.459999, 0.04, 9.04, 0.4, 0.09, 7),
 (194, 1.51719, 14.75, 0.0, 2.0, 73.019997, 0.0, 8.53, 1.59, 0.08, 7),
 (195, 1.51683, 14.56, 0.0, 1.98, 73.290001, 0.0, 8.52, 1.57, 0.07, 7),
 (196, 1.51545, 14.14, 0.0, 2.68, 73.389999, 0.08, 9.07, 0.61, 0.05, 7),
 (197, 1.51556, 13.87, 0.0, 2.54, 73.230003, 0.14, 9.41, 0.81, 0.01, 7),
 (198, 1.51727, 14.7, 0.0, 2.34, 73.279999, 0.0, 8.95, 0.66, 0.0, 7),
 (199, 1.51531, 14.38, 0.0, 2.66, 73.099998, 0.04, 9.08, 0.64, 0.0, 7),
 (200, 1.51609, 15.01, 0.0, 2.51, 73.050003, 0.05, 8.83, 0.53, 0.0, 7),
 (201, 1.51508, 15.15, 0.0, 2.25, 73.5, 0.0, 8.34, 0.63, 0.0, 7),
 (202, 1.51653, 11.95, 0.0, 1.19, 75.18, 2.7, 8.93, 0.0, 0.0, 7),
 (203, 1.51514, 14.85, 0.0, 2.42, 73.720001, 0.0, 8.39, 0.56, 0.0, 7),
 (204, 1.51658, 14.8, 0.0, 1.99, 73.110001, 0.0, 8.28, 1.71, 0.0, 7),
 (205, 1.51617, 14.95, 0.0, 2.27, 73.300003, 0.0, 8.71, 0.67, 0.0, 7),
 (206, 1.51732, 14.95, 0.0, 1.8, 72.989998, 0.0, 8.61, 1.55, 0.0, 7),
 (207, 1.51645, 14.94, 0.0, 1.87, 73.110001, 0.0, 8.67, 1.38, 0.0, 7),
 (208, 1.51831, 14.39, 0.0, 1.82, 72.860001, 1.41, 6.47, 2.88, 0.0, 7),
 (209, 1.5164, 14.37, 0.0, 2.74, 72.849998, 0.0, 9.45, 0.54, 0.0, 7),
 (210, 1.51623, 14.14, 0.0, 2.88, 72.610001, 0.08, 9.18, 1.06, 0.0, 7),
 (211, 1.51685, 14.92, 0.0, 1.99, 73.059998, 0.0, 8.4, 1.59, 0.0, 7),
 (212, 1.52065, 14.36, 0.0, 2.02, 73.419998, 0.0, 8.44, 1.64, 0.0, 7),
 (213, 1.51651, 14.38, 0.0, 1.94, 73.610001, 0.0, 8.48, 1.57, 0.0, 7),
 (214, 1.51711, 14.23, 0.0, 2.08, 73.360001, 0.0, 8.62, 1.67, 0.0, 7)]

In [22]:
c.execute('SHOW DATABASES')
c.fetchall()

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('vinod1',),
 ('world',)]

 use pandas in sql

In [23]:
import pandas as pd

In [24]:
pd.read_sql('SELECT * FROM glass',mydb)

C:\Users\Dell\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,col11
0,1,1.52101,13.64,4.49,1.10,71.779999,0.06,8.75,0.00,0.0,1
1,2,1.51761,13.89,3.60,1.36,72.730003,0.48,7.83,0.00,0.0,1
2,3,1.51618,13.53,3.55,1.54,72.989998,0.39,7.78,0.00,0.0,1
3,4,1.51766,13.21,3.69,1.29,72.610001,0.57,8.22,0.00,0.0,1
4,5,1.51742,13.27,3.62,1.24,73.080002,0.55,8.07,0.00,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...
209,210,1.51623,14.14,0.00,2.88,72.610001,0.08,9.18,1.06,0.0,7
210,211,1.51685,14.92,0.00,1.99,73.059998,0.00,8.40,1.59,0.0,7
211,212,1.52065,14.36,0.00,2.02,73.419998,0.00,8.44,1.64,0.0,7
212,213,1.51651,14.38,0.00,1.94,73.610001,0.00,8.48,1.57,0.0,7
213,214,1.51711,14.23,0.00,2.08,73.360001,0.00,8.62,1.67,0.0,7

In [25]:
pd.read_sql('SELECT * FROM INFORMATION',mydb)

C:\Users\Dell\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   Student_ID   First_name Last_name  Reg_ID
0       20069        Vinod     kumar      69
1       20050       Vinodh   kumarrr     669
2         250  Nandhamuri   Rama Rao   30669

In [26]:
# give data where col1 = 4

c.execute('select * from glass  where col1=4')
c.fetchall()

[(4, 1.51766, 13.21, 3.69, 1.29, 72.610001, 0.57, 8.22, 0.0, 0.0, 1)]

In [27]:
# give the data where col1=4 and col11 = 1

c.execute('select * from glass where col1 = 4 and col11 = 1')
c.fetchall()

[(4, 1.51766, 13.21, 3.69, 1.29, 72.610001, 0.57, 8.22, 0.0, 0.0, 1)]

In [28]:
# give the data where col1 = 1

c.execute('SELECT * FROM glass WHERE col1 = 1')
c.fetchall()

[(1, 1.52101, 13.64, 4.49, 1.1, 71.779999, 0.06, 8.75, 0.0, 0.0, 1)]

In [29]:
# update the data and set the values of col2 = 5 , col3 = 7

c.execute('UPDATE glass SET col2 = 5 ,col3 = 7 WHERE col1 = 2 ')
c.fetchall()

[]

In [30]:
# select the data where col1 = 2


c.execute('SELECT * FROM glass WHERE col1 = 2')
c.fetchall()

[(2, 5.0, 7.0, 3.6, 1.36, 72.730003, 0.48, 7.83, 0.0, 0.0, 1)]

In [31]:
# commit all the changes i made
mydb.commit()

In [32]:
c.execute('SELECT * FROM glass WHERE col1 = 2')
c.fetchall()

[(2, 5.0, 7.0, 3.6, 1.36, 72.730003, 0.48, 7.83, 0.0, 0.0, 1)]

In [33]:
c.execute('SELECT * FROM glass WHERE col1 =  6')
c.fetchall()

[(6, 1.51596, 12.79, 3.61, 1.62, 72.970001, 0.64, 8.07, 0.0, 0.26, 1)]

In [34]:
# give all the count of the columns(how many times the colomm 1 is repeated)

c.execute('SELECT col1, count(col1), col2 FROM glass GROUP BY col1 ')
c.fetchall()

[(1, 1, 1.52101),
 (2, 1, 5.0),
 (3, 1, 1.51618),
 (4, 1, 1.51766),
 (5, 1, 1.51742),
 (6, 1, 1.51596),
 (7, 1, 1.51743),
 (8, 1, 1.51756),
 (9, 1, 1.51918),
 (10, 1, 1.51755),
 (11, 1, 1.51571),
 (12, 1, 1.51763),
 (13, 1, 1.51589),
 (14, 1, 1.51748),
 (15, 1, 1.51763),
 (16, 1, 1.51761),
 (17, 1, 1.51784),
 (18, 1, 1.52196),
 (19, 1, 1.51911),
 (20, 1, 1.51735),
 (21, 1, 1.5175),
 (22, 1, 1.51966),
 (23, 1, 1.51736),
 (24, 1, 1.51751),
 (25, 1, 1.5172),
 (26, 1, 1.51764),
 (27, 1, 1.51793),
 (28, 1, 1.51721),
 (29, 1, 1.51768),
 (30, 1, 1.51784),
 (31, 1, 1.51768),
 (32, 1, 1.51747),
 (33, 1, 1.51775),
 (34, 1, 1.51753),
 (35, 1, 1.51783),
 (36, 1, 1.51567),
 (37, 1, 1.51909),
 (38, 1, 1.51797),
 (39, 1, 1.52213),
 (40, 1, 1.52213),
 (41, 1, 1.51793),
 (42, 1, 1.51755),
 (43, 1, 1.51779),
 (44, 1, 1.5221),
 (45, 1, 1.51786),
 (46, 1, 1.519),
 (47, 1, 1.51869),
 (48, 1, 1.52667),
 (49, 1, 1.52223),
 (50, 1, 1.51898),
 (51, 1, 1.5232),
 (52, 1, 1.51926),
 (53, 1, 1.51808),
 (54, 1, 1.51837),
 (55, 1, 1.51778),
 (56, 1, 1.51769),
 (57, 1, 1.51215),
 (58, 1, 1.51824),
 (59, 1, 1.51754),
 (60, 1, 1.51754),
 (61, 1, 1.51905),
 (62, 1, 1.51977),
 (63, 1, 1.52172),
 (64, 1, 1.52227),
 (65, 1, 1.52172),
 (66, 1, 1.52099),
 (67, 1, 1.52152),
 (68, 1, 1.52152),
 (69, 1, 1.52152),
 (70, 1, 1.523),
 (71, 1, 1.51574),
 (72, 1, 1.51848),
 (73, 1, 1.51593),
 (74, 1, 1.51631),
 (75, 1, 1.51596),
 (76, 1, 1.5159),
 (77, 1, 1.51645),
 (78, 1, 1.51627),
 (79, 1, 1.51613),
 (80, 1, 1.5159),
 (81, 1, 1.51592),
 (82, 1, 1.51593),
 (83, 1, 1.51646),
 (84, 1, 1.51594),
 (85, 1, 1.51409),
 (86, 1, 1.51625),
 (87, 1, 1.51569),
 (88, 1, 1.51645),
 (89, 1, 1.51618),
 (90, 1, 1.5164),
 (91, 1, 1.51841),
 (92, 1, 1.51605),
 (93, 1, 1.51588),
 (94, 1, 1.5159),
 (95, 1, 1.51629),
 (96, 1, 1.5186),
 (97, 1, 1.51841),
 (98, 1, 1.51743),
 (99, 1, 1.51689),
 (100, 1, 1.51811),
 (101, 1, 1.51655),
 (102, 1, 1.5173),
 (103, 1, 1.5182),
 (104, 1, 1.52725),
 (105, 1, 1.5241),
 (106, 1, 1.52475),
 (107, 1, 1.53125),
 (108, 1, 1.53393),
 (109, 1, 1.52222),
 (110, 1, 1.51818),
 (111, 1, 1.52664),
 (112, 1, 1.52739),
 (113, 1, 1.52777),
 (114, 1, 1.51892),
 (115, 1, 1.51847),
 (116, 1, 1.51846),
 (117, 1, 1.51829),
 (118, 1, 1.51708),
 (119, 1, 1.51673),
 (120, 1, 1.51652),
 (121, 1, 1.51844),
 (122, 1, 1.51663),
 (123, 1, 1.51687),
 (124, 1, 1.51707),
 (125, 1, 1.52177),
 (126, 1, 1.51872),
 (127, 1, 1.51667),
 (128, 1, 1.52081),
 (129, 1, 1.52068),
 (130, 1, 1.5202),
 (131, 1, 1.52177),
 (132, 1, 1.52614),
 (133, 1, 1.51813),
 (134, 1, 1.518),
 (135, 1, 1.51811),
 (136, 1, 1.51789),
 (137, 1, 1.51806),
 (138, 1, 1.51711),
 (139, 1, 1.51674),
 (140, 1, 1.51674),
 (141, 1, 1.5169),
 (142, 1, 1.51851),
 (143, 1, 1.51662),
 (144, 1, 1.51709),
 (145, 1, 1.5166),
 (146, 1, 1.51839),
 (147, 1, 1.51769),
 (148, 1, 1.5161),
 (149, 1, 1.5167),
 (150, 1, 1.51643),
 (151, 1, 1.51665),
 (152, 1, 1.52127),
 (153, 1, 1.51779),
 (154, 1, 1.5161),
 (155, 1, 1.51694),
 (156, 1, 1.51646),
 (157, 1, 1.51655),
 (158, 1, 1.52121),
 (159, 1, 1.51776),
 (160, 1, 1.51796),
 (161, 1, 1.51832),
 (162, 1, 1.51934),
 (163, 1, 1.52211),
 (164, 1, 1.51514),
 (165, 1, 1.51915),
 (166, 1, 1.52171),
 (167, 1, 1.52151),
 (168, 1, 1.51969),
 (169, 1, 1.51666),
 (170, 1, 1.51994),
 (171, 1, 1.52369),
 (172, 1, 1.51316),
 (173, 1, 1.51321),
 (174, 1, 1.52043),
 (175, 1, 1.52058),
 (176, 1, 1.52119),
 (177, 1, 1.51905),
 (178, 1, 1.51937),
 (179, 1, 1.51829),
 (180, 1, 1.51852),
 (181, 1, 1.51299),
 (182, 1, 1.51888),
 (183, 1, 1.51916),
 (184, 1, 1.51969),
 (185, 1, 1.51115),
 (186, 1, 1.51131),
 (187, 1, 1.51838),
 (188, 1, 1.52315),
 (189, 1, 1.52247),
 (190, 1, 1.52365),
 (191, 1, 1.51613),
 (192, 1, 1.51602),
 (193, 1, 1.51623),
 (194, 1, 1.51719),
 (195, 1, 1.51683),
 (196, 1, 1.51545),
 (197, 1, 1.51556),
 (198, 1, 1.51727),
 (199, 1, 1.51531),
 (200, 1, 1.51609),
 (201, 1, 1.51508),
 (202, 1, 1.51653),
 (203, 1, 1.51514),
 (204, 1, 1.51658),
 (205, 1, 1.51617),
 (206, 1, 1.51732),
 (207, 1, 1.51645),
 (208, 1, 1.51831),
 (209, 1, 1.5164),
 (210, 1, 1.51623),
 (211, 1, 1.51685),
 (212, 1, 1.52065),
 (213, 1, 1.51651),
 (214, 1, 1.51711)]

In [35]:
# selecting only col1 = 6

c.execute('SELECT col1, count(col1), col11 FROM glass WHERE col1 = 6')
c.fetchall()

[(6, 1, 1)]

In [36]:
# oreder by :

c.execute('SELECT col1, count(col1), col2 FROM glass GROUP BY col1 ORDER BY col1 ')
c.fetchall()

[(1, 1, 1.52101),
 (2, 1, 5.0),
 (3, 1, 1.51618),
 (4, 1, 1.51766),
 (5, 1, 1.51742),
 (6, 1, 1.51596),
 (7, 1, 1.51743),
 (8, 1, 1.51756),
 (9, 1, 1.51918),
 (10, 1, 1.51755),
 (11, 1, 1.51571),
 (12, 1, 1.51763),
 (13, 1, 1.51589),
 (14, 1, 1.51748),
 (15, 1, 1.51763),
 (16, 1, 1.51761),
 (17, 1, 1.51784),
 (18, 1, 1.52196),
 (19, 1, 1.51911),
 (20, 1, 1.51735),
 (21, 1, 1.5175),
 (22, 1, 1.51966),
 (23, 1, 1.51736),
 (24, 1, 1.51751),
 (25, 1, 1.5172),
 (26, 1, 1.51764),
 (27, 1, 1.51793),
 (28, 1, 1.51721),
 (29, 1, 1.51768),
 (30, 1, 1.51784),
 (31, 1, 1.51768),
 (32, 1, 1.51747),
 (33, 1, 1.51775),
 (34, 1, 1.51753),
 (35, 1, 1.51783),
 (36, 1, 1.51567),
 (37, 1, 1.51909),
 (38, 1, 1.51797),
 (39, 1, 1.52213),
 (40, 1, 1.52213),
 (41, 1, 1.51793),
 (42, 1, 1.51755),
 (43, 1, 1.51779),
 (44, 1, 1.5221),
 (45, 1, 1.51786),
 (46, 1, 1.519),
 (47, 1, 1.51869),
 (48, 1, 1.52667),
 (49, 1, 1.52223),
 (50, 1, 1.51898),
 (51, 1, 1.5232),
 (52, 1, 1.51926),
 (53, 1, 1.51808),
 (54, 1, 1.51837),
 (55, 1, 1.51778),
 (56, 1, 1.51769),
 (57, 1, 1.51215),
 (58, 1, 1.51824),
 (59, 1, 1.51754),
 (60, 1, 1.51754),
 (61, 1, 1.51905),
 (62, 1, 1.51977),
 (63, 1, 1.52172),
 (64, 1, 1.52227),
 (65, 1, 1.52172),
 (66, 1, 1.52099),
 (67, 1, 1.52152),
 (68, 1, 1.52152),
 (69, 1, 1.52152),
 (70, 1, 1.523),
 (71, 1, 1.51574),
 (72, 1, 1.51848),
 (73, 1, 1.51593),
 (74, 1, 1.51631),
 (75, 1, 1.51596),
 (76, 1, 1.5159),
 (77, 1, 1.51645),
 (78, 1, 1.51627),
 (79, 1, 1.51613),
 (80, 1, 1.5159),
 (81, 1, 1.51592),
 (82, 1, 1.51593),
 (83, 1, 1.51646),
 (84, 1, 1.51594),
 (85, 1, 1.51409),
 (86, 1, 1.51625),
 (87, 1, 1.51569),
 (88, 1, 1.51645),
 (89, 1, 1.51618),
 (90, 1, 1.5164),
 (91, 1, 1.51841),
 (92, 1, 1.51605),
 (93, 1, 1.51588),
 (94, 1, 1.5159),
 (95, 1, 1.51629),
 (96, 1, 1.5186),
 (97, 1, 1.51841),
 (98, 1, 1.51743),
 (99, 1, 1.51689),
 (100, 1, 1.51811),
 (101, 1, 1.51655),
 (102, 1, 1.5173),
 (103, 1, 1.5182),
 (104, 1, 1.52725),
 (105, 1, 1.5241),
 (106, 1, 1.52475),
 (107, 1, 1.53125),
 (108, 1, 1.53393),
 (109, 1, 1.52222),
 (110, 1, 1.51818),
 (111, 1, 1.52664),
 (112, 1, 1.52739),
 (113, 1, 1.52777),
 (114, 1, 1.51892),
 (115, 1, 1.51847),
 (116, 1, 1.51846),
 (117, 1, 1.51829),
 (118, 1, 1.51708),
 (119, 1, 1.51673),
 (120, 1, 1.51652),
 (121, 1, 1.51844),
 (122, 1, 1.51663),
 (123, 1, 1.51687),
 (124, 1, 1.51707),
 (125, 1, 1.52177),
 (126, 1, 1.51872),
 (127, 1, 1.51667),
 (128, 1, 1.52081),
 (129, 1, 1.52068),
 (130, 1, 1.5202),
 (131, 1, 1.52177),
 (132, 1, 1.52614),
 (133, 1, 1.51813),
 (134, 1, 1.518),
 (135, 1, 1.51811),
 (136, 1, 1.51789),
 (137, 1, 1.51806),
 (138, 1, 1.51711),
 (139, 1, 1.51674),
 (140, 1, 1.51674),
 (141, 1, 1.5169),
 (142, 1, 1.51851),
 (143, 1, 1.51662),
 (144, 1, 1.51709),
 (145, 1, 1.5166),
 (146, 1, 1.51839),
 (147, 1, 1.51769),
 (148, 1, 1.5161),
 (149, 1, 1.5167),
 (150, 1, 1.51643),
 (151, 1, 1.51665),
 (152, 1, 1.52127),
 (153, 1, 1.51779),
 (154, 1, 1.5161),
 (155, 1, 1.51694),
 (156, 1, 1.51646),
 (157, 1, 1.51655),
 (158, 1, 1.52121),
 (159, 1, 1.51776),
 (160, 1, 1.51796),
 (161, 1, 1.51832),
 (162, 1, 1.51934),
 (163, 1, 1.52211),
 (164, 1, 1.51514),
 (165, 1, 1.51915),
 (166, 1, 1.52171),
 (167, 1, 1.52151),
 (168, 1, 1.51969),
 (169, 1, 1.51666),
 (170, 1, 1.51994),
 (171, 1, 1.52369),
 (172, 1, 1.51316),
 (173, 1, 1.51321),
 (174, 1, 1.52043),
 (175, 1, 1.52058),
 (176, 1, 1.52119),
 (177, 1, 1.51905),
 (178, 1, 1.51937),
 (179, 1, 1.51829),
 (180, 1, 1.51852),
 (181, 1, 1.51299),
 (182, 1, 1.51888),
 (183, 1, 1.51916),
 (184, 1, 1.51969),
 (185, 1, 1.51115),
 (186, 1, 1.51131),
 (187, 1, 1.51838),
 (188, 1, 1.52315),
 (189, 1, 1.52247),
 (190, 1, 1.52365),
 (191, 1, 1.51613),
 (192, 1, 1.51602),
 (193, 1, 1.51623),
 (194, 1, 1.51719),
 (195, 1, 1.51683),
 (196, 1, 1.51545),
 (197, 1, 1.51556),
 (198, 1, 1.51727),
 (199, 1, 1.51531),
 (200, 1, 1.51609),
 (201, 1, 1.51508),
 (202, 1, 1.51653),
 (203, 1, 1.51514),
 (204, 1, 1.51658),
 (205, 1, 1.51617),
 (206, 1, 1.51732),
 (207, 1, 1.51645),
 (208, 1, 1.51831),
 (209, 1, 1.5164),
 (210, 1, 1.51623),
 (211, 1, 1.51685),
 (212, 1, 1.52065),
 (213, 1, 1.51651),
 (214, 1, 1.51711)]

In [37]:
c.execute('SELECT * FROM glass WHERE col1 =  1')
c.fetchall()

[(1, 1.52101, 13.64, 4.49, 1.1, 71.779999, 0.06, 8.75, 0.0, 0.0, 1)]

In [38]:
# I'm going ot delete all the columns data where col1 = 0:

c.execute('Delete * FROM glass WHERE col1 = 1')
c.fetchall()

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '* FROM glass WHERE col1 = 1' at line 1

In [39]:
c.execute('SELECT * FROM glass')
c.fetchall()

[(1, 1.52101, 13.64, 4.49, 1.1, 71.779999, 0.06, 8.75, 0.0, 0.0, 1),
 (2, 5.0, 7.0, 3.6, 1.36, 72.730003, 0.48, 7.83, 0.0, 0.0, 1),
 (3, 1.51618, 13.53, 3.55, 1.54, 72.989998, 0.39, 7.78, 0.0, 0.0, 1),
 (4, 1.51766, 13.21, 3.69, 1.29, 72.610001, 0.57, 8.22, 0.0, 0.0, 1),
 (5, 1.51742, 13.27, 3.62, 1.24, 73.080002, 0.55, 8.07, 0.0, 0.0, 1),
 (6, 1.51596, 12.79, 3.61, 1.62, 72.970001, 0.64, 8.07, 0.0, 0.26, 1),
 (7, 1.51743, 13.3, 3.6, 1.14, 73.089996, 0.58, 8.17, 0.0, 0.0, 1),
 (8, 1.51756, 13.15, 3.61, 1.05, 73.239998, 0.57, 8.24, 0.0, 0.0, 1),
 (9, 1.51918, 14.04, 3.58, 1.37, 72.080002, 0.56, 8.3, 0.0, 0.0, 1),
 (10, 1.51755, 13.0, 3.6, 1.36, 72.989998, 0.57, 8.4, 0.0, 0.11, 1),
 (11, 1.51571, 12.72, 3.46, 1.56, 73.199997, 0.67, 8.09, 0.0, 0.24, 1),
 (12, 1.51763, 12.8, 3.66, 1.27, 73.010002, 0.6, 8.56, 0.0, 0.0, 1),
 (13, 1.51589, 12.88, 3.43, 1.4, 73.279999, 0.69, 8.05, 0.0, 0.24, 1),
 (14, 1.51748, 12.86, 3.56, 1.27, 73.209999, 0.54, 8.38, 0.0, 0.17, 1),
 (15, 1.51763, 12.61, 3.59, 1.31, 73.290001, 0.58, 8.5, 0.0, 0.0, 1),
 (16, 1.51761, 12.81, 3.54, 1.23, 73.239998, 0.58, 8.39, 0.0, 0.0, 1),
 (17, 1.51784, 12.68, 3.67, 1.16, 73.110001, 0.61, 8.7, 0.0, 0.0, 1),
 (18, 1.52196, 14.36, 3.85, 0.89, 71.360001, 0.15, 9.15, 0.0, 0.0, 1),
 (19, 1.51911, 13.9, 3.73, 1.18, 72.120003, 0.06, 8.89, 0.0, 0.0, 1),
 (20, 1.51735, 13.02, 3.54, 1.69, 72.730003, 0.54, 8.44, 0.0, 0.07, 1),
 (21, 1.5175, 12.82, 3.55, 1.49, 72.75, 0.54, 8.52, 0.0, 0.19, 1),
 (22, 1.51966, 14.77, 3.75, 0.29, 72.019997, 0.03, 9.0, 0.0, 0.0, 1),
 (23, 1.51736, 12.78, 3.62, 1.29, 72.790001, 0.59, 8.7, 0.0, 0.0, 1),
 (24, 1.51751, 12.81, 3.57, 1.35, 73.019997, 0.62, 8.59, 0.0, 0.0, 1),
 (25, 1.5172, 13.38, 3.5, 1.15, 72.849998, 0.5, 8.43, 0.0, 0.0, 1),
 (26, 1.51764, 12.98, 3.54, 1.21, 73.0, 0.65, 8.53, 0.0, 0.0, 1),
 (27, 1.51793, 13.21, 3.48, 1.41, 72.639999, 0.59, 8.43, 0.0, 0.0, 1),
 (28, 1.51721, 12.87, 3.48, 1.33, 73.040001, 0.56, 8.43, 0.0, 0.0, 1),
 (29, 1.51768, 12.56, 3.52, 1.43, 73.150002, 0.57, 8.54, 0.0, 0.0, 1),
 (30, 1.51784, 13.08, 3.49, 1.28, 72.860001, 0.6, 8.49, 0.0, 0.0, 1),
 (31, 1.51768, 12.65, 3.56, 1.3, 73.080002, 0.61, 8.69, 0.0, 0.14, 1),
 (32, 1.51747, 12.84, 3.5, 1.14, 73.269997, 0.56, 8.55, 0.0, 0.0, 1),
 (33, 1.51775, 12.85, 3.48, 1.23, 72.970001, 0.61, 8.56, 0.09, 0.22, 1),
 (34, 1.51753, 12.57, 3.47, 1.38, 73.389999, 0.6, 8.55, 0.0, 0.06, 1),
 (35, 1.51783, 12.69, 3.54, 1.34, 72.949997, 0.57, 8.75, 0.0, 0.0, 1),
 (36, 1.51567, 13.29, 3.45, 1.21, 72.739998, 0.56, 8.57, 0.0, 0.0, 1),
 (37, 1.51909, 13.89, 3.53, 1.32, 71.809998, 0.51, 8.78, 0.11, 0.0, 1),
 (38, 1.51797, 12.74, 3.48, 1.35, 72.959999, 0.64, 8.68, 0.0, 0.0, 1),
 (39, 1.52213, 14.21, 3.82, 0.47, 71.769997, 0.11, 9.57, 0.0, 0.0, 1),
 (40, 1.52213, 14.21, 3.82, 0.47, 71.769997, 0.11, 9.57, 0.0, 0.0, 1),
 (41, 1.51793, 12.79, 3.5, 1.12, 73.029999, 0.64, 8.77, 0.0, 0.0, 1),
 (42, 1.51755, 12.71, 3.42, 1.2, 73.199997, 0.59, 8.64, 0.0, 0.0, 1),
 (43, 1.51779, 13.21, 3.39, 1.33, 72.760002, 0.59, 8.59, 0.0, 0.0, 1),
 (44, 1.5221, 13.73, 3.84, 0.72, 71.760002, 0.17, 9.74, 0.0, 0.0, 1),
 (45, 1.51786, 12.73, 3.43, 1.19, 72.949997, 0.62, 8.76, 0.0, 0.3, 1),
 (46, 1.519, 13.49, 3.48, 1.35, 71.949997, 0.55, 9.0, 0.0, 0.0, 1),
 (47, 1.51869, 13.19, 3.37, 1.18, 72.720001, 0.57, 8.83, 0.0, 0.16, 1),
 (48, 1.52667, 13.99, 3.7, 0.71, 71.57, 0.02, 9.82, 0.0, 0.1, 1),
 (49, 1.52223, 13.21, 3.77, 0.79, 71.989998, 0.13, 10.02, 0.0, 0.0, 1),
 (50, 1.51898, 13.58, 3.35, 1.23, 72.080002, 0.59, 8.91, 0.0, 0.0, 1),
 (51, 1.5232, 13.72, 3.72, 0.51, 71.75, 0.09, 10.06, 0.0, 0.16, 1),
 (52, 1.51926, 13.2, 3.33, 1.28, 72.360001, 0.6, 9.14, 0.0, 0.11, 1),
 (53, 1.51808, 13.43, 2.87, 1.19, 72.839996, 0.55, 9.03, 0.0, 0.0, 1),
 (54, 1.51837, 13.14, 2.84, 1.28, 72.849998, 0.55, 9.07, 0.0, 0.0, 1),
 (55, 1.51778, 13.21, 2.81, 1.29, 72.980003, 0.51, 9.02, 0.0, 0.09, 1),
 (56, 1.51769, 12.45, 2.71, 1.29, 73.699997, 0.56, 9.06, 0.0, 0.24, 1),
 (57, 1.51215, 12.99, 3.47, 1.12, 72.980003, 0.62, 8.35, 0.0, 0.31, 1),
 (58, 1.51824, 12.87, 3.48, 1.29, 72.949997, 0.6, 8.43, 0.0, 0.0, 1),
 (59, 1.51754, 13.48, 3.74, 1.17, 72.989998, 0.59, 8.03, 0.0, 0.0, 1),
 (60, 1.51754, 13.39, 3.66, 1.19, 72.790001, 0.57, 8.27, 0.0, 0.11, 1),
 (61, 1.51905, 13.6, 3.62, 1.11, 72.639999, 0.14, 8.76, 0.0, 0.0, 1),
 (62, 1.51977, 13.81, 3.58, 1.32, 71.720001, 0.12, 8.67, 0.69, 0.0, 1),
 (63, 1.52172, 13.51, 3.86, 0.88, 71.790001, 0.23, 9.54, 0.0, 0.11, 1),
 (64, 1.52227, 14.17, 3.81, 0.78, 71.349998, 0.0, 9.69, 0.0, 0.0, 1),
 (65, 1.52172, 13.48, 3.74, 0.9, 72.010002, 0.18, 9.61, 0.0, 0.07, 1),
 (66, 1.52099, 13.69, 3.59, 1.12, 71.959999, 0.09, 9.4, 0.0, 0.0, 1),
 (67, 1.52152, 13.05, 3.65, 0.87, 72.220001, 0.19, 9.85, 0.0, 0.17, 1),
 (68, 1.52152, 13.05, 3.65, 0.87, 72.32, 0.19, 9.85, 0.0, 0.17, 1),
 (69, 1.52152, 13.12, 3.58, 0.9, 72.199997, 0.23, 9.82, 0.0, 0.16, 1),
 (70, 1.523, 13.31, 3.58, 0.82, 71.989998, 0.12, 10.17, 0.0, 0.03, 1),
 (71, 1.51574, 14.86, 3.67, 1.74, 71.870003, 0.16, 7.36, 0.0, 0.12, 2),
 (72, 1.51848, 13.64, 3.87, 1.27, 71.959999, 0.54, 8.32, 0.0, 0.32, 2),
 (73, 1.51593, 13.09, 3.59, 1.52, 73.099998, 0.67, 7.83, 0.0, 0.0, 2),
 (74, 1.51631, 13.34, 3.57, 1.57, 72.870003, 0.61, 7.89, 0.0, 0.0, 2),
 (75, 1.51596, 13.02, 3.56, 1.54, 73.110001, 0.72, 7.9, 0.0, 0.0, 2),
 (76, 1.5159, 13.02, 3.58, 1.51, 73.120003, 0.69, 7.96, 0.0, 0.0, 2),
 (77, 1.51645, 13.44, 3.61, 1.54, 72.389999, 0.66, 8.03, 0.0, 0.0, 2),
 (78, 1.51627, 13.0, 3.58, 1.54, 72.830002, 0.61, 8.04, 0.0, 0.0, 2),
 (79, 1.51613, 13.92, 3.52, 1.25, 72.879997, 0.37, 7.94, 0.0, 0.14, 2),
 (80, 1.5159, 12.82, 3.52, 1.9, 72.860001, 0.69, 7.97, 0.0, 0.0, 2),
 (81, 1.51592, 12.86, 3.52, 2.12, 72.660004, 0.69, 7.97, 0.0, 0.0, 2),
 (82, 1.51593, 13.25, 3.45, 1.43, 73.169998, 0.61, 7.86, 0.0, 0.0, 2),
 (83, 1.51646, 13.41, 3.55, 1.25, 72.809998, 0.68, 8.1, 0.0, 0.0, 2),
 (84, 1.51594, 13.09, 3.52, 1.55, 72.870003, 0.68, 8.05, 0.0, 0.09, 2),
 (85, 1.51409, 14.25, 3.09, 2.08, 72.279999, 1.1, 7.08, 0.0, 0.0, 2),
 (86, 1.51625, 13.36, 3.58, 1.49, 72.720001, 0.45, 8.21, 0.0, 0.0, 2),
 (87, 1.51569, 13.24, 3.49, 1.47, 73.25, 0.38, 8.03, 0.0, 0.0, 2),
 (88, 1.51645, 13.4, 3.49, 1.52, 72.650002, 0.67, 8.08, 0.0, 0.1, 2),
 (89, 1.51618, 13.01, 3.5, 1.48, 72.889999, 0.6, 8.12, 0.0, 0.0, 2),
 (90, 1.5164, 12.55, 3.48, 1.87, 73.230003, 0.63, 8.08, 0.0, 0.09, 2),
 (91, 1.51841, 12.93, 3.74, 1.11, 72.279999, 0.64, 8.96, 0.0, 0.22, 2),
 (92, 1.51605, 12.9, 3.44, 1.45, 73.059998, 0.44, 8.27, 0.0, 0.0, 2),
 (93, 1.51588, 13.12, 3.41, 1.58, 73.260002, 0.07, 8.39, 0.0, 0.19, 2),
 (94, 1.5159, 13.24, 3.34, 1.47, 73.099998, 0.39, 8.22, 0.0, 0.0, 2),
 (95, 1.51629, 12.71, 3.33, 1.49, 73.279999, 0.67, 8.24, 0.0, 0.0, 2),
 (96, 1.5186, 13.36, 3.43, 1.43, 72.260002, 0.51, 8.6, 0.0, 0.0, 2),
 (97, 1.51841, 13.02, 3.62, 1.06, 72.339996, 0.64, 9.13, 0.0, 0.15, 2),
 (98, 1.51743, 12.2, 3.25, 1.16, 73.550003, 0.62, 8.9, 0.0, 0.24, 2),
 (99, 1.51689, 12.67, 2.88, 1.71, 73.209999, 0.73, 8.54, 0.0, 0.0, 2),
 (100, 1.51811, 12.96, 2.96, 1.43, 72.919998, 0.6, 8.79, 0.14, 0.0, 2),
 (101, 1.51655, 12.75, 2.85, 1.44, 73.269997, 0.57, 8.79, 0.11, 0.22, 2),
 (102, 1.5173, 12.35, 2.72, 1.63, 72.870003, 0.7, 9.23, 0.0, 0.0, 2),
 (103, 1.5182, 12.62, 2.76, 0.83, 73.809998, 0.35, 9.42, 0.0, 0.2, 2),
 (104, 1.52725, 13.8, 3.15, 0.66, 70.57, 0.08, 11.64, 0.0, 0.0, 2),
 (105, 1.5241, 13.83, 2.9, 1.17, 71.150002, 0.08, 10.79, 0.0, 0.0, 2),
 (106, 1.52475, 11.45, 0.0, 1.88, 72.190002, 0.81, 13.24, 0.0, 0.34, 2),
 (107, 1.53125, 10.73, 0.0, 2.1, 69.809998, 0.58, 13.3, 3.15, 0.28, 2),
 (108, 1.53393, 12.3, 0.0, 1.0, 70.160004, 0.12, 16.190001, 0.0, 0.24, 2),
 (109, 1.52222, 14.43, 0.0, 1.0, 72.669998, 0.1, 11.52, 0.0, 0.08, 2),
 (110, 1.51818, 13.72, 0.0, 0.56, 74.449997, 0.0, 10.99, 0.0, 0.0, 2),
 (111, 1.52664, 11.23, 0.0, 0.77, 73.209999, 0.0, 14.68, 0.0, 0.0, 2),
 (112, 1.52739, 11.02, 0.0, 0.75, 73.080002, 0.0, 14.96, 0.0, 0.0, 2),
 (113, 1.52777, 12.64, 0.0, 0.67, 72.019997, 0.06, 14.4, 0.0, 0.0, 2),
 (114, 1.51892, 13.46, 3.83, 1.26, 72.550003, 0.57, 8.21, 0.0, 0.14, 2),
 (115, 1.51847, 13.1, 3.97, 1.19, 72.440002, 0.6, 8.43, 0.0, 0.0, 2),
 (116, 1.51846, 13.41, 3.89, 1.33, 72.379997, 0.51, 8.28, 0.0, 0.0, 2),
 (117, 1.51829, 13.24, 3.9, 1.41, 72.330002, 0.55, 8.31, 0.0, 0.1, 2),
 (118, 1.51708, 13.72, 3.68, 1.81, 72.059998, 0.64, 7.88, 0.0, 0.0, 2),
 (119, 1.51673, 13.3, 3.64, 1.53, 72.529999, 0.65, 8.03, 0.0, 0.29, 2),
 (120, 1.51652, 13.56, 3.57, 1.47, 72.449997, 0.64, 7.96, 0.0, 0.0, 2),
 (121, 1.51844, 13.25, 3.76, 1.32, 72.400002, 0.58, 8.42, 0.0, 0.0, 2),
 (122, 1.51663, 12.93, 3.54, 1.62, 72.959999, 0.64, 8.03, 0.0, 0.21, 2),
 (123, 1.51687, 13.23, 3.54, 1.48, 72.839996, 0.56, 8.1, 0.0, 0.0, 2),
 (124, 1.51707, 13.48, 3.48, 1.71, 72.519997, 0.62, 7.99, 0.0, 0.0, 2),
 (125, 1.52177, 13.2, 3.68, 1.15, 72.75, 0.54, 8.52, 0.0, 0.0, 2),
 (126, 1.51872, 12.93, 3.66, 1.56, 72.510002, 0.58, 8.55, 0.0, 0.12, 2),
 (127, 1.51667, 12.94, 3.61, 1.26, 72.75, 0.56, 8.6, 0.0, 0.0, 2),
 (128, 1.52081, 13.78, 2.28, 1.43, 71.989998, 0.49, 9.85, 0.0, 0.17, 2),
 (129, 1.52068, 13.55, 2.09, 1.67, 72.18, 0.53, 9.57, 0.27, 0.17, 2),
 (130, 1.5202, 13.98, 1.35, 1.63, 71.760002, 0.39, 10.56, 0.0, 0.18, 2),
 (131, 1.52177, 13.75, 1.01, 1.36, 72.190002, 0.33, 11.14, 0.0, 0.0, 2),
 (132, 1.52614, 13.7, 0.0, 1.36, 71.239998, 0.19, 13.44, 0.0, 0.1, 2),
 (133, 1.51813, 13.43, 3.98, 1.18, 72.489998, 0.58, 8.15, 0.0, 0.0, 2),
 (134, 1.518, 13.71, 3.93, 1.54, 71.809998, 0.54, 8.21, 0.0, 0.15, 2),
 (135, 1.51811, 13.33, 3.85, 1.25, 72.779999, 0.52, 8.12, 0.0, 0.0, 2),
 (136, 1.51789, 13.19, 3.9, 1.3, 72.330002, 0.55, 8.44, 0.0, 0.28, 2),
 (137, 1.51806, 13.0, 3.8, 1.08, 73.07, 0.56, 8.38, 0.0, 0.12, 2),
 (138, 1.51711, 12.89, 3.62, 1.57, 72.959999, 0.61, 8.11, 0.0, 0.0, 2),
 (139, 1.51674, 12.79, 3.52, 1.54, 73.360001, 0.66, 7.9, 0.0, 0.0, 2),
 (140, 1.51674, 12.87, 3.56, 1.64, 73.139999, 0.65, 7.99, 0.0, 0.0, 2),
 (141, 1.5169, 13.33, 3.54, 1.61, 72.540001, 0.68, 8.11, 0.0, 0.0, 2),
 (142, 1.51851, 13.2, 3.63, 1.07, 72.830002, 0.57, 8.41, 0.09, 0.17, 2),
 (143, 1.51662, 12.85, 3.51, 1.44, 73.010002, 0.68, 8.23, 0.06, 0.25, 2),
 (144, 1.51709, 13.0, 3.47, 1.79, 72.720001, 0.66, 8.18, 0.0, 0.0, 2),
 (145, 1.5166, 12.99, 3.18, 1.23, 72.970001, 0.58, 8.81, 0.0, 0.24, 2),
 (146, 1.51839, 12.85, 3.67, 1.24, 72.57, 0.62, 8.68, 0.0, 0.35, 2),
 (147, 1.51769, 13.65, 3.66, 1.11, 72.769997, 0.11, 8.6, 0.0, 0.0, 3),
 (148, 1.5161, 13.33, 3.53, 1.34, 72.669998, 0.56, 8.33, 0.0, 0.0, 3),
 (149, 1.5167, 13.24, 3.57, 1.38, 72.699997, 0.56, 8.44, 0.0, 0.1, 3),
 (150, 1.51643, 12.16, 3.52, 1.35, 72.889999, 0.57, 8.53, 0.0, 0.0, 3),
 (151, 1.51665, 13.14, 3.45, 1.76, 72.480003, 0.6, 8.38, 0.0, 0.17, 3),
 (152, 1.52127, 14.32, 3.9, 0.83, 71.5, 0.0, 9.49, 0.0, 0.0, 3),
 (153, 1.51779, 13.64, 3.65, 0.65, 73.0, 0.06, 8.93, 0.0, 0.0, 3),
 (154, 1.5161, 13.42, 3.4, 1.22, 72.690002, 0.59, 8.32, 0.0, 0.0, 3),
 (155, 1.51694, 12.86, 3.58, 1.31, 72.610001, 0.61, 8.79, 0.0, 0.0, 3),
 (156, 1.51646, 13.04, 3.4, 1.26, 73.010002, 0.52, 8.58, 0.0, 0.0, 3),
 (157, 1.51655, 13.41, 3.39, 1.28, 72.639999, 0.52, 8.65, 0.0, 0.0, 3),
 (158, 1.52121, 14.03, 3.76, 0.58, 71.790001, 0.11, 9.65, 0.0, 0.0, 3),
 (159, 1.51776, 13.53, 3.41, 1.52, 72.040001, 0.58, 8.79, 0.0, 0.0, 3),
 (160, 1.51796, 13.5, 3.36, 1.63, 71.940002, 0.57, 8.81, 0.0, 0.09, 3),
 (161, 1.51832, 13.33, 3.34, 1.54, 72.139999, 0.56, 8.99, 0.0, 0.0, 3),
 (162, 1.51934, 13.64, 3.54, 0.75, 72.650002, 0.16, 8.89, 0.15, 0.24, 3),
 (163, 1.52211, 14.19, 3.78, 0.91, 71.360001, 0.23, 9.14, 0.0, 0.37, 3),
 (164, 1.51514, 14.01, 2.68, 3.5, 69.889999, 1.68, 5.87, 2.2, 0.0, 5),
 (165, 1.51915, 12.73, 1.85, 1.86, 72.690002, 0.6, 10.09, 0.0, 0.0, 5),
 (166, 1.52171, 11.56, 1.88, 1.56, 72.860001, 0.47, 11.41, 0.0, 0.0, 5),
 (167, 1.52151, 11.03, 1.71, 1.56, 73.440002, 0.58, 11.62, 0.0, 0.0, 5),
 (168, 1.51969, 12.64, 0.0, 1.65, 73.75, 0.38, 11.53, 0.0, 0.0, 5),
 (169, 1.51666, 12.86, 0.0, 1.83, 73.879997, 0.97, 10.17, 0.0, 0.0, 5),
 (170, 1.51994, 13.27, 0.0, 1.76, 73.029999, 0.47, 11.32, 0.0, 0.0, 5),
 (171, 1.52369, 13.44, 0.0, 1.58, 72.220001, 0.32, 12.24, 0.0, 0.0, 5),
 (172, 1.51316, 13.02, 0.0, 3.04, 70.480003, 6.21, 6.96, 0.0, 0.0, 5),
 (173, 1.51321, 13.0, 0.0, 3.02, 70.699997, 6.21, 6.93, 0.0, 0.0, 5),
 (174, 1.52043, 13.38, 0.0, 1.4, 72.25, 0.33, 12.5, 0.0, 0.0, 5),
 (175, 1.52058, 12.85, 1.61, 2.17, 72.18, 0.76, 9.7, 0.24, 0.51, 5),
 (176, 1.52119, 12.97, 0.33, 1.51, 73.389999, 0.13, 11.27, 0.0, 0.28, 5),
 (177, 1.51905, 14.0, 2.39, 1.56, 72.370003, 0.0, 9.57, 0.0, 0.0, 6),
 (178, 1.51937, 13.79, 2.41, 1.19, 72.760002, 0.0, 9.77, 0.0, 0.0, 6),
 (179, 1.51829, 14.46, 2.24, 1.62, 72.379997, 0.0, 9.26, 0.0, 0.0, 6),
 (180, 1.51852, 14.09, 2.19, 1.66, 72.669998, 0.0, 9.32, 0.0, 0.0, 6),
 (181, 1.51299, 14.4, 1.74, 1.54, 74.550003, 0.0, 7.59, 0.0, 0.0, 6),
 (182, 1.51888, 14.99, 0.78, 1.74, 72.5, 0.0, 9.95, 0.0, 0.0, 6),
 (183, 1.51916, 14.15, 0.0, 2.09, 72.739998, 0.0, 10.88, 0.0, 0.0, 6),
 (184, 1.51969, 14.56, 0.0, 0.56, 73.480003, 0.0, 11.22, 0.0, 0.0, 6),
 (185, 1.51115, 17.379999, 0.0, 0.34, 75.410004, 0.0, 6.65, 0.0, 0.0, 6),
 (186, 1.51131, 13.69, 3.2, 1.81, 72.809998, 1.76, 5.43, 1.19, 0.0, 7),
 (187, 1.51838, 14.32, 3.26, 2.22, 71.25, 1.46, 5.79, 1.63, 0.0, 7),
 (188, 1.52315, 13.44, 3.34, 1.23, 72.379997, 0.6, 8.83, 0.0, 0.0, 7),
 (189, 1.52247, 14.86, 2.2, 2.06, 70.260002, 0.76, 9.76, 0.0, 0.0, 7),
 (190, 1.52365, 15.79, 1.83, 1.31, 70.43, 0.31, 8.61, 1.68, 0.0, 7),
 (191, 1.51613, 13.88, 1.78, 1.79, 73.099998, 0.0, 8.67, 0.76, 0.0, 7),
 (192, 1.51602, 14.85, 0.0, 2.38, 73.279999, 0.0, 8.76, 0.64, 0.09, 7),
 (193, 1.51623, 14.2, 0.0, 2.79, 73.459999, 0.04, 9.04, 0.4, 0.09, 7),
 (194, 1.51719, 14.75, 0.0, 2.0, 73.019997, 0.0, 8.53, 1.59, 0.08, 7),
 (195, 1.51683, 14.56, 0.0, 1.98, 73.290001, 0.0, 8.52, 1.57, 0.07, 7),
 (196, 1.51545, 14.14, 0.0, 2.68, 73.389999, 0.08, 9.07, 0.61, 0.05, 7),
 (197, 1.51556, 13.87, 0.0, 2.54, 73.230003, 0.14, 9.41, 0.81, 0.01, 7),
 (198, 1.51727, 14.7, 0.0, 2.34, 73.279999, 0.0, 8.95, 0.66, 0.0, 7),
 (199, 1.51531, 14.38, 0.0, 2.66, 73.099998, 0.04, 9.08, 0.64, 0.0, 7),
 (200, 1.51609, 15.01, 0.0, 2.51, 73.050003, 0.05, 8.83, 0.53, 0.0, 7),
 (201, 1.51508, 15.15, 0.0, 2.25, 73.5, 0.0, 8.34, 0.63, 0.0, 7),
 (202, 1.51653, 11.95, 0.0, 1.19, 75.18, 2.7, 8.93, 0.0, 0.0, 7),
 (203, 1.51514, 14.85, 0.0, 2.42, 73.720001, 0.0, 8.39, 0.56, 0.0, 7),
 (204, 1.51658, 14.8, 0.0, 1.99, 73.110001, 0.0, 8.28, 1.71, 0.0, 7),
 (205, 1.51617, 14.95, 0.0, 2.27, 73.300003, 0.0, 8.71, 0.67, 0.0, 7),
 (206, 1.51732, 14.95, 0.0, 1.8, 72.989998, 0.0, 8.61, 1.55, 0.0, 7),
 (207, 1.51645, 14.94, 0.0, 1.87, 73.110001, 0.0, 8.67, 1.38, 0.0, 7),
 (208, 1.51831, 14.39, 0.0, 1.82, 72.860001, 1.41, 6.47, 2.88, 0.0, 7),
 (209, 1.5164, 14.37, 0.0, 2.74, 72.849998, 0.0, 9.45, 0.54, 0.0, 7),
 (210, 1.51623, 14.14, 0.0, 2.88, 72.610001, 0.08, 9.18, 1.06, 0.0, 7),
 (211, 1.51685, 14.92, 0.0, 1.99, 73.059998, 0.0, 8.4, 1.59, 0.0, 7),
 (212, 1.52065, 14.36, 0.0, 2.02, 73.419998, 0.0, 8.44, 1.64, 0.0, 7),
 (213, 1.51651, 14.38, 0.0, 1.94, 73.610001, 0.0, 8.48, 1.57, 0.0, 7),
 (214, 1.51711, 14.23, 0.0, 2.08, 73.360001, 0.0, 8.62, 1.67, 0.0, 7)]

In [40]:
mydb.commit()

In [41]:
# using (and , or ) conditons :

c.execute('select * from glass where col1 = 11 or col11 = 2')
c.fetchall()

[(11, 1.51571, 12.72, 3.46, 1.56, 73.199997, 0.67, 8.09, 0.0, 0.24, 1),
 (71, 1.51574, 14.86, 3.67, 1.74, 71.870003, 0.16, 7.36, 0.0, 0.12, 2),
 (72, 1.51848, 13.64, 3.87, 1.27, 71.959999, 0.54, 8.32, 0.0, 0.32, 2),
 (73, 1.51593, 13.09, 3.59, 1.52, 73.099998, 0.67, 7.83, 0.0, 0.0, 2),
 (74, 1.51631, 13.34, 3.57, 1.57, 72.870003, 0.61, 7.89, 0.0, 0.0, 2),
 (75, 1.51596, 13.02, 3.56, 1.54, 73.110001, 0.72, 7.9, 0.0, 0.0, 2),
 (76, 1.5159, 13.02, 3.58, 1.51, 73.120003, 0.69, 7.96, 0.0, 0.0, 2),
 (77, 1.51645, 13.44, 3.61, 1.54, 72.389999, 0.66, 8.03, 0.0, 0.0, 2),
 (78, 1.51627, 13.0, 3.58, 1.54, 72.830002, 0.61, 8.04, 0.0, 0.0, 2),
 (79, 1.51613, 13.92, 3.52, 1.25, 72.879997, 0.37, 7.94, 0.0, 0.14, 2),
 (80, 1.5159, 12.82, 3.52, 1.9, 72.860001, 0.69, 7.97, 0.0, 0.0, 2),
 (81, 1.51592, 12.86, 3.52, 2.12, 72.660004, 0.69, 7.97, 0.0, 0.0, 2),
 (82, 1.51593, 13.25, 3.45, 1.43, 73.169998, 0.61, 7.86, 0.0, 0.0, 2),
 (83, 1.51646, 13.41, 3.55, 1.25, 72.809998, 0.68, 8.1, 0.0, 0.0, 2),
 (84, 1.51594, 13.09, 3.52, 1.55, 72.870003, 0.68, 8.05, 0.0, 0.09, 2),
 (85, 1.51409, 14.25, 3.09, 2.08, 72.279999, 1.1, 7.08, 0.0, 0.0, 2),
 (86, 1.51625, 13.36, 3.58, 1.49, 72.720001, 0.45, 8.21, 0.0, 0.0, 2),
 (87, 1.51569, 13.24, 3.49, 1.47, 73.25, 0.38, 8.03, 0.0, 0.0, 2),
 (88, 1.51645, 13.4, 3.49, 1.52, 72.650002, 0.67, 8.08, 0.0, 0.1, 2),
 (89, 1.51618, 13.01, 3.5, 1.48, 72.889999, 0.6, 8.12, 0.0, 0.0, 2),
 (90, 1.5164, 12.55, 3.48, 1.87, 73.230003, 0.63, 8.08, 0.0, 0.09, 2),
 (91, 1.51841, 12.93, 3.74, 1.11, 72.279999, 0.64, 8.96, 0.0, 0.22, 2),
 (92, 1.51605, 12.9, 3.44, 1.45, 73.059998, 0.44, 8.27, 0.0, 0.0, 2),
 (93, 1.51588, 13.12, 3.41, 1.58, 73.260002, 0.07, 8.39, 0.0, 0.19, 2),
 (94, 1.5159, 13.24, 3.34, 1.47, 73.099998, 0.39, 8.22, 0.0, 0.0, 2),
 (95, 1.51629, 12.71, 3.33, 1.49, 73.279999, 0.67, 8.24, 0.0, 0.0, 2),
 (96, 1.5186, 13.36, 3.43, 1.43, 72.260002, 0.51, 8.6, 0.0, 0.0, 2),
 (97, 1.51841, 13.02, 3.62, 1.06, 72.339996, 0.64, 9.13, 0.0, 0.15, 2),
 (98, 1.51743, 12.2, 3.25, 1.16, 73.550003, 0.62, 8.9, 0.0, 0.24, 2),
 (99, 1.51689, 12.67, 2.88, 1.71, 73.209999, 0.73, 8.54, 0.0, 0.0, 2),
 (100, 1.51811, 12.96, 2.96, 1.43, 72.919998, 0.6, 8.79, 0.14, 0.0, 2),
 (101, 1.51655, 12.75, 2.85, 1.44, 73.269997, 0.57, 8.79, 0.11, 0.22, 2),
 (102, 1.5173, 12.35, 2.72, 1.63, 72.870003, 0.7, 9.23, 0.0, 0.0, 2),
 (103, 1.5182, 12.62, 2.76, 0.83, 73.809998, 0.35, 9.42, 0.0, 0.2, 2),
 (104, 1.52725, 13.8, 3.15, 0.66, 70.57, 0.08, 11.64, 0.0, 0.0, 2),
 (105, 1.5241, 13.83, 2.9, 1.17, 71.150002, 0.08, 10.79, 0.0, 0.0, 2),
 (106, 1.52475, 11.45, 0.0, 1.88, 72.190002, 0.81, 13.24, 0.0, 0.34, 2),
 (107, 1.53125, 10.73, 0.0, 2.1, 69.809998, 0.58, 13.3, 3.15, 0.28, 2),
 (108, 1.53393, 12.3, 0.0, 1.0, 70.160004, 0.12, 16.190001, 0.0, 0.24, 2),
 (109, 1.52222, 14.43, 0.0, 1.0, 72.669998, 0.1, 11.52, 0.0, 0.08, 2),
 (110, 1.51818, 13.72, 0.0, 0.56, 74.449997, 0.0, 10.99, 0.0, 0.0, 2),
 (111, 1.52664, 11.23, 0.0, 0.77, 73.209999, 0.0, 14.68, 0.0, 0.0, 2),
 (112, 1.52739, 11.02, 0.0, 0.75, 73.080002, 0.0, 14.96, 0.0, 0.0, 2),
 (113, 1.52777, 12.64, 0.0, 0.67, 72.019997, 0.06, 14.4, 0.0, 0.0, 2),
 (114, 1.51892, 13.46, 3.83, 1.26, 72.550003, 0.57, 8.21, 0.0, 0.14, 2),
 (115, 1.51847, 13.1, 3.97, 1.19, 72.440002, 0.6, 8.43, 0.0, 0.0, 2),
 (116, 1.51846, 13.41, 3.89, 1.33, 72.379997, 0.51, 8.28, 0.0, 0.0, 2),
 (117, 1.51829, 13.24, 3.9, 1.41, 72.330002, 0.55, 8.31, 0.0, 0.1, 2),
 (118, 1.51708, 13.72, 3.68, 1.81, 72.059998, 0.64, 7.88, 0.0, 0.0, 2),
 (119, 1.51673, 13.3, 3.64, 1.53, 72.529999, 0.65, 8.03, 0.0, 0.29, 2),
 (120, 1.51652, 13.56, 3.57, 1.47, 72.449997, 0.64, 7.96, 0.0, 0.0, 2),
 (121, 1.51844, 13.25, 3.76, 1.32, 72.400002, 0.58, 8.42, 0.0, 0.0, 2),
 (122, 1.51663, 12.93, 3.54, 1.62, 72.959999, 0.64, 8.03, 0.0, 0.21, 2),
 (123, 1.51687, 13.23, 3.54, 1.48, 72.839996, 0.56, 8.1, 0.0, 0.0, 2),
 (124, 1.51707, 13.48, 3.48, 1.71, 72.519997, 0.62, 7.99, 0.0, 0.0, 2),
 (125, 1.52177, 13.2, 3.68, 1.15, 72.75, 0.54, 8.52, 0.0, 0.0, 2),
 (126, 1.51872, 12.93, 3.66, 1.56, 72.510002, 0.58, 8.55, 0.0, 0.12, 2),
 (127, 1.51667, 12.94, 3.61, 1.26, 72.75, 0.56, 8.6, 0.0, 0.0, 2),
 (128, 1.52081, 13.78, 2.28, 1.43, 71.989998, 0.49, 9.85, 0.0, 0.17, 2),
 (129, 1.52068, 13.55, 2.09, 1.67, 72.18, 0.53, 9.57, 0.27, 0.17, 2),
 (130, 1.5202, 13.98, 1.35, 1.63, 71.760002, 0.39, 10.56, 0.0, 0.18, 2),
 (131, 1.52177, 13.75, 1.01, 1.36, 72.190002, 0.33, 11.14, 0.0, 0.0, 2),
 (132, 1.52614, 13.7, 0.0, 1.36, 71.239998, 0.19, 13.44, 0.0, 0.1, 2),
 (133, 1.51813, 13.43, 3.98, 1.18, 72.489998, 0.58, 8.15, 0.0, 0.0, 2),
 (134, 1.518, 13.71, 3.93, 1.54, 71.809998, 0.54, 8.21, 0.0, 0.15, 2),
 (135, 1.51811, 13.33, 3.85, 1.25, 72.779999, 0.52, 8.12, 0.0, 0.0, 2),
 (136, 1.51789, 13.19, 3.9, 1.3, 72.330002, 0.55, 8.44, 0.0, 0.28, 2),
 (137, 1.51806, 13.0, 3.8, 1.08, 73.07, 0.56, 8.38, 0.0, 0.12, 2),
 (138, 1.51711, 12.89, 3.62, 1.57, 72.959999, 0.61, 8.11, 0.0, 0.0, 2),
 (139, 1.51674, 12.79, 3.52, 1.54, 73.360001, 0.66, 7.9, 0.0, 0.0, 2),
 (140, 1.51674, 12.87, 3.56, 1.64, 73.139999, 0.65, 7.99, 0.0, 0.0, 2),
 (141, 1.5169, 13.33, 3.54, 1.61, 72.540001, 0.68, 8.11, 0.0, 0.0, 2),
 (142, 1.51851, 13.2, 3.63, 1.07, 72.830002, 0.57, 8.41, 0.09, 0.17, 2),
 (143, 1.51662, 12.85, 3.51, 1.44, 73.010002, 0.68, 8.23, 0.06, 0.25, 2),
 (144, 1.51709, 13.0, 3.47, 1.79, 72.720001, 0.66, 8.18, 0.0, 0.0, 2),
 (145, 1.5166, 12.99, 3.18, 1.23, 72.970001, 0.58, 8.81, 0.0, 0.24, 2),
 (146, 1.51839, 12.85, 3.67, 1.24, 72.57, 0.62, 8.68, 0.0, 0.35, 2)]

In [42]:
c.execute('select * from glass where col1 = 75 and col11 = 2')
c.fetchall()

[(75, 1.51596, 13.02, 3.56, 1.54, 73.110001, 0.72, 7.9, 0.0, 0.0, 2)]

In [45]:
# fetch all data where col2 will starts with 1.515

c.execute('SELECT * FROM glass WHERE col2 LIKE "1.515%"')
c.fetchall()

[(6, 1.51596, 12.79, 3.61, 1.62, 72.970001, 0.64, 8.07, 0.0, 0.26, 1),
 (11, 1.51571, 12.72, 3.46, 1.56, 73.199997, 0.67, 8.09, 0.0, 0.24, 1),
 (13, 1.51589, 12.88, 3.43, 1.4, 73.279999, 0.69, 8.05, 0.0, 0.24, 1),
 (36, 1.51567, 13.29, 3.45, 1.21, 72.739998, 0.56, 8.57, 0.0, 0.0, 1),
 (71, 1.51574, 14.86, 3.67, 1.74, 71.870003, 0.16, 7.36, 0.0, 0.12, 2),
 (73, 1.51593, 13.09, 3.59, 1.52, 73.099998, 0.67, 7.83, 0.0, 0.0, 2),
 (75, 1.51596, 13.02, 3.56, 1.54, 73.110001, 0.72, 7.9, 0.0, 0.0, 2),
 (76, 1.5159, 13.02, 3.58, 1.51, 73.120003, 0.69, 7.96, 0.0, 0.0, 2),
 (80, 1.5159, 12.82, 3.52, 1.9, 72.860001, 0.69, 7.97, 0.0, 0.0, 2),
 (81, 1.51592, 12.86, 3.52, 2.12, 72.660004, 0.69, 7.97, 0.0, 0.0, 2),
 (82, 1.51593, 13.25, 3.45, 1.43, 73.169998, 0.61, 7.86, 0.0, 0.0, 2),
 (84, 1.51594, 13.09, 3.52, 1.55, 72.870003, 0.68, 8.05, 0.0, 0.09, 2),
 (87, 1.51569, 13.24, 3.49, 1.47, 73.25, 0.38, 8.03, 0.0, 0.0, 2),
 (93, 1.51588, 13.12, 3.41, 1.58, 73.260002, 0.07, 8.39, 0.0, 0.19, 2),
 (94, 1.5159, 13.24, 3.34, 1.47, 73.099998, 0.39, 8.22, 0.0, 0.0, 2),
 (164, 1.51514, 14.01, 2.68, 3.5, 69.889999, 1.68, 5.87, 2.2, 0.0, 5),
 (196, 1.51545, 14.14, 0.0, 2.68, 73.389999, 0.08, 9.07, 0.61, 0.05, 7),
 (197, 1.51556, 13.87, 0.0, 2.54, 73.230003, 0.14, 9.41, 0.81, 0.01, 7),
 (199, 1.51531, 14.38, 0.0, 2.66, 73.099998, 0.04, 9.08, 0.64, 0.0, 7),
 (201, 1.51508, 15.15, 0.0, 2.25, 73.5, 0.0, 8.34, 0.63, 0.0, 7),
 (203, 1.51514, 14.85, 0.0, 2.42, 73.720001, 0.0, 8.39, 0.56, 0.0, 7)]

In [ ]:
# selecting data from a selecteda data:
# as a , you shld gove alias 
c.execute("select * from(select * from glass where col1 > 115) as a where col11 >=3")
c.fetchall()

# Connecting Python with MongoDB

install pymongo(connector for python and mongoDB) before executing all the stuff

In [1]:
# pip install pymongo
!pip install pymongo[srv]

Requirement already satisfied: pymongo[srv] in c:\users\dell\anaconda3\lib\site-packages (4.2.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\dell\anaconda3\lib\site-packages (from pymongo[srv]) (2.2.1)

importing pymongo and storing our connection into client

In [8]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://vinod:vinodkumar@cluster0.1wcaqtu.mongodb.net/?retryWrites=true&w=majority")
db = client.test  #name given to our database

print(db) # checking it is connectedor not

Database(MongoClient(host=['ac-hn9bo8x-shard-00-01.1wcaqtu.mongodb.net:27017', 'ac-hn9bo8x-shard-00-00.1wcaqtu.mongodb.net:27017', 'ac-hn9bo8x-shard-00-02.1wcaqtu.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-116vmj-shard-0', tls=True), 'test')

#### client = pymongo.MongoClient (" "), you have to give the link so,
#### 1. search for mongodb atlas (https://account.mongodb.com/account/login?nds=true)
#### 2. go for free
#### 3. select aws, and mumbai server
#### 4. give username and password
#### 5. ip address use - 0.0.0.0/0
#### 6. click on connect an dselect your application(programming languages)
#### 7. copy the link and edit username and password in link.

In [9]:
c = client  # storing our connection into variable 'c'

check databases names (c is our conection)

In [10]:
c.list_database_names()  # databases names

['admin', 'local']

creating a database

In [11]:
# creating a database :

db1 = c['vinod']

creating a collection

In [12]:
# creating a collection :

col1 = db['details']

inserting data into collection

In [23]:
# inserting data into collection in dictionary format :

dict1 = {
    "name" :"vinodkumar" ,
    "mail" :"vks7483437@gmail.com" ,
    "products" : ["one_neuron", "tech_neuron", "FSDS"] ,
    "company" : "iNeuron"
}

insert_one is insert only one value

In [24]:
# updating changes into cloud(MongoDB Atlas):

col1.insert_one(dict1)

this is the output

"_id":{"$oid":"62efcf08a64350fb4ae26069"},
 "name":"vinodkumar",
 "mail":"vks7483437@gmail.com",
 "products":["one_neuron","tech_neuron","FSDS"],
 "company":"iNeuron"}

id intially generated by mogodb atlas, you can override the id like this :

In [28]:
# you can override the Id which is default given by the mongodb atlas :

dict2 = {
    "_id" : "12101" ,
    "name" :"vinodkumar" ,
    "mail" :"vks7483437@gmail.com" ,
    "products" : ["one_neuron", "tech_neuron", "FSDS"] ,
    "company" : "iNeuron"
}

In [29]:
col1.insert_one(dict2)

this is the output:
_id : "12101"
name:"vinodkumar"
mail:"vks7483437@gmail.com"
products:Array ('this is the collection')
company:"iNeuron"

insert_many values at a time, store the data in the form of dict and store that all dict data into list

In [39]:
add = [
    {
        "_id" : "12102" ,
        "name" :"abhinesh" ,
        "mail" :"abhinesh@gmail.com" ,
        "products" : ["tech_neuron", "FSDS"] ,
        "company" : "google"
    },

    {
        "_id" : "12103" ,
        "name" :"shreyaskar" ,
        "mail" :"shreyas@gmail.com" ,
        "products" : ["one_neuron", "FSDS"] ,
        "company" : "Bank of paradise"
    },

    {
        "_id" : "12105" ,
        "name" :"saikumar" ,
        "mail" :"saireddy@gmail.com" ,
        "products" : ["FSDA","one_neuron", "tech_neuron", "FSDS"] ,
        "company" : "Microsoft"
}
]

In [40]:
# adding many data : 
col1.insert_many(add)   # add is list of dict data

In [41]:
# print all the data inside the colllection
for i in col1.find():
    print(i)

{'_id': ObjectId('62efcf08a64350fb4ae26069'), 'name': 'vinodkumar', 'mail': 'vks7483437@gmail.com', 'products': ['one_neuron', 'tech_neuron', 'FSDS'], 'company': 'iNeuron'}
{'_id': '12101', 'name': 'vinodkumar', 'mail': 'vks7483437@gmail.com', 'products': ['one_neuron', 'tech_neuron', 'FSDS'], 'company': 'iNeuron'}
{'_id': '12102', 'name': 'abhinesh', 'mail': 'abhinesh@gmail.com', 'products': ['tech_neuron', 'FSDS'], 'company': 'google'}
{'_id': '12103', 'name': 'shreyaskar', 'mail': 'shreyas@gmail.com', 'products': ['one_neuron', 'FSDS'], 'company': 'Bank of paradise'}
{'_id': '12105', 'name': 'saikumar', 'mail': 'saireddy@gmail.com', 'products': ['FSDA', 'one_neuron', 'tech_neuron', 'FSDS'], 'company': 'Microsoft'}

print all where name = vinodkuamr

In [45]:
# print all the data name = vinodkumar

for i in col1.find({'name':'vinodkumar'}):
    print(i)

{'_id': ObjectId('62efcf08a64350fb4ae26069'), 'name': 'vinodkumar', 'mail': 'vks7483437@gmail.com', 'products': ['one_neuron', 'tech_neuron', 'FSDS'], 'company': 'iNeuron'}
{'_id': '12101', 'name': 'vinodkumar', 'mail': 'vks7483437@gmail.com', 'products': ['one_neuron', 'tech_neuron', 'FSDS'], 'company': 'iNeuron'}

using $in that means like-wise

In [51]:
# using $in :
# it will find the value of key is equal to given value :

for i in col1.find({'name' : { '$in' : ['vin' , 'vinod' , 'vinodkumar' ]}}):
    print(i)

{'_id': ObjectId('62efcf08a64350fb4ae26069'), 'name': 'vinodkumar', 'mail': 'vks7483437@gmail.com', 'products': ['one_neuron', 'tech_neuron', 'FSDS'], 'company': 'iNeuron'}
{'_id': '12101', 'name': 'vinodkumar', 'mail': 'vks7483437@gmail.com', 'products': ['one_neuron', 'tech_neuron', 'FSDS'], 'company': 'iNeuron'}

prnt all where ('_id' : '12101','name' : 'vinodkumar') this condition satisfy

In [53]:
# print all the data name = vinodkumar and id = 12101

for i in col1.find({'_id' : '12101','name' : 'vinodkumar'}):
    print(i)

{'_id': '12101', 'name': 'vinodkumar', 'mail': 'vks7483437@gmail.com', 'products': ['one_neuron', 'tech_neuron', 'FSDS'], 'company': 'iNeuron'}

using gte(greater than equal to)

In [56]:
# greter than equal to :

for i in col1.find({'_id' : { '$gte' : '12102'}}):
    print(i)

{'_id': '12102', 'name': 'abhinesh', 'mail': 'abhinesh@gmail.com', 'products': ['tech_neuron', 'FSDS'], 'company': 'google'}
{'_id': '12103', 'name': 'shreyaskar', 'mail': 'shreyas@gmail.com', 'products': ['one_neuron', 'FSDS'], 'company': 'Bank of paradise'}
{'_id': '12105', 'name': 'saikumar', 'mail': 'saireddy@gmail.com', 'products': ['FSDA', 'one_neuron', 'tech_neuron', 'FSDS'], 'company': 'Microsoft'}

using lte(lesser than equal to)

In [58]:
# lesser than equal to :
for i in col1.find({'_id' : { '$lte' : '12102'}}):
    print(i)

{'_id': '12101', 'name': 'vinodkumar', 'mail': 'vks7483437@gmail.com', 'products': ['one_neuron', 'tech_neuron', 'FSDS'], 'company': 'iNeuron'}
{'_id': '12102', 'name': 'abhinesh', 'mail': 'abhinesh@gmail.com', 'products': ['tech_neuron', 'FSDS'], 'company': 'google'}

updating the existing data

In [59]:
# update name into vinodkumargr :
# update_many -> update all values, update_one -> update only first value

col1.update_many({'name':'vinodkumar'},{'$set':{'name':'vinodkumargr'}})

In [61]:
for i in col1.find():
    print(i) # updated to vinodkumargr

{'_id': ObjectId('62efcf08a64350fb4ae26069'), 'name': 'vinodkumargr', 'mail': 'vks7483437@gmail.com', 'products': ['one_neuron', 'tech_neuron', 'FSDS'], 'company': 'iNeuron'}
{'_id': '12101', 'name': 'vinodkumargr', 'mail': 'vks7483437@gmail.com', 'products': ['one_neuron', 'tech_neuron', 'FSDS'], 'company': 'iNeuron'}
{'_id': '12102', 'name': 'abhinesh', 'mail': 'abhinesh@gmail.com', 'products': ['tech_neuron', 'FSDS'], 'company': 'google'}
{'_id': '12103', 'name': 'shreyaskar', 'mail': 'shreyas@gmail.com', 'products': ['one_neuron', 'FSDS'], 'company': 'Bank of paradise'}
{'_id': '12105', 'name': 'saikumar', 'mail': 'saireddy@gmail.com', 'products': ['FSDA', 'one_neuron', 'tech_neuron', 'FSDS'], 'company': 'Microsoft'}

can retrive the limited data

In [64]:
# print limited data:
for i in col1.find().limit(2):
    print(i)

{'_id': ObjectId('62efcf08a64350fb4ae26069'), 'name': 'vinodkumargr', 'mail': 'vks7483437@gmail.com', 'products': ['one_neuron', 'tech_neuron', 'FSDS'], 'company': 'iNeuron'}
{'_id': '12101', 'name': 'vinodkumargr', 'mail': 'vks7483437@gmail.com', 'products': ['one_neuron', 'tech_neuron', 'FSDS'], 'company': 'iNeuron'}

id should not greater than (condition)

In [67]:
# not greater than :
for i in col1.find({'_id': {'$not' : {'$gt' : '12103'}}}):
    print(i)

{'_id': '12101', 'name': 'vinodkumargr', 'mail': 'vks7483437@gmail.com', 'products': ['one_neuron', 'tech_neuron', 'FSDS'], 'company': 'iNeuron'}
{'_id': '12102', 'name': 'abhinesh', 'mail': 'abhinesh@gmail.com', 'products': ['tech_neuron', 'FSDS'], 'company': 'google'}
{'_id': '12103', 'name': 'shreyaskar', 'mail': 'shreyas@gmail.com', 'products': ['one_neuron', 'FSDS'], 'company': 'Bank of paradise'}
{'_id': ObjectId('62efcf08a64350fb4ae26069'), 'name': 'vinodkumargr', 'mail': 'vks7483437@gmail.com', 'products': ['one_neuron', 'tech_neuron', 'FSDS'], 'company': 'iNeuron'}

updating abinesh mail

In [76]:
    col1.update_one({"name":"abhinesh"},{"$set": {"mail" : "abhineshemailupdate@.com"}})

In [77]:
for i in col1.find({"name":"abhinesh"}):
    print(i)

{'_id': '12102', 'name': 'abhinesh', 'mail': 'abhineshemailupdate@.com', 'products': ['tech_neuron', 'FSDS'], 'company': 'google'}

 to delete the data :
        
use <collection name>.delete_one or .delete_many()

# SQL lite in python :

SQl lite is an in-memory database, where mongodb and mysql are cloud servers that are not present in local system.

With the help of sql lite you can store your data inside the same system

In [1]:
import sqlite3

creating a file with db extent, that will store all my data in a structured format

In [2]:
db = sqlite3.connect('sqlite_data.db')

creating a cursor to execute

In [3]:
c = db.cursor()

creating a table

In [4]:
c.execute('CREATE TABLE details ("name","age","mail")')

inserting values into details table

In [5]:
c.execute("INSERT INTO details VALUES ('vinod_kumar','22','vinodkumar@mail')")
c.execute("INSERT INTO details VALUES ('sai_kumar','19','saikumar@mail')")
c.execute("INSERT INTO details VALUES ('abhinesh_v','21','abhienshv@mail')")
c.execute("INSERT INTO details VALUES ('shreyaskar_kumar','20','shreyaskar@mail')")

select everyting from details table and give output

In [6]:
c.execute('SELECT * FROM DETAILS')
c.fetchall()

[('vinod_kumar', '22', 'vinodkumar@mail'),
 ('sai_kumar', '19', 'saikumar@mail'),
 ('abhinesh_v', '21', 'abhienshv@mail'),
 ('shreyaskar_kumar', '20', 'shreyaskar@mail')]

In [7]:
db.commit()

after doing all task you must close the file so use :

In [8]:
db.close()

creating another database :

In [9]:
import sqlite3
db = sqlite3.connect("student_details.db")

# crerating a cursor :
c = db.cursor()

 creating a table :

In [10]:
 c.execute("CREATE TABLE student_details(student_id INT, student_name TEXT, mail TEXT, marks INT)")

In [11]:
 c.execute("CREATE TABLE student_address(student_id INT, pincode INT, location TEXT, nearby TEXT)")

inserting values into both table

In [12]:
c.execute("INSERT INTO student_details VALUES (2001, 'vinod', 'dfkfmfs@', '74')")
c.execute("INSERT INTO student_details VALUES (2002, 'abhi', 'dsfr@', '56')")
c.execute("INSERT INTO student_details VALUES (2003, 'shreyas', 'sgregre@', '86')")
c.execute("INSERT INTO student_details VALUES (2004, 'sai', 'rhtedh@', '34')")
c.execute("INSERT INTO student_details VALUES (2005, 'kumar', 'ehtddf@', '76')")
c.execute("INSERT INTO student_details VALUES (2006, 'chandhu', 'dfrfgdfkfmfs@', '63')")
c.execute("INSERT INTO student_details VALUES (2007, 'lokesh', 'ergerte@', '85')")
c.execute("INSERT INTO student_details VALUES (2008, 'anay', 'errfgvfd@', '65')")
c.execute("INSERT INTO student_details VALUES (2009, 'bhaskar', 'rdgdfgf@', '76')")
c.execute("INSERT INTO student_details VALUES (2010, 'tarak', 'htrthrt@', '57')")
c.execute("INSERT INTO student_details VALUES (2011, 'charan', 'trhrtrt@', '33')")
c.execute("INSERT INTO student_details VALUES (2012, 'prabhas', 'uikki@', '36')")
c.execute("INSERT INTO student_details VALUES (2014, 'rana', 'jhggbfds@', '58')")
c.execute("INSERT INTO student_details VALUES (2015, 'arjun', 'ujyiuyu@', '97')")

In [13]:
c.execute("INSERT INTO student_address VALUES (2001, 3942255688, 'chandapura', 'home')")
c.execute("INSERT INTO student_address VALUES (2002, 3254534523, 'avalhalli', 'bustand')")
c.execute("INSERT INTO student_address VALUES (2003, 3943342838, 'chandapura', 'temple')")
c.execute("INSERT INTO student_address VALUES (2004, 3943342838, 'katamnallur', 'bustand')")
c.execute("INSERT INTO student_address VALUES (2005, 3942255688, 'whitefield', 'home')")
c.execute("INSERT INTO student_address VALUES (2006, 3943342838, 'sarjaura', 'bustand')")
c.execute("INSERT INTO student_address VALUES (2007, 3254534523, 'whitefield', 'temple')")
c.execute("INSERT INTO student_address VALUES (2008, 3942255688, 'katamnallur', 'home')")
c.execute("INSERT INTO student_address VALUES (2009, 3943342838, 'chandapura', 'home')")
c.execute("INSERT INTO student_address VALUES (2010, 3943342838, 'avalhalli', 'temple')")
c.execute("INSERT INTO student_address VALUES (2011, 3943342838, 'sarjaura', 'shop')")
c.execute("INSERT INTO student_address VALUES (2012, 3943342838, 'katamnallur', 'temple')")
c.execute("INSERT INTO student_address VALUES (2014, 3254534523, 'chandapura', 'shop')")
c.execute("INSERT INTO student_address VALUES (2015, 3943342838, 'whitefield', 'shop')")

In [14]:
c.execute("SELECT * FROM student_details")
c.fetchall()

[(2001, 'vinod', 'dfkfmfs@', 74),
 (2002, 'abhi', 'dsfr@', 56),
 (2003, 'shreyas', 'sgregre@', 86),
 (2004, 'sai', 'rhtedh@', 34),
 (2005, 'kumar', 'ehtddf@', 76),
 (2006, 'chandhu', 'dfrfgdfkfmfs@', 63),
 (2007, 'lokesh', 'ergerte@', 85),
 (2008, 'anay', 'errfgvfd@', 65),
 (2009, 'bhaskar', 'rdgdfgf@', 76),
 (2010, 'tarak', 'htrthrt@', 57),
 (2011, 'charan', 'trhrtrt@', 33),
 (2012, 'prabhas', 'uikki@', 36),
 (2014, 'rana', 'jhggbfds@', 58),
 (2015, 'arjun', 'ujyiuyu@', 97)]

In [15]:
c.execute("SELECT * FROM student_address")
c.fetchall()

[(2001, 3942255688, 'chandapura', 'home'),
 (2002, 3254534523, 'avalhalli', 'bustand'),
 (2003, 3943342838, 'chandapura', 'temple'),
 (2004, 3943342838, 'katamnallur', 'bustand'),
 (2005, 3942255688, 'whitefield', 'home'),
 (2006, 3943342838, 'sarjaura', 'bustand'),
 (2007, 3254534523, 'whitefield', 'temple'),
 (2008, 3942255688, 'katamnallur', 'home'),
 (2009, 3943342838, 'chandapura', 'home'),
 (2010, 3943342838, 'avalhalli', 'temple'),
 (2011, 3943342838, 'sarjaura', 'shop'),
 (2012, 3943342838, 'katamnallur', 'temple'),
 (2014, 3254534523, 'chandapura', 'shop'),
 (2015, 3943342838, 'whitefield', 'shop')]

In [16]:
data = c.execute("SELECT student_name, pincode, location FROM student_details s LEFT JOIN student_address a on s.student_id=a.student_id")
c.fetchall()

[('vinod', 3942255688, 'chandapura'),
 ('abhi', 3254534523, 'avalhalli'),
 ('shreyas', 3943342838, 'chandapura'),
 ('sai', 3943342838, 'katamnallur'),
 ('kumar', 3942255688, 'whitefield'),
 ('chandhu', 3943342838, 'sarjaura'),
 ('lokesh', 3254534523, 'whitefield'),
 ('anay', 3942255688, 'katamnallur'),
 ('bhaskar', 3943342838, 'chandapura'),
 ('tarak', 3943342838, 'avalhalli'),
 ('charan', 3943342838, 'sarjaura'),
 ('prabhas', 3943342838, 'katamnallur'),
 ('rana', 3254534523, 'chandapura'),
 ('arjun', 3943342838, 'whitefield')]

using where condition in left join

In [17]:
c.execute("SELECT student_name, pincode, location, nearby FROM student_details s LEFT JOIN student_address a on s.student_id = a.student_id where a.student_id is not null")
c.fetchall()

[('vinod', 3942255688, 'chandapura', 'home'),
 ('abhi', 3254534523, 'avalhalli', 'bustand'),
 ('shreyas', 3943342838, 'chandapura', 'temple'),
 ('sai', 3943342838, 'katamnallur', 'bustand'),
 ('kumar', 3942255688, 'whitefield', 'home'),
 ('chandhu', 3943342838, 'sarjaura', 'bustand'),
 ('lokesh', 3254534523, 'whitefield', 'temple'),
 ('anay', 3942255688, 'katamnallur', 'home'),
 ('bhaskar', 3943342838, 'chandapura', 'home'),
 ('tarak', 3943342838, 'avalhalli', 'temple'),
 ('charan', 3943342838, 'sarjaura', 'shop'),
 ('prabhas', 3943342838, 'katamnallur', 'temple'),
 ('rana', 3254534523, 'chandapura', 'shop'),
 ('arjun', 3943342838, 'whitefield', 'shop')]

In [18]:
c.execute("select * from student_adress a RIGHT JOIN student_details s on a.student_id = s.student_id")

OperationalError: RIGHT and FULL OUTER JOINs are not currently supported

In [ ]:
db.close()

In [19]:
# to perform deletion I'll create the same database with different name :
import sqlite3
db = sqlite3.connect("student_deletion_task")
c = db.cursor()

In [20]:
 c.execute("CREATE TABLE student_address(student_id INT, pincode INT, location TEXT, nearby TEXT)")

In [21]:
c.execute("CREATE TABLE student_details(student_id INT, student_name TEXT, mail TEXT, marks INT)")

In [22]:
c.execute("INSERT INTO student_address VALUES (2001, 3942255688, 'chandapura', 'home')")
c.execute("INSERT INTO student_address VALUES (2002, 3254534523, 'avalhalli', 'bustand')")
c.execute("INSERT INTO student_address VALUES (2003, 3943342838, 'chandapura', 'temple')")
c.execute("INSERT INTO student_address VALUES (2004, 3943342838, 'katamnallur', 'bustand')")
c.execute("INSERT INTO student_address VALUES (2005, 3942255688, 'whitefield', 'home')")
c.execute("INSERT INTO student_address VALUES (2006, 3943342838, 'sarjaura', 'bustand')")
c.execute("INSERT INTO student_address VALUES (2007, 3254534523, 'whitefield', 'temple')")
c.execute("INSERT INTO student_address VALUES (2008, 3942255688, 'katamnallur', 'home')")
c.execute("INSERT INTO student_address VALUES (2009, 3943342838, 'chandapura', 'home')")
c.execute("INSERT INTO student_address VALUES (2010, 3943342838, 'avalhalli', 'temple')")
c.execute("INSERT INTO student_address VALUES (2011, 3943342838, 'sarjaura', 'shop')")
c.execute("INSERT INTO student_address VALUES (2012, 3943342838, 'katamnallur', 'temple')")
c.execute("INSERT INTO student_address VALUES (2014, 3254534523, 'chandapura', 'shop')")
c.execute("INSERT INTO student_address VALUES (2015, 3943342838, 'whitefield', 'shop')")

In [23]:
c.execute("INSERT INTO student_details VALUES (2001, 'vinod', 'dfkfmfs@', '74')")
c.execute("INSERT INTO student_details VALUES (2002, 'abhi', 'dsfr@', '56')")
c.execute("INSERT INTO student_details VALUES (2003, 'shreyas', 'sgregre@', '86')")
c.execute("INSERT INTO student_details VALUES (2004, 'sai', 'rhtedh@', '34')")
c.execute("INSERT INTO student_details VALUES (2005, 'kumar', 'ehtddf@', '76')")
c.execute("INSERT INTO student_details VALUES (2006, 'chandhu', 'dfrfgdfkfmfs@', '63')")
c.execute("INSERT INTO student_details VALUES (2007, 'lokesh', 'ergerte@', '85')")
c.execute("INSERT INTO student_details VALUES (2008, 'anay', 'errfgvfd@', '65')")
c.execute("INSERT INTO student_details VALUES (2009, 'bhaskar', 'rdgdfgf@', '76')")
c.execute("INSERT INTO student_details VALUES (2010, 'tarak', 'htrthrt@', '57')")
c.execute("INSERT INTO student_details VALUES (2011, 'charan', 'trhrtrt@', '33')")
c.execute("INSERT INTO student_details VALUES (2012, 'prabhas', 'uikki@', '36')")
c.execute("INSERT INTO student_details VALUES (2014, 'rana', 'jhggbfds@', '58')")
c.execute("INSERT INTO student_details VALUES (2015, 'arjun', 'ujyiuyu@', '97')")

In [24]:
c.execute("SELECT * FROM student_address")
c.fetchall()

[(2001, 3942255688, 'chandapura', 'home'),
 (2002, 3254534523, 'avalhalli', 'bustand'),
 (2003, 3943342838, 'chandapura', 'temple'),
 (2004, 3943342838, 'katamnallur', 'bustand'),
 (2005, 3942255688, 'whitefield', 'home'),
 (2006, 3943342838, 'sarjaura', 'bustand'),
 (2007, 3254534523, 'whitefield', 'temple'),
 (2008, 3942255688, 'katamnallur', 'home'),
 (2009, 3943342838, 'chandapura', 'home'),
 (2010, 3943342838, 'avalhalli', 'temple'),
 (2011, 3943342838, 'sarjaura', 'shop'),
 (2012, 3943342838, 'katamnallur', 'temple'),
 (2014, 3254534523, 'chandapura', 'shop'),
 (2015, 3943342838, 'whitefield', 'shop')]

In [26]:
c.execute("SELECT marks FROM student_details WHERE student_id < 2010")
c.fetchall()

[(74,), (56,), (86,), (34,), (76,), (63,), (85,), (65,), (76,)]

In [35]:
c.execute("delete from student_details where marks=74")
c.fetchall()

[]

In [37]:
c.execute("select * from student_details")
c.fetchall()

[(2002, 'abhi', 'dsfr@', 56),
 (2003, 'shreyas', 'sgregre@', 86),
 (2004, 'sai', 'rhtedh@', 34),
 (2005, 'kumar', 'ehtddf@', 76),
 (2006, 'chandhu', 'dfrfgdfkfmfs@', 63),
 (2007, 'lokesh', 'ergerte@', 85),
 (2008, 'anay', 'errfgvfd@', 65),
 (2009, 'bhaskar', 'rdgdfgf@', 76),
 (2010, 'tarak', 'htrthrt@', 57),
 (2011, 'charan', 'trhrtrt@', 33),
 (2012, 'prabhas', 'uikki@', 36),
 (2014, 'rana', 'jhggbfds@', 58),
 (2015, 'arjun', 'ujyiuyu@', 97)]

In [40]:
# now I'm going to delete some data in this file :

# this is the data i have now
c.execute("select * from student_details")
c.fetchall()

[(2002, 'abhi', 'dsfr@'),
 (2003, 'shreyas', 'sgregre@'),
 (2004, 'sai', 'rhtedh@'),
 (2005, 'kumar', 'ehtddf@'),
 (2006, 'chandhu', 'dfrfgdfkfmfs@'),
 (2007, 'lokesh', 'ergerte@'),
 (2008, 'anay', 'errfgvfd@'),
 (2009, 'bhaskar', 'rdgdfgf@'),
 (2010, 'tarak', 'htrthrt@'),
 (2011, 'charan', 'trhrtrt@'),
 (2012, 'prabhas', 'uikki@'),
 (2014, 'rana', 'jhggbfds@'),
 (2015, 'arjun', 'ujyiuyu@')]

In [39]:
c.execute("alter table student_details drop marks")
c.fetchall()

[]

In [12]:
# now I'll delete the data where student_id is > 2010(not 2010):
c.execute("DELETE FROM student_details WHERE student_id > 2010")
c.fetchall()

[]

In [14]:
# if i check again the student_details 

c.execute("select * from student_details")
c.fetchall()  # if student_details >2010 deleted

[(2001, 'vinod', 'dfkfmfs@', 74),
 (2002, 'abhi', 'dsfr@', 56),
 (2003, 'shreyas', 'sgregre@', 86),
 (2004, 'sai', 'rhtedh@', 34),
 (2005, 'kumar', 'ehtddf@', 76),
 (2006, 'chandhu', 'dfrfgdfkfmfs@', 63),
 (2007, 'lokesh', 'ergerte@', 85),
 (2008, 'anay', 'errfgvfd@', 65),
 (2009, 'bhaskar', 'rdgdfgf@', 76),
 (2010, 'tarak', 'htrthrt@', 57)]

In [18]:
c.execute("DELETE marks FROM student_details WHERE student_id > 2001")
c.fetchall()

OperationalError: near "marks": syntax error

# reduce function :

Python's reduce() is a function that implements a mathematical technique called folding or reduction. reduce() is useful when you need to apply a function to an iterable and reduce it to a single cumulative value.

In [2]:
# first import reduce function from functools

from functools import reduce

In [3]:
# it will returns output when u give a+b
l = [1,2,3,4,5,6,7]

def fun(a,b):
    return a+b

reduce(fun, l)

28

In [4]:
# when u give three numbers it will give error:

def fun1(a,b,c):
    return a+b+c

reduce(fun1, l) # by calcualting manually it will work, but it comes to amchine level it will give u error

TypeError: fun1() missing 1 required positional argument: 'c'

In [5]:
# what if I'll pass only number and return a+b:
# it will work, because by default the number will be considered as a 0

l =[2]

def fun(a,b):
    return a+b

reduce(fun, l)

2

# Zip function :

The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together etc.

In [7]:
# suppose I have two list data, it shld be combined

l = [1,2,3,4,5]
l1 = [6,7,8,9,10]

zip(l, l1)  # to display output set this intoa list

In [8]:
list(zip(l, l1))

[(1, 6), (2, 7), (3, 8), (4, 9), (5, 10)]

# cassandra :

cassandra is a nosql database [columnar]

Cassandra allows you to replicate your data to other data centers and keep multiple copies in multiple locations.


Due to that website crash I'm not able to use cassandra in my system.