In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day26-ordinal-encoding/customer.csv')
df.head(4)

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No

In [3]:
df.sample(5)

    age  gender   review education purchased
19   97    Male     Poor        PG       Yes
34   86    Male  Average    School        No
48   39  Female     Good        UG       Yes
31   22  Female     Poor    School       Yes
38   45  Female     Good    School        No

In [4]:
df = df.iloc[:,2:6]

In [5]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [6]:
# train_test_split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.iloc[:,0:2], df.iloc[:,-1], test_size=.2)
X_train.shape, X_test.shape

((40, 2), (10, 2))

In [7]:
df.education.unique()

array(['School', 'UG', 'PG'], dtype=object)

In [8]:
df.review.unique()

array(['Average', 'Poor', 'Good'], dtype=object)

In [9]:
# ordinal encoding for ordinal categorical data of input columns
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder(categories = [['Poor', 'Average', 'Good'],['School', 'UG', 'PG']])

In [10]:
# fit x_train
oe.fit(X_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [11]:
# both x_train and x_test transform
X_train = oe.transform(X_train)
X_test = oe.transform(X_test)

In [12]:
X_train

array([[2., 0.],
       [0., 2.],
       [0., 2.],
       [1., 0.],
       [2., 1.],
       [0., 2.],
       [2., 2.],
       [1., 1.],
       [1., 1.],
       [0., 2.],
       [2., 2.],
       [2., 0.],
       [1., 1.],
       [0., 0.],
       [2., 0.],
       [0., 1.],
       [2., 1.],
       [0., 2.],
       [0., 2.],
       [0., 1.],
       [0., 1.],
       [2., 2.],
       [2., 1.],
       [2., 0.],
       [0., 0.],
       [1., 2.],
       [2., 0.],
       [0., 2.],
       [1., 0.],
       [0., 0.],
       [2., 1.],
       [2., 2.],
       [1., 2.],
       [1., 1.],
       [2., 1.],
       [1., 2.],
       [1., 0.],
       [0., 2.],
       [2., 2.],
       [2., 2.]])

In [13]:
oe.categories

[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']]

In [14]:
# label encoder for categorical data of output column:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(y_train)

LabelEncoder()

In [15]:
# unique characters in output column
le.classes_

array(['No', 'Yes'], dtype=object)

In [16]:
y_train = le.transform(y_train)
y_test = le.transform(y_test)

In [17]:
y_train

array([0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1,
       1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1])