# 01. Lists :

# Ascending order

In [1]:
l = [1,4,9,2,6,3,5,8,7,11,13,10,12] # dataset is not in a order

l.sort() # this .sort() will help you to set data into a order(ascending order).

# .sort() by default it will sort to ascending order.

In [2]:
l # after sorting

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [3]:
# If you want to sort data into descending order use below code

l.sort(reverse=True) 

# True keyword is case sensetive, always T should be captial

In [4]:
l

[13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

#  Descending order

In [5]:
#you can directly convert the unordered data into descending

# reload the original data:
l = [1,4,9,2,6,3,5,8,7,11,13,10,12] 
l # retreive the data

[1, 4, 9, 2, 6, 3, 5, 8, 7, 11, 13, 10, 12]

In [6]:
l.sort(reverse=True) # here T in True always should be capital

In [12]:
l

[13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# 02. Tuples :

In [4]:
t = ()

In [5]:
# what is the type of 't' here:
type(t)

tuple

In [6]:
# tuples with strings:
t = ('vinod', 'kumar', 'sai', 'kumar', 'abhi', 'shreyas')
print(t)

('vinod', 'kumar', 'sai', 'kumar', 'abhi', 'shreyas')

In [1]:
# tuples with numbers:
t1 = (1,2,3,4,5,6,7,8,9,10) # you can acess without paranthesis
t1

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [2]:
# combination of strings and numbers:
t2 = ('vinod','sai','kumar',1,2,3,4,5)
t2

('vinod', 'sai', 'kumar', 1, 2, 3, 4, 5)

In [1]:
# convert list into tuple
l = [1,2,3,4,5,6,7] 
print(l)

[1, 2, 3, 4, 5, 6, 7]

In [2]:
type(l) # here we can see type of l

list

In [3]:
lt = tuple(l) # "tuple()" will convert any data type into tuples

# we store the converted list into lt

In [4]:
print(lt) # we can see lt is list or tuple
# it is converted list into tuple

(1, 2, 3, 4, 5, 6, 7)

In [5]:
type(lt) # and here the type of lt is tuple now

tuple

tuple.index()

In [1]:
# using index operation :
t4 = ("vinod", 'kumar', 'sai','abhi')
t4.index('sai')

2

In [2]:
# lets take combined data
t5 = ('vinod','sai','abhi','shreyas',1,2,3,4,5,6)
t5.index(2) # here 2 is not a inde, it's a value

5

In [3]:
# what is the index value of 'sai'
t5.index('sai')

1

In [4]:
t5.index('shreyas')

3

In [5]:
# How much data is present in t5
for i in t5:
    d = t5.index(i)

In [6]:
# the total data is
d

9

tuple.count()

In [1]:
# count operation 
t6 = (1,2,3,1,2,1,1,1,2,2,2,4,4,4,5,5,5,3,4)

t6.count(1)

5

In [2]:
print("how many times 2 value is present ? ", t6.count(2), "times")

how many times 2 value is present ?  5 times

In [3]:
print("how many times 4 value is present ? ", t6.count(4), "times")

how many times 4 value is present ?  4 times

In [4]:
print("how many times 3 value is present ? ", t6.count(3), "times")

how many times 3 value is present ?  2 times

#  03. Sets:

In [1]:
s = () 
# If you initialize like this it consider as a tuple

In [2]:
# Let's see the type(s) here:
type(s)

tuple

In [3]:
# If i use set() keyword and add data into set()
s1 = set()

In [4]:
type(s1) # here my type of s1 is :

set

In [5]:
# Lets add data and retreive them:
s2 = set('vinod','sai',1,2,3,4,5)

TypeError: set expected at most 1 argument, got 7

you can't add multiple data like this into the sets data, you should add only single data. 
Either you create a list inside sets(), that will consider whole data inside list as a single argument.
or create a tuple inside sets().
The output of sets will be like this - { data }

In [6]:
# Like tuple inside set() i,e., set(tuple())
s2 = set((1,2,3,4,5,'vinod','sai'))
s2

{1, 2, 3, 4, 5, 'sai', 'vinod'}

In [7]:
# Like list inside set() i,e., set(list[])
s3 = set(['vinod','sai',1,2,3,4,5])
s3

{1, 2, 3, 4, 5, 'sai', 'vinod'}

In [11]:
# the advantage is set will sort the data:
# unordered data
s4 = set({8,2,5,3,1,6,4,7}) # no problem in using flower braces

s4 # see it have soreted the data

{1, 2, 3, 4, 5, 6, 7, 8}

In [13]:
# we will apply in strings also:
s5 = set(['vinod','shreyas','sai','abhi','vishnu']) 
s5 # it will sorted according to the letters

{'abhi', 'sai', 'shreyas', 'vinod', 'vishnu'}

In [14]:
# Let's see for combined data
s6 = set((6,2,1,4,3,5,'vinod','sai','vishnu','abhi','shreyas'))
s6

{1, 2, 3, 4, 5, 6, 'abhi', 'sai', 'shreyas', 'vinod', 'vishnu'}

In [15]:
# if the numbers are repeated then it will be recoded only once
s7 = set([1,2,3,1,4,5,2,6,6,6,'vinod','kumar','sai','kumar'])
s7

{1, 2, 3, 4, 5, 6, 'kumar', 'sai', 'vinod'}

# operations on sets :

In [1]:
# add operation : you can't use [] to add, use ()
s1 = set(()) # empty set

In [2]:
s1.add(1) # add 1 into s1
s1

{1}

In [3]:
s1.add(2)
s1

{1, 2}

In [4]:
for i in range(3,9):  # adding multiple data at once using for loop
    s1.add(i)
s1

{1, 2, 3, 4, 5, 6, 7, 8}

In [5]:
# add data inside a tuple:
s2 = set((1,2,3))
s2

{1, 2, 3}

In [6]:
s2.add((1,2,3,4,5))
s2  # tuple inside set

{(1, 2, 3, 4, 5), 1, 2, 3}

In [8]:
s2.add(('vinod','kumar','sai'))
s2

{('vinod', 'kumar', 'sai'), (1, 2, 3, 4, 5), 1, 2, 3}

# set.update():

In [1]:
s1 = set(())  # an empty set

In [3]:
s1.update([1,2,3,4]) # update will take lists, but add cannot take lists.
s1

{1, 2, 3, 4}

In [5]:
s1.update((11,22,33,44))
s1  # you can see all data are combined.

{1, 2, 3, 4, 11, 22, 33, 44}

In [6]:
s1.update(('vinod','kumar','sai'))
s1  # also sorts the data.

{1, 11, 2, 22, 3, 33, 4, 44, 'kumar', 'sai', 'vinod'}

# set.remove() :

In [11]:
# First I'll add some data using for loop:
s1 = set(()) # created empty set
for i in range(1,16):
    s1.add(i)
s1  # i have added some elements/data.

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

In [13]:
s1.remove(1)  # by default it will take only one argument
s1  # I have removed a numbers

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

In [14]:
s1.remove(3)
s1

{2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

In [15]:
# I'll remove some sequence of data using for loop:
for i in range(4,11):  # 11 is not included.
    s1.remove(i)
s1

{2, 11, 12, 13, 14, 15}

Type casting:

In [16]:
lst = [1,2,3,4,5,6] # this is list
s = set(lst)  # storing list inside set (type casting)
s

{1, 2, 3, 4, 5, 6}

In [17]:
tup = (1,2,3,4,5,6,7)
s1 = set(tup)
s1

{1, 2, 3, 4, 5, 6, 7}

#  04. DICTIONARY :

In [1]:
d = {} # empty dictionary
type(d)  # type of d is :  dict means dictionary

dict

In [2]:
d = {'1':'vinod', '2':'sai', '3':'abhi', '4':'shreyas'}
d

{'1': 'vinod', '2': 'sai', '3': 'abhi', '4': 'shreyas'}

In [3]:
d1 = {'name':'vinod','age':'19','friend':'sai'}
d1

{'name': 'vinod', 'age': '19', 'friend': 'sai'}

In [4]:
# you can use list inside dict for values:
d2 = {'1':'[1,2,3,4]', '2':'[11,22,33,44]'}
d2

{'1': '[1,2,3,4]', '2': '[11,22,33,44]'}

In [5]:
#you can acess data without parenthesis for numbers
d2 = {1:[1,2,3,4], 2:[11,22,33,44], 3:[111,222,333,444]}
d2

{1: [1, 2, 3, 4], 2: [11, 22, 33, 44], 3: [111, 222, 333, 444]}

# add into dict:

In [1]:
d = {} # an empty dict
d

{}

In [2]:
# adding data into dict:
d['name'] = 'vinod'
d['age'] = '19'
d['friend'] = 'saikumar'

d

{'name': 'vinod', 'age': '19', 'friend': 'saikumar'}

In [1]:
# adding data  using tuple and lists:
d1 = {}
d1[1] = (1,2,3,4)
d1[2] = [11,22,33,44]
d1[3] = (111,222,333,444)
d1[4] = [1111,2222,3333,4444]

d1

{1: (1, 2, 3, 4),
 2: [11, 22, 33, 44],
 3: (111, 222, 333, 444),
 4: [1111, 2222, 3333, 4444]}

dict.get()

In [8]:
d1.get(1) #1 is a key and the output will be values

(1, 2, 3, 4)

In [9]:
d1.get(2) # gets the values when you give a key as an argument

[11, 22, 33, 44]

In [10]:
d1.get(3)

(111, 222, 333, 444)

In [11]:
d1.get(4)

[1111, 2222, 3333, 4444]

In [3]:
d1.keys() # all the key inside d1

dict_keys([1, 2, 3, 4])

In [4]:
d1.values() # all values inside d1

dict_values([(1, 2, 3, 4), [11, 22, 33, 44], (111, 222, 333, 444), [1111, 2222, 3333, 4444]])

In [7]:
d1.items() # all data inside d1, key:value format

dict_items([(2, [11, 22, 33, 44]), (3, (111, 222, 333, 444)), (4, [1111, 2222, 3333, 4444])])

In [6]:
d1.pop(1) # deletes the data

(1, 2, 3, 4)

# 05. Function :

In [1]:
# Noraml code to check number is even or odd : 
num = 20
if num%2 == 0:  #num =20, if 20/2=0 then 
    print("num is even")  # print this statement.
else:
    print("num is odd")

num is even

In [2]:
num = 25
if num%2 == 0:  #num =25, if 25/2=0 then 
    print("num is even")  # print this statement.
else:
    print("num is odd")

num is odd

# Syntax of function(user defined) :

In [ ]:
# syntax of user defined function is :
def <function name> :
    <code>

In [ ]:
# we take above example:
def check(num):  # check is a function name which we wre going to call for output.
    if num%2 == 0:  # num is an argument(num value) where we provide user input.
        print("num is even.")
    else:
        print("num is odd.")
# here the code execute and value is stored.

In [4]:
# We will call the functionwith argument(num value)
# for calling <function name(argument)>

check(25)  # I have called my function with num = 25

num is odd.

In [5]:
check(2)

num is even.

In [6]:
check(3)

num is odd.

In [7]:
check(4)

num is even.

In [8]:
# you can I'm able to print the output, without writing code multiple times
# I'm just using my function name.

# We will see the error that we get using of return and print statement

In [14]:
# I'll take another function:
def my_name(): # no argumrnts
    print("vinod kumar")  #executed

In [2]:
# I'll call my function:
my_name()  # it prints the output

vinod kumar

understand carefully here:

In [15]:
# if i store my function to a variable :
x = my_name() # i stored my function into x

vinod kumar

In [4]:
print(x)  # I'm trying to print my name after storing into x

None

# solving the none type error:

In [1]:
# same example I'll take : 
def my_name():
    return "vinod kumar" # Now I used retutn here
# executed

In [2]:
x1 = my_name() # I stored my name into x1

In [3]:
print(x1) # If I print my name, it will able to print my name

vinod kumar

In [4]:
# another example:
def add(num1,num2):
    print(num1+num2)

In [5]:
x = add(5,4) # if i use print here, in this step itself I'm getting my output

9

In [6]:
print(x) # Here I'm not getting output, because result is already printed above

None

In [7]:
# Let's use return now instead of print:
def add1 (num1,num2):
    return num1+num2  # returning this result

In [8]:
v = add1(5,8)  # stored result into v

In [9]:
print(v) # printing the result stored in v.

13

# default value arguments:

In [1]:
def bio(name,sex='male'):  # I have passed default value for sex(argument)
    return name, sex

In [2]:
# I'll call my function:
bio('vinod') # here I give only one argument, but it will give both the arguments, coz we pass a default argument already

('vinod', 'male')

In [3]:
# another way of writing a code
def bio1(name,sex='male'):  
    print("my name is ", name, ", my gender is ", sex)

In [4]:
bio1('vinod')

my name is  vinod , my gender is  male

In [5]:
# using .format{} for printing an output
def bio2(name,sex='male'):   # Here in this scenario name is a positional argument, and sex=male is a keyword argument
    print("my name is {} and my gender is {}".format(name,sex))

In [6]:
bio2('vinod')

my name is vinod and my gender is male

In [7]:
# What if I remove default argument and give only one argument
def bio3(name,sex): # I didn't pass any default argument here
    return name, sex

In [8]:
bio3('vinod') # previously I gave inly on argument and I executed, it will able to print bio
# Now it gives error because here I didn't give any default argument and I'm giving only one value

TypeError: bio3() missing 1 required positional argument: 'sex'

In [9]:
# let me try to give two values here
bio3('vinod', 'male') # Now I'm able to get output after giving two values/arguments

('vinod', 'male')

# using *args and **kwargs :

In [1]:
# using *args :
def func(*args): # I'm passing argument as *args
    print(*args) # I want to print *args(what all data I passed into *args)

In [2]:
func('vinod','sai',1,2,3,4,'abhi','shreyas',(1,2,3,4),[11,22,33,44,55,66])
# I used different data list, strings, numbers

vinod sai 1 2 3 4 abhi shreyas (1, 2, 3, 4) [11, 22, 33, 44, 55, 66]

In [3]:
def func1(*a): # it is not madatory of using a word "args", if you use * it will get to know that it is *args.
    print(*a)
# But it's better to use *args so that others can understand easily your passing infinite args

In [4]:
func1('vinod','abhi','shreyas',(1,2,3,4),[11,22,33,44],{111,222,333,444})

vinod abhi shreyas (1, 2, 3, 4) [11, 22, 33, 44] {444, 333, 222, 111}

In [5]:
def adder(*num): 
    sum = 0  # initializing sum value starts with 0
    
    for i in num:   # for data in that we give inside num
        sum = sum + i   # for every iteration output will be the sum value
                        # if 1st output is 1, then sum + i(next data) = sum -> 1+2=3,
                        #the 2nd output is 3, then sum + i(next data) = sum -> 3+3=6
    print("Sum:",sum)

In [6]:
adder(1,1)

Sum: 2

In [7]:
adder(1,2,3)

Sum: 6

In [8]:
adder(1,2,3,4,5,6)

Sum: 21

# using **kwargs :

In [1]:
def m1(**kwargs):
    print(kwargs)

In [2]:
m1(name='vinod', age=20, friend='sai kumar') # the 'key' data you don't need to put inside paranthesis
                                             # but you need to put 'values'(strings) inside paranthesis 
    # it will return dict data type

{'name': 'vinod', 'age': 20, 'friend': 'sai kumar'}

In [3]:
def f2(**a):  # you store value in 'a'
    print(f2) # if you try to print the function, erroe occurs, so print the data, data stored in 'a'

In [4]:
print(f2(odd=(1,3,5,7,9), even=(2,4,6,8,10), prime=(1,3,5,7,11)))  #error and None error

<function f2 at 0x0000010C01835C10>
None

In [5]:
def f2(**a):  # you want to print the data, data inside **a.
    print(a)

In [6]:
f2(odd=(1,3,5,7,9), even=(2,4,6,8,10), prime=(1,3,5,7,11))# you can add multiple data inside values

{'odd': (1, 3, 5, 7, 9), 'even': (2, 4, 6, 8, 10), 'prime': (1, 3, 5, 7, 11)}

In [7]:
def m3(**a):
    print(a.items()) # print all items(all data) present in m3(passed data).

In [8]:
m3(a=(1,2,3), b=(4,5,6), c=(7,8,9))

dict_items([('a', (1, 2, 3)), ('b', (4, 5, 6)), ('c', (7, 8, 9))])

In [9]:
def m4(**b):  #you can use print or return any one
    return b.values()  # only values will be printed.

In [10]:
print(m4(a=(1,2,3), b=(4,5,6), c=(7,8,9)))

dict_values([(1, 2, 3), (4, 5, 6), (7, 8, 9)])

In [11]:
def m5(**c):  
    return c.keys()  # all key data will be printed

In [12]:
m5(a=(1,2,3), b=(4,5,6), c=(7,8,9))

dict_keys(['a', 'b', 'c'])

# both *args and **kwargs

In [1]:
def f1(*a,**b):
    return a,b

In [2]:
f1('vinod','kumar','sai',a='abhi',b='shreyas',c=10) # both positional and keyword arguments

(('vinod', 'kumar', 'sai'), {'a': 'abhi', 'b': 'shreyas', 'c': 10})

In [3]:
# another way, I'll seperate the data and i want to print the different data types data  
lst=[1,2,3,4,5,6,7,8,9,10]
dict_args={'a':'vinod','b':'kumar','c':'sai','d':'abhi','e':'shreyas'}

In [4]:
f1(lst,dict_args) #If i print the data like this, I'll get combined data, I don't want this

(([1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
  {'a': 'vinod', 'b': 'kumar', 'c': 'sai', 'd': 'abhi', 'e': 'shreyas'}),
 {})

In [5]:
f1(*lst,**dict_args) # I'll give postional args(*) as lst, and keys args(**) as dict_args
                     # it will seperate the data, list items seperate and dict items seperate.

((1, 2, 3, 4, 5, 6, 7, 8, 9, 10),
 {'a': 'vinod', 'b': 'kumar', 'c': 'sai', 'd': 'abhi', 'e': 'shreyas'})

In [6]:
lst=[1,2,3,4,5,6,7,8,9,10]

In [9]:
# now I want the even and odd numbers that are present inside lst.
def even_odd(lst):
    for i in lst:
        if i%2 == 0:
            print(i, " is even number")
        else :
            print(i, ' is odd number')

In [10]:
even_odd(lst)

1  is odd number
2  is even number
3  is odd number
4  is even number
5  is odd number
6  is even number
7  is odd number
8  is even number
9  is odd number
10  is even number

# 06. Lambda function :

In [1]:
# this is a noraml function :
def add(a,b):
    return a+b

In [2]:
# If I call that add function :
add(5,8)

13

In [3]:
# here I'm passing two numbers and I'm printing my value. I'm able to get my output.
# can we simplyify this function to less code 
# yes, I can simply the code using lambda.

In [1]:
# Let's see how to use lambda function : 
# you will directly name a function and lambda function, argumnets:

# syntax :
# Lambda arguments : expression

addition = lambda a,b : a + b  # add is a function name, lambda keyword, a,b are arguments, a+b is an expression
addition(5,7)  # calling my function with two arguments

12

In [2]:
# I'll call with different numbers:
addition(20,40)

60

In [3]:
print(addition(40,60))

100

In [4]:
# you can't perform with multiple expression:
ad = lambda a,b,c: a+b*c
ad(1,2,3)    #give you error

7

In [5]:
# you can perform with many arguments but single expression : 
addd = lambda a,b,c,d : a+b+c+d
addd(1,2,3,4)

10

In [6]:
print(lambda a,b : a-b)  # You can't do like this, you need to call lambda function first & then print the output

<function <lambda> at 0x000001BE365D5C10>

In [8]:
evod = lambda a:"even" if a%2 == 0 else "odd"  #correct way of printing evod

In [9]:
evod(5)

'odd'

In [10]:
evod(4)

'even'

# 07. map function ():

Syntax of map function()

In [ ]:
map(function, iter)
map -> map function
function -> function name(user defined)
iter -> returns iterator object(int,float,...)

In [1]:
lst=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]  # I have list of numbers

In [2]:
# normal function :
def evod(lst):
    for i in lst:
        if i%2 == 0:
            print("num {} is an even." .format(i))
        else:
            print("num {} is an odd.".format(i))

In [3]:
evod(lst) #I'll call my functions using lst argument.

num 1 is an odd.
num 2 is an even.
num 3 is an odd.
num 4 is an even.
num 5 is an odd.
num 6 is an even.
num 7 is an odd.
num 8 is an even.
num 9 is an odd.
num 10 is an even.
num 11 is an odd.
num 12 is an even.
num 13 is an odd.
num 14 is an even.
num 15 is an odd.
num 16 is an even.

In [4]:
# this is a nraml function
# Let's see a using map how can we get this output

In [5]:
lst=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]  # this is the iter.

In [6]:
# creating a function :
def evod1(lst):
    for i in lst:
        if i%2 == 0:
            print("num {} is an even." .format(i))
        else:
            print("num {} is an odd.".format(i))

In [7]:
# I have already created a function "evod"
#syntax is : map(fun, iter):

map(evod1,lst)

In [8]:
#  I'll convert this into list.
list[map(evod1,lst)] # you can't use [] to intialize

list[<map object at 0x000001F3D3EBD130>]

In [9]:
# use list()
list(map(evod1,lst)) # I used for loop(iterator) so error

TypeError: 'int' object is not iterable

In [10]:
# now I'll remove for loop and if i try i'll able to get output

In [11]:
# creating a function :
def evod1(num):
    if num%2 == 0:
        return "num {} is an even." .format(num)
    else:
        return "num {} is an odd.".format(num)

In [12]:
lst=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]

In [13]:
list(map(evod1,lst))

['num 1 is an odd.',
 'num 2 is an even.',
 'num 3 is an odd.',
 'num 4 is an even.',
 'num 5 is an odd.',
 'num 6 is an even.',
 'num 7 is an odd.',
 'num 8 is an even.',
 'num 9 is an odd.',
 'num 10 is an even.',
 'num 11 is an odd.',
 'num 12 is an even.',
 'num 13 is an odd.',
 'num 14 is an even.',
 'num 15 is an odd.',
 'num 16 is an even.']

In [14]:
tuple(map(evod1,lst)) # you can use tuple also

('num 1 is an odd.',
 'num 2 is an even.',
 'num 3 is an odd.',
 'num 4 is an even.',
 'num 5 is an odd.',
 'num 6 is an even.',
 'num 7 is an odd.',
 'num 8 is an even.',
 'num 9 is an odd.',
 'num 10 is an even.',
 'num 11 is an odd.',
 'num 12 is an even.',
 'num 13 is an odd.',
 'num 14 is an even.',
 'num 15 is an odd.',
 'num 16 is an even.')

In [15]:
dict{map(evod1,lst)} # but dict gives error

SyntaxError: invalid syntax (4134114846.py, line 1)

In [16]:
lst=[1,2,3,4,5,6,7,8,9,10]

result = map(lambda x: x + x, lst) # x is data inside lst, (1+1, 2+2, 3+3)
print(list(result)) # list(output) # return output in list format.

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [17]:
fir = [1,2,3,4,5]  # one list
fir1 = [6,7,8,9,10]  # second list
dump = map (lambda x,y : x+y, fir,fir1)  # calculation add 1st list and 2nd list.
print(tuple(dump))  # return output in tuple format

(7, 9, 11, 13, 15)

# 08. Filter function() :

syntax of filter function() :

In [ ]:
filter(function, sequence)
filter -> filter function.
function -> function name(user defined/your function name).
sequence -> which needs to filter it may be list, tuple, ...(input).

In [1]:
lst=['v','i','n','o','d','s','a','i','k','u','m','a','r']  #I'll take a list

In [2]:
# The function which finds vowels in a list
def func(lst):
    sequence = ['a','e','i','o','u']  # This is the reference to find vowels in list
    for i in lst:
        if i in sequence:
            print('{} : is vowel '.format(i))
        else:
            print('{} : is not vowel ' .format(i))

In [3]:
func(lst)

v : is not vowel
i : is vowel
n : is not vowel
o : is vowel
d : is not vowel
s : is not vowel
a : is vowel
i : is vowel
k : is not vowel
u : is vowel
m : is not vowel
a : is vowel
r : is not vowel

In [4]:
filter(func,lst)

In [5]:
lst1 = ['vinod', 'sai','kumar','reddy','abhi']

In [6]:
def func(lst):
    sequence = ['a','e','i','o','u']  # This is the reference to find vowels in list
    for i in lst:
        if i in sequence:
            print('{} : is vowel '.format(i))
        else:
            print('{} : is not vowel ' .format(i))

In [7]:
list(filter(func1,lst1))

NameError: name 'func1' is not defined

In [8]:
lst1 = ['vinod', 'sai','kumar','reddy','abhi']

In [9]:
def func1(i):
    sequence = ['a','e','i','o','u']  # This is the reference to find vowels in list
    if i in sequence:
        print('{} : is vowel '.format(i))
    else:
        print('{} : is not vowel ' .format(i))

In [10]:
list(filter(func1,lst1))  # for loop is removed and it will take word as an item.

vinod : is not vowel
sai : is not vowel
kumar : is not vowel
reddy : is not vowel
abhi : is not vowel

[]

In [11]:
nums = [1,2,3,4,5,6,7,8,9,10,12,13,14,15,16,17,20]

In [12]:
# prints the even numbers only from 
def even(n):
    if n%2 == 0:
        return True

In [13]:
filter(even,nums) # lazy loading techniques, store this in a list

In [14]:
list[filter(even,nums)]  # not like this, not in [ ]

list[<filter object at 0x0000024300AADDF0>]

In [15]:
# I said to return which are the values are true(satisfies condition)
list(filter(even,nums)) # like this, store in ( )

[2, 4, 6, 8, 10, 12, 14, 16, 20]

In [16]:
# for odd numbers
def odd(n):
    if n%2 != 0:  #( !=0 ) means not equal to zero
        return True

In [17]:
list(filter(odd,nums)) # These are the odd numbers from list of numbers.

[1, 3, 5, 7, 9, 13, 15, 17]

In [1]:
nums = [1,2,3,4,5,6,7,8,9,10,12,13,14,15,16,17,20]

In [2]:
# Let's use lambda() inside filter():
list(filter(lambda n : n%2 == 0, nums)) # for even numbers

[2, 4, 6, 8, 10, 12, 14, 16, 20]

In [3]:
list(filter(lambda n : n%2 != 0, nums)) # for odd nubers

[1, 3, 5, 7, 9, 13, 15, 17]

# true vs false

In [4]:
list(filter(lambda n : True if n%2 == 0 else False, nums))  # filter only prints true  values not false values.

[2, 4, 6, 8, 10, 12, 14, 16, 20]

# we didn't see false values, Let's use map to check it actually gives false value too or not.

In [5]:
list(map(lambda n : True if n%2 == 0 else False, nums))

[False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 False,
 True,
 False,
 True]

# 09. list comprehension :

In [ ]:
# syntax of list comprehension :
newlist = [expression(element) for element in oldlist if condition]
expression -> resulant(i+i,i*i,i-i,i+2).
element -> i,j,k,a,b,etc,.
for ->for clause
if ci=ondition -> if,elif conditions

In [1]:
lst = [1,2,3,4,5,6,7] # I have takena list of numbers.

In [2]:
def lst_square(lst):
    lst1=[]   # I have an empty list.
    for i in lst:
        lst1.append(i*i)  # I'm appending every number into my empty list as i*i (1*1,2*2,...)
    return lst1  # I' returning my lst1

In [3]:
# If I call my function lst_square:
lst_square(lst) # I'm able to get my output.

[1, 4, 9, 16, 25, 36, 49]

In [4]:
# I want to square only odd numbers then :
def lst_square_odd(lst):
    lst2=[]
    for i in lst:
        if i%2 != 0:   # applied conditionthat only odd numbers have to enter into next step
            lst2.append(i*i)
    return lst2

In [5]:
# if i call my lst_square_odd :
lst_square_odd(lst)

[1, 9, 25, 49]

In [1]:
lst = [1,2,3,4,5,6,7] # I have taken a list of numbers.

In [2]:
# using list comprehensiion method for above example :

def lst_square1(lst):
    a = [i*i for i in lst]  # i just written 1 line for calculation.
    return a

In [3]:
lst_square1(lst)

[1, 4, 9, 16, 25, 36, 49]

In [4]:
# what if i want to print only even numbers : 

def lst_square1_even(lst):
    b = [i*i for i in lst if i%2 == 0]
    return b

In [5]:
lst_square1_even(lst)

[4, 16, 36]

In [6]:
# i'll use range function and with different oparetion :
def dd():
    c = [i for i in range(10)]  # print range of 0 to 10 indexes numbers
    return c

In [7]:
dd()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
# printing list of numbers as [i+i]

def fun(lst):
    a = [i+1 for i in lst] 
    return a

In [3]:
fun(lst)

[2, 3, 4, 5, 6, 7, 8]

In [4]:
# normal function to print matrix of elements: 

matrix = []
 
for i in range(3):
 
    # Append an empty sublist inside the list
    matrix.append([])
 
    for j in range(4):
        matrix[i].append(j)
 
print(matrix)

[[0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3]]

In [5]:
# above eg using list comprehension : 

# Nested list comprehension
matrix = [[j for j in range(4)] for i in range(3)] # 3 is how many times, 4 is how many indexes
 
print(matrix)

[[0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3]]

# 10. Dictionary comprehension :

In [ ]:
# I'll take keys and values as a seperate data : 

keys = ['a','b','c','d']
values = ['vinod', 'sai', 'abhi', 'shreyas']

# I'll apply for loop in a comprehension method,
#I'll use zip function here 

output = { k:v for (k, v) in zip(keys,values) }  # k and v is a variable name for keys and values.
print(output)

In [3]:
# you can use range function inside a dictionary : 
# This is a square of numbers :

square = {i : i * i for i in range(1,11)}
print(square)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [4]:
add = {x : x + x for x in range(1,11)}
print(add)

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20}

In [7]:
odd_even = {s : 'even' if s%2 == 0 else 'odd' for s in range(1,10)}
print(odd_even)

{1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd', 6: 'even', 7: 'odd', 8: 'even', 9: 'odd'}

# 11. Set comprehension :

In [1]:
s = {i for i in range(1,11)}  # I wanted a numbers fom 1 to 11 in set format
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [2]:
type(s) # so the type of S is set.

set

In [3]:
x = [1,2,3,4,5,6,7,8,9]
{i : 'even ' if i%2 == 0 else "odd " for i in x  }

{1: 'odd ',
 2: 'even ',
 3: 'odd ',
 4: 'even ',
 5: 'odd ',
 6: 'even ',
 7: 'odd ',
 8: 'even ',
 9: 'odd '}

In [4]:
v = [1,2,3,4,5,6,7,8,9]
{i*i for i in v}  # prints square root of each number inside a list

{1, 4, 9, 16, 25, 36, 49, 64, 81}

In [5]:
def fun(lst):  # create a function
    d = {i*i for i in lst}   # stored the ouput into d
    return d   # calling d 

# passing data into function :
fun([1,2,3,4,5,6,7])  # function_name(argument)

{1, 4, 9, 16, 25, 36, 49}

In [6]:
def even_odd(lst):
    v = {i : 'even ' if i%2 == 0 else "odd " for i in lst  }
    return v

 # passing data into function
even_odd([11,12,13,14,15,16,17,18,19,20])

{11: 'odd ',
 12: 'even ',
 13: 'odd ',
 14: 'even ',
 15: 'odd ',
 16: 'even ',
 17: 'odd ',
 18: 'even ',
 19: 'odd ',
 20: 'even '}

# 12. ITERATOR VS ITERABLE :

In [11]:
# i think you will able to undertand 

a = 'vinod'
for i in a:
    print(i) 

 # it will give output coz string can store pne after another location.

v
i
n
o
d

In [12]:
# now when it comes to number , it will raise an error 

b = 2022
for i in b:
    print(i)  
    
# becoz when yyou want to store the number , you will store in one position, you can't store 2002 as 2,0,2,2

TypeError: 'int' object is not iterable

In [14]:
c = 'sai kumar'
for i in c:
    print(i)
    
# but you can store the string as a s,a,i, ,k,u,m,a,r

s
a
i

k
u
m
a
r

In [23]:
# you can use list, tuple, dict as well

a1 = [1,2,3,4,5,6]
for i in a1:
    print('list iterable are : ',i)
    
print('***********')
    
a2 = set((11,22,33,44,55,66))
for i in a2:
    print('set iterables are : ',i)
    
print('***********')
    
a3 = {'a' : 'vinod' , 'b' : 'sai'}
for i in a3:
      print('dict iterables are : ',i)

list iterable are :  1
list iterable are :  2
list iterable are :  3
list iterable are :  4
list iterable are :  5
list iterable are :  6
***********
set iterables are :  33
set iterables are :  66
set iterables are :  11
set iterables are :  44
set iterables are :  22
set iterables are :  55
***********
dict iterables are :  a
dict iterables are :  b

In [28]:
# first we store our value in a, then we apply iter function

a = 'vinod'
b = iter(a)  # iter through a
next(b)  # print the every next word in a

'v'

In [30]:
# v is printed, the next is i

next(b)

'i'

In [31]:
# next is n

next(b)

'n'

In [32]:
next(b)

'o'

In [33]:
next(b)

'd'

In [42]:
iterable_value = 'vinod'
iterable_obj = iter(iterable_value)

while True : 
    item = next(iterable_obj)
    print(item)
    
# the error means iteration stopped
# I'll use exception handling for not raising this error, this concept not done yet, we will see.

v
i
n
o
d

StopIteration:

In [47]:
iterable_value = 'vinod'
iterable_obj = iter(iterable_value)

while True : 
    try : 
        item = next(iterable_obj)
        print(item)
    except StopIteration:
        break

v
i
n
o
d

# 13. iterable vs generator

In [51]:
def fun1():
    yield 1
    yield 2
    yield 3
    yield 4
    yield 5
    yield 6
    
for i in fun1():
    print(i)

1
2
3
4
5
6

In [56]:
# using a next() in generators :

# I'll store some data in a,b and c:
a = [1,2,3,4]
b = [5,6,7,8]
c = [11,22,33,44,55,66]

# I'll create a function which produce values of a, b and c
def fun2():
    yield a
    yield b
    yield c
    
# calling my function :    
x = fun2()
# I'll use next function to print every data:
print(x.next())
print(x.next())
print(x.next())

AttributeError: 'generator' object has no attribute 'next'

In [53]:
# i can use __next__() here to overcome this error:

x = fun2()

print(x.__next__())
print(x.__next__())
print(x.__next__())

[1, 2, 3, 4]
[5, 6, 7, 8]
[11, 22, 33, 44, 55, 66]

In [57]:
x = fun2()

# printing next value of x
print(next(x))
print(next(x))
print(next(x))

[1, 2, 3, 4]
[5, 6, 7, 8]
[11, 22, 33, 44, 55, 66]

In [50]:
# I'll give you a common example of using generator 
# i.e,  printing a fibonacci series :

def genfib(n):
    a=1
    b=1
    for i in range(n):
        yield a
        a,b = b,a+b
        
# If you call function directly it give only ocation, not values. So you have to iterate through that function :
# you can append every value into list & print the list      
x = genfib(7)
l = []
for i in x:
    l.append(i)
    print(i)

1
1
2
3
5
8
13

In [48]:
# or you can directly use loop statement :
x = genfib(7)
for i in x:
    print(i)

1
1
2
3
5
8
13

In [60]:
# using iter function in generator :

c = genfib(9)
x = iter(c)
for i in x:
    print(i)

1
1
2
3
5
8
13
21
34

# 14. LOGGING :

In [1]:
# first import the logging module:

import logging as lg

# lg is a alias, whenever you want to call logging just call as lg

In [2]:
# you need to create a file, you can do manually. I'll create here itself.
# for that I'll import os

import os

In [3]:
# check the cwd( current eorking directoy ):

os.getcwd()

'C:\\Users\\Dell'

In [4]:
# here I'll create a logging file :

os.mkdir("logging")

In [5]:
# now let's move into this logging file :

os.chdir(os.getcwd() + '/' + 'logging')

In [6]:
# now we entered inside of logging file :
# let's check 

os.getcwd()

'C:\\Users\\Dell\\logging'

# creating a logging in local system

In [7]:
# so for logging module i set alias as lg

lg.basicConfig(filename = "test1.log" , level = lg.DEBUG, format = '%(asctime)s %(name)s %(levelname)s %(message)s')

# lg.basicConfig -> configures the root user and it does basic configuration by creating a strem handler.
# level -> This is like a reason, that this file is to debug/information/errors/warnings
# format -> This is the format of printing the log info, like time, user_name, leve_name, message,

In [8]:
# so above cell is executed that means it created a test1.log file inside a "logging" file

# I'll just print some data and check if that data is printed on thaat file or not

lg.debug("----this is a debug statement")
lg.info("----this is a info statement")
lg.error("----this is a error statement")
lg.warning("----this is a warning statement")

In [9]:
# Let me try to do some error
# here i'll use exception handling, we will see the topic later, just understand this
# try -> tries the code
# except -> it will except the error, not raises an error.


# I'll create a function :

def err(a,b):
    
    try:
        c = a/b
    except Exception as e:  # it will exept all exceptions and stored in e
        print("error is : ",e, " and you can check in log file also")  # if error occurs this is printed
        lg.error(e)     #lg is a logging module, lg.error(<error is printed inside the log file>)

In [10]:
err(4,0)   # 4/0 is a div by zero error

error is :  division by zero  and you can check in log file also

In [11]:
err(5,0)

error is :  division by zero  and you can check in log file also

In [12]:
err(1,0)

error is :  division by zero  and you can check in log file also

# EXCEPTION HANDLING :

try - except blocks :

In [1]:
# let's raise an error or let's make some error :

def division():
    a=4
    b=0
    c=a/b
    print(c)

In [2]:
# call the division function :

division()

ZeroDivisionError: division by zero

see we have error here, when you want to handle these tyoe of errors, use exception handling.

In [9]:
def ad():
    try:
        c = 4/0
        print(c)
        
ad()

IndentationError: unexpected unindent (3797543006.py, line 6)

In [10]:
try:
    6/0

SyntaxError: unexpected EOF while parsing (3551830121.py, line 2)

In [11]:
# using try aand except block :

try :
    4/0
except:
    print("I got error")

I got error

In [12]:
try : 
    A = B + C
except :
    print("values not defined, so error occured")

values not defined, so error occured

In [13]:
# I don't have a file name wiht vin.txt iin this dir :

p = open("vin.txt", 'r')

FileNotFoundError: [Errno 2] No such file or directory: 'vin.txt'

see i don't have this file, i don't want to print this error :

In [14]:
try : 
    p = open("vin.txt", 'r')
except :
    print("Oh!! I don't have this file")

Oh!! I don't have this file

In [1]:
# you know 4/0 is "ZeroDivisionError" type of error :
# SO here i'll specify only division by zero error it should except, not other :

try :
    c = 4 / 0
except ZeroDivisionError:
    print("ZeroDivisionError raised here ")

ZeroDivisionError raised here

In [2]:
# this also a ArithmeticError :
try:
    a = 5 / 0
except ArithmeticError:  # this can handle a=5/0
    print("ArithmeticError raised here")

ArithmeticError raised here

In [3]:
# now I'll try same error for FileNotFoundError :

try :
    p = open("vin.txt", 'r')
except ZeroDivisionError :
    print("This only for ZeroDivisionError")

FileNotFoundError: [Errno 2] No such file or directory: 'vin.txt'

the zero division error didn't handle FileNotFoundError

In [4]:
# when I use FIleNotFoundError instead of ZeroDivisionError , it will handle :

try :
    p = open("vin.txt", 'r')
except FileNotFoundError :
    print("now error handled, when you used FileNotFoundError")

now error handled, when you used FileNotFoundError

In [1]:
# now we will print what type of error we got : 
# I'm not defined value of b :

try : 
    a = 1
    c = a + b
    print(c)
except Exception as e:
    print("the error you got is - ",e)

the error you got is -  name 'b' is not defined

In [2]:
# a syntax error I'll do :

try:
    a = 1
    b = 2
    print(a + "b")
    
except Exception as e :
    print("the error I got is - ",e)

the error I got is -  unsupported operand type(s) for +: 'int' and 'str'

In [1]:
# this is Name Error type of error so it handled :
try : 
    a = 1
    c = a + b
    print(c)
except NameError as e:
    print("the error you got is - ",e)

the error you got is -  name 'b' is not defined

In [2]:
# when I use above code to except syntaxerror and i try to print the type of error, it won't give

try : 
    a = 1
    c = a + b
    print(c)
except SyntaxError as e:
    print("the error you got is - ",e)

NameError: name 'b' is not defined

try - except - else :

In [3]:
try:
    a = 5/4 # error won't be there, so uses else block
except Exception as e:  
    print("error detected and handling done :",e)
else:
    print("fine with the code, a = ",a)

fine with the code, a =  1.25

In [4]:
# Same code if i replace 4 with 0, it tis division by zero error
try:
    a = 5/0 # error won't be there, so uses else block
except Exception as e:  
    print("error detected and handling done :",e)
else:
    print("fine with the code, a = ",a)

error detected and handling done : division by zero

nested try - except - else :

In [5]:
# branching in excpetion handling :

try:
    a = 5/4 # no error , uses else block
except Exception as e:
    print("error detected : ",e)
else:
    print("fine with the code")
    try:
        a = open('test.txt','r') # exception handling inside else block
    except Exception as f:
        print('error is  : ',f)

fine with the code
error is  :  [Errno 2] No such file or directory: 'test.txt'

In [6]:
# what will happen when 5/0 instead of 5/4 : 

try:
    a = 5/0 # no error , uses else block
except Exception as e:
    print("error detected, stops here only : ",e)
else:
    print("fine with the code")
    try:
        a = open('test.txt','r') # exception handling inside else block
    except Exception as f:
        print('error is  : ',f)

error detected, stops here only :  division by zero

finally block :

In [10]:
# if error occur or not, finalyy il be execcuted :
try:
    f = 25/5
    print(f)
finally:
    print("finally will be executed, if there is no error.")

5.0
finally will be executed, if there is no error.

In [11]:
try:
    f = 5/0
    print(f)
finally:
    print("finally will be executed, even there is error also.")

finally will be executed, even there is error also.

ZeroDivisionError: division by zero

In [16]:
# I'll write code in finally block
try:
    f = 5/0
except:
    pass
finally:
    print(" output from finally block")
    l=[1,2,3,4,5,6,7,8,9,10]
    [print("even numbers are :",i)  for i in l if i%2 == 0]

 output from finally block
even numbers are : 2
even numbers are : 4
even numbers are : 6
even numbers are : 8
even numbers are : 10

Enter ony integer number which is >o

In [17]:
def here():  #  created a function 
    while True: # once you enter into loop, you can't get out of loop untill you enter the integer >0.
        try:
            a=int(input("enter only integer : ")) 
            d=8/a
        except Exception as e:
            print("this is <= 0, error is : " , e)
        else:
            print("you entered an integer. Hurray!! ")
            break
        finally:
            print('done dude!!')
            
here()

enter only integer : 0
this is <= 0, error is :  division by zero
done dude!!
enter only integer : vinod
this is <= 0, error is :  invalid literal for int() with base 10: 'vinod'
done dude!!
enter only integer : 8
you entered an integer. Hurray!!
done dude!!

raise block :

In [3]:
# here I'll give a funtion, when you give 6 as an argument it will raise an error : 

def ddd(a):
    if a==6:
        raise Exception(a)

In [4]:
ddd(2) # see here when i give 2 no error

In [5]:
ddd(5) # when i give five also no error

In [6]:
ddd(6) # when i give 6 it raises an error

Exception: 6

In [11]:
def d1(a):
    if a == 7:
        raise Exception("error is ",a)  # if a=7, then this willl be printed
    else:
        print("your number number is not 7, so no error raised") # if a != 7, this will be printed

In [12]:
d1(5)

your number number is not 7, so no error raised

In [13]:
d1(4)

your number number is not 7, so no error raised

In [14]:
d1(7)

Exception: ('error is ', 7)

In [18]:
# print user number of even numbers, if any error occurs it should handle that

def even_num():
    try:
        n=int(input("enter how many numbers you want to check even : "))
        for i in range(n):
            if i%2 == 0:
                print("even are : ", i)
    except Exception as e:
        print('error is -> ',e ,' -- excepted')

In [19]:
even_num()

enter how many numbers you want to check even : vinod
error is ->  invalid literal for int() with base 10: 'vinod'  -- excepted

In [20]:
even_num()

enter how many numbers you want to check even : @#$%^&*(
error is ->  invalid literal for int() with base 10: '@#$%^&*('  -- excepted

In [22]:
even_num()

enter how many numbers you want to check even : 10
even are :  0
even are :  2
even are :  4
even are :  6
even are :  8

# OOPS concepts :
Object-oriented programming (OOP) is a computer programming model that organizes software design around data, or objects, rather than functions and logic.

OOPs is used beacuse, OOPs provides a clear structure for the programs. OOPs make the code easier to maintain, modify and debug. OOP makes it possible to create fully reusable applications with less code and shorter development time.
OOPs concept follows : 
1. Classes.
2. Objects.
3. Inheritance.
4. Polymorphism.
5. Encapsulation.
6. Data Abstraction.

# Class and Objects :
Class: "A class creates a new local namespace where all its attributes are defined. Attributes may be data or functions". Or in short we can say, "A class is a blueprint for declaring and creating objects."

Object: "An object is simply a collection of data (variables) and methods (functions) that act on those data." or "An Object is an instance of a Class"

To understand this class and object I'll give a simple practical example. Let's consider a House as a class, inside that we have rooms, doors, windows, things, etc., are the objects.

A car is a class. In the car we have different objects like models, companies, year of manufacture, mileage, engine, etc.,.

In [1]:
class car(): # we have a car class here
    pass  # I'm justing passing, later we write code

In [2]:
audi = car()  # I have considered audi as my 1st car class

In [3]:
# now I'm going to add objects and assigning values to objects :
audi.model = 'Audi Q7'
audi.mileage = '11.21kmpl'
audi.engine = '2995cc'
audi.seat = 7

In [5]:
# IF I need to get values/details, I need to call one by one :
audi.model

'Audi Q7'

In [6]:
audi.mileage

'11.21kmpl'

In [7]:
audi.engine

'2995cc'

In [9]:
class car : #class car
    def __init__(self, milage,year,model,make):   # Initialize the values, self acts as constructor
        self.milage = milage   # it will considered as carname.milage
        self.year = year
        self.model = model
        self.make =make

In [10]:
# class name are car names(nana1,honda) and assigning objects
nano1 = car(80,2022,'vks','ddsd')
honda = car(70,2021,'kks','sdsd')
hyper = car(60,2002,'vvk','dddd')  
dudon = car(90,2023,'vvv','ssss')
# adding some data into class

In [11]:
nano1.milage

80

In [12]:
hyper.year

2002

In [21]:
# using __str__ :
class car :
    def __init__(a, milage,year,model,make):
        a.milage = milage
        a.year = year
        a.model = model
        a.make =make
        
    def age(b,cur_year):
        return cur_year - b.year
    
    def mil(c):
        print('print milage of car is : ',c.milage)
    
    def __str__(d): # it returns the given data when you call car name
        return'this is class car'

In [22]:
nano1 = car(80,2022,'vks','ddsd')

In [23]:
nano1.mil()

print milage of car is :  80

In [24]:
nano1  # when you call car name, it gives output like this.

In [25]:
print(nano1) # It will print car name, it gives output like this

this is class car

In [2]:
# student details. 
class student:
    
    def __init__(self,name,rollno,joining,topic):
        self.name = name
        self.rollno = rollno
        self.joining = joining
        self.topic = topic
        
    def output(self):  # printing the data that you give
        if type(self.name) == list:  # prints only data when it is list
            for i in self.name:
                print(i)
        elif type(self.name) == tuple:  # prints only data when it is tuple
            for i in self.name:
                print(i)
        elif type(self.name) == dict:  # prints data only when it is fictionary
                print(self.name.items())
        else:
            print("student details")
    
    
    def c_rollno(self):  # Roll_no 
        if type(self.rollno) == str:  # it will raise error, if you enter rollno as str
            raise Exception("enter only int or intvar")  # it will return rollno when it is int
        else:
            return str(self.rollno)  
        
    def cur_year(self,cur_year):  # year gap
        return 'gap is :',cur_year - self.joining
    
    def __str__(self):
        return "this is a student class."

In [3]:
# adding data into class
vinod = student('vinod','697',2020,'python')
sai = student('sai',568,2019,'data science')

In [4]:
# I raised an exception here by giving roll.no as str. It should be int
vinod.c_rollno()

Exception: enter only int or intvar

In [5]:
vinod.cur_year(2022)

('gap is :', 2)

In [6]:
# giving data in list format
abhi = student(['vinod1','sai1','abhi1','shreyas1'],22,45,2022)
abhi.output()

vinod1
sai1
abhi1
shreyas1

In [7]:
# giving data in tuple format:
abhi = student(('vinod1','sai1','abhi1','shreyas1'),22,45,2022)
abhi.output()

vinod1
sai1
abhi1
shreyas1

In [8]:
# giving data in dictionary format
abhi = student({'a':'vinod1','b':'sai1','c':'abhi1','d':'shreyas1'},22,45,2022)
abhi.output()

dict_items([('a', 'vinod1'), ('b', 'sai1'), ('c', 'abhi1'), ('d', 'shreyas1')])

In [1]:
class function:
    def __init__(self,dicti):  # initialize the object names
        self.dicti = dicti
    
    def dict_keys(self):  # function to return keys
        if type(self.dicti) == dict:
            print(self.dicti.keys())
        else:
            raise Exception ('only dictionary values will be taken.')
    
    def dict_values(self):  # function to return values
        if type(self.dicti) == dict:
            print(self.dicti.values())
        else:
            raise Exception (' only dictionary values will be taken.')

    def add_new(self):  # function to add new data, not into main dictionary
        self.new={}
        keys = input("enter only the key : ")
        values = input("enter only the value : ")
        self.new[keys]=values  # add keys and values into  new {}
        print("now entered is : ",self.new)
        
    def add_to_main(self,keys,values): # function to add new data into main dictionary
        self.dicti[keys]=values
        
    def show(self):  # function to print all the data
        print(self.dicti)

In [2]:
now = function({'a':'vinod','b':'kumar','c':'sai'})

In [3]:
now.dict_keys()

dict_keys(['a', 'b', 'c'])

In [4]:
now.dict_values()

dict_values(['vinod', 'kumar', 'sai'])

In [5]:
now.add_new() # this will be just stored in new, not stored in main dictionary

enter only the key : d
enter only the value : shreyas
now entered is :  {'d': 'shreyas'}

In [6]:
now.show()

{'a': 'vinod', 'b': 'kumar', 'c': 'sai'}

In [7]:
now.add_to_main('e','abhi') # this will be added to main dictionary

In [8]:
now.show()# only e key is added. d is not added

{'a': 'vinod', 'b': 'kumar', 'c': 'sai', 'e': 'abhi'}

# 02. Inheritance
Inheritance is a process of obtaining properties and characteristics(variables and methods) of another class. 

In this hierarchical order, the class which inherits another class is called subclass or child class, and the other class is the parent class.

Inheritance allows us to define a class that inherits all the methods and properties from another class. 

Parent class is the class being inherited from, also called base class. 

Child class is the class that inherits from another class, also called derived class.

Types of Inheritance :

1. Single Inheritance.
2. Multiple Inheritance.
3. Multilevel Inheritance.
4. Hierarchical Inheritance : When more than one derived class are created from a single base this type of inheritance is called hierarchical inheritance. In this program, we have a parent (base) class and two child (derived) classes.
5. Hybrid Inheritance : Inheritance consisting of multiple types of inheritance is called hybrid inheritance.

### Single Inheritance

In [1]:
# first create a class(parent class) and then create another class(child class) : 
# this is parent class
class parent:
    def __init__(self, a, b, c):
        self.a = a
        self.b = b
        self.c = c
    
    def test(self):
        print("this is test in parent class")
    
    def test1(self):
        print("this is test1 in parent class")
        
    def test2(self):
        print("this is test2 in parent class")
        
# child class :
class child(parent):  # in this class no parameters/arguments. Just inherited the parent class parameters(a,b,c)
    def test(self):
        print("this is test from child class")

In [2]:
par = parent(1,2,3) # this is for class parent
chi = child(4,5,6)  # this is for class child(paramters are inherited from parent class)

In [3]:
par.a  # parent class value of a

1

In [5]:
chi.a  # child class (that inherites parent) value of a

4

In [6]:
par.test()

this is test in parent class

In [7]:
chi.test()

this is test from child class

### multiple inheritance

In [7]:
class c1(object): # class one
    def __init__(self):
        self.str1 = "vinod"
        print("class 1")
 
 
class c2(object): # class two
    def __init__(self):
        self.str2 = "kumar"
        print("class 2")
 
 
class Derived(c1, c2):  # class contain 1st and 2nd class
    def __init__(self):
 
        # Calling constructors of c1
        # and c2 classes
        c1.__init__(self) # return print data of c1 class
        c2.__init__(self) # return print data of c2 class
        print("Derived")
 
    def allstr(self):
        print(self.str1, self.str2) # str1 of class 1, str2 of class 2

In [8]:
out = Derived() # derived class which contain both c1 and c2 classes.

class 1
class 2
Derived

In [9]:
out.allstr() # allstr function which returns str1 and str2 of both c1 and c2 classes.

vinod kumar

In [17]:

class parent(object):
    
    def __init__(self, name):  # only name will be given here
        self.name = name
 
    # To get name
    def getName(self):
        return self.name
 
 
# Inherits parent class
class Child(parent):

    def __init__(self, name, age): 
        parent.__init__(self, name)  # get the name from parent class.
        self.age = age               # age attribute getfrom in this class itself
 
    # To get name
    def getAge(self):
        return self.age

# Inherits both parent and child class
class GrandChild(Child):
 
    # Constructor
    def __init__(self, name, age, address):
        Child.__init__(self, name, age)   # get the name and age from child class (child inherits parent class)
        self.address = address
 
    # To get address
    def getAddress(self):
        return self.address

In [18]:
output = GrandChild("Krishna", 23, "banglore")

In [19]:
# get output of name, age and address
print(output.getName(), output.getAge(), output.getAddress())

Krishna 23 banglore

# polymorphism :

In [3]:
# these are in-built polymorphic functions :

# len() being used for a string
print("len of word : " , len("vinod"))
 
# len() being used for a list
print("len of list : " , len([10, 20, 30]))

len of word :  5
len of list :  3

In [4]:
# user defined polymorphic functions :

def add(x, y, z = 0):  # i assigned value 0. while calling add, you can give or drop z value no problem
    return x + y + z
 
# Driver code
print("sum of two numbers : ", add(2, 3))
print("sum of three numbers : ", add(2, 3, 4))

sum of two numbers :  5
sum of three numbers :  9

In [6]:
class man1():
    def name(self):
        print("Vinod Kumar")
    
    def height(self):
        print("5.6")
 
    def language(self):
        print("Telugu")
        
    def place(self):
        print("Banglore")
 
 
class man2():
    def name(self):
        print("Sai Kumar")
    
    def height(self):
        print("5.9")
 
    def language(self):
        print("English")
        
    def place(self):
        print("Banglore")

In [8]:
m1 = man1()  # m1 is man 1
m2 = man2()  # m2 is man 2
for details in (m1, m2):  
    details.name()      # both person's name
    details.height()    # both person's height
    details.language()  # both person's language
    details.place()     # both person's place

Vinod Kumar
5.6
Telugu
Banglore
Sai Kumar
5.9
English
Banglore

In [4]:
# example for polymorphism with inheritance

class animal:
    def intro(self):
        print("There are many types of animals in the world.")
    
    def types(self):
        print("Wild animals and Domestic animals.")
        
class wild(animal):  # class wild inherits animal class
    def types(self):
        print("Lion, tiger, cheetah")
        
class domestic(animal):   # clas domestic inherits animal class.
    def types(self):
        print("dog, cat, cow, monkey")

In [5]:
ani = animal()
ani_wild_ = wild()
ani_domestic_ = domestic()

In [6]:
ani.intro()
ani.types()
 
ani_wild_.intro() # class wild inherits animal class, so intro function we can access
ani_wild_.types()
 
ani_domestic_.intro()
ani_domestic_.types()

There are many types of animals in the world.
Wild animals and Domestic animals.
There are many types of animals in the world.
Lion, tiger, cheetah
There are many types of animals in the world.
dog, cat, cow, monkey

# Encapsulation :
Encapsulation is a mechanism of wrapping the data (variables) and code acting on the data (methods) together as a single unit. In encapsulation, the variables of a class will be hidden from other classes, and can be accessed only through the methods of their current class.

### Protected members :
To accomplish this in Python, just follow the convention by prefixing the name of the member by a single underscore "_".
### private members :
However, to define a private member, prefix the member's name with double underscore "__".

In [8]:
class student:
    def __init__(self,name,age,sex):
        self.name = name
        self._age = age  # protected member
        self._sex = sex  # protected member
        
    def det(self):
        print("age is : ", self._age)  # accessing protected member in the same class
        print("sex is : ", self._sex)  # accessing protected member in the same class
        
class out(student):
    def __init__(self,name,age,sex):
        student.__init__(self,name,age,sex)  # calling details
        
    def details(self):
        print('name is : ',self.name)
        self.det()

        
        
x = out('vinod',22,'male')
x.details()

name is :  vinod
age is :  22
sex is :  male

In [14]:
class student:
    def __init__(self,name,age,sex):
        self.name = name
        self._age = age  # protected member
        self._sex = sex  # protected member
        
class out(student):
    def __init__(self,name,age,sex):
        student.__init__(self,name,age,sex)  # calling details
        
    def details(self):
        print('name is : ',self.name)
        print('age is : ', self._age)
        print('sex is : ', self._sex)
        
        

x = out('vinod',22,'male')
x.details()

name is :  vinod
age is :  22
sex is :  male

In [16]:
class student:
    def __init__(self,name,age,sex):
        self.name = name
        self.__age = age  # private member
        self.__sex = sex  # Privated member
        
class out(student):
    def __init__(self,name,age,sex):
        student.__init__(self,name,age,sex)  # calling details
        
    def details(self):
        print('name is : ',self.name)
        print('age is : ', self.__age) # accessing age which is private
        print('sex is : ', self.__sex) # accessing sex which is private
        # if you try to print the age n sex directly here u won't ge data, coz they are private members

x = out('vinod',22,'male')
x.details()

name is :  vinod

AttributeError: 'out' object has no attribute '_out__age'

In [18]:
class student:
    def __init__(self,name,age,sex):
        self.name = name
        self.__age = age  # private member
        self.__sex = sex  # private member
     
    # this function is giving access to the other classes
    def det(self):
        print("age is : ", self.__age)  # accessing private member in the same class
        print("sex is : ", self.__sex)  # accessing private member in the same class
        
class out(student):
    def __init__(self,name,age,sex):
        student.__init__(self,name,age,sex)  # calling details
        
    def details(self):
        print('name is : ',self.name)
        self.det()

        
        
x = out('sai',22,'female')
x.details()

name is :  sai
age is :  22
sex is :  female

# data  abstraction

Abstraction means displaying only essential information and hiding the details.

In [5]:
# abstrction (using multiple inheritance concept):
class one:   # main or parent class
    def statement(self):
        pass  # pass means, pass even it doesn't contain any data and doesn't raise an error

    
# from here we are writing code to add data into statement() function
class two(one):  # inherits class one
    def statement(self):
        print("Overridden statement() from class two")
        
class three(one):  # inherits class one
    def statement(self):
        print("overridden statement() from class three")
        
class four(one):  # inherits class one
    def statement(self):
        print("overridden statement() from class four")

In [6]:
p = two()
p.statement()

q = three()
q.statement()

r = four()
r.statement()

Overridden statement() from class two
overridden statement() from class three
overridden statement() from class four

In [9]:
class Animal():
    def move(self):
        pass
 

class Human(Animal):
    def move(self):
        print("I can walk and run")
 

class Snake(Animal):
    def move(self):
        print("I can crawl")
 

class Dog(Animal):
    def move(self):
        print("I can bark")
 

class Lion(Animal):
    def move(self):
        print("I can roar")

In [10]:
H = Human()
H.move()
 
S = Snake()
S.move()
 
D = Dog()
D.move()
 
L = Lion()
L.move()

I can walk and run
I can crawl
I can bark
I can roar

In [14]:
 from abc import abstractmethod   # absractmethod module

class Polygon():
    @abstractmethod
    def noofsides(self):
        pass
 

class Triangle(Polygon):
    # overriding abstract method
    def noofsides(self):
        print("I have 3 sides")
 

class Pentagon(Polygon):
    # overriding abstract method
    def noofsides(self):
        print("I have 5 sides")
 

class Hexagon(Polygon):
    # overriding abstract method
    def noofsides(self):
        print("I have 6 sides")
 

class Quadrilateral(Polygon):
    # overriding abstract method
    def noofsides(self):
        print("I have 4 sides")

In [15]:
R = Triangle()
R.noofsides()
 
K = Quadrilateral()
K.noofsides()
 
R = Pentagon()
R.noofsides()
 
K = Hexagon()
K.noofsides()

I have 3 sides
I have 4 sides
I have 5 sides
I have 6 sides